<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>

        <body class="layout-portal ">
        <header class="page">
    <div class="container">
        <a class="branding" title="Home">
            <img src="/assets/img/water3-logo.png" alt="Water3">
        </a>
    </div>
</header>
<ion-content style="background-color: #368ba1">
            <main class="page">
                <section class="component component-section">
            <div class="container">
                <h1>Please enter your passcode</h1>
            </div>
        </section>

        <div class="content narrow">
            <section class="component component-form">
                                
                <form accept-charset="UTF-8" novalidate="novalidate"><input name="_session_key" type="hidden" value="UmMp95y7UsIKq0wFv9HybanFbFQKZllT2yfyALOa"><input name="_token" type="hidden" value="fzjkFcCSHFdpYLYa4Iogpix7ogBm5Cuw1DLYfo30">
                    <div class="field-group">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="first" class="sr-only">First name</label>
                                    <span class="icon icon-lock"></span>
                                    <input disabled class="form-control separator-form-control" placeholder="" name="first" type="password" pattern="[0-9]*" id="first" [(ngModel)]="first">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="second" class="sr-only">First name</label>
                                    <span class="icon icon-lockss"></span>
                                    <input disabled class="form-control separator-form-control" placeholder="" name="second" type="password" id="second" [(ngModel)]="second">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="third" class="sr-only">First name</label>
                                    <span class="icon icon-locssk"></span>
                                    <input disabled class="form-control separator-form-control" placeholder="" name="third" type="password" id="third" [(ngModel)]="third">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="forth" class="sr-only">First name</label>
                                    <span class="icon icon-lockss"></span>
                                    <input disabled class="form-control separator-form-control" placeholder="" name="forth" type="password" id="forth" [(ngModel)]="forth">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field-group">
                        <div class="row" style="padding-left: 65px;">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>1</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>2</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>3</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 65px;">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>4</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>5</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>6</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 65px;">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>7</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>8</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>9</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 65px;">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(1)" ion-button outline round>0</button>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <button (click)="input(99)" ion-button outline round>
                                      <
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </section>
        </div>
    </main>
</ion-content>
    </body>

    <script type="text/javascript" src="/assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="/assets/js/app-1486002319.js"></script>

</html>
