<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a4f4c3f5c751a000134a95a" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta content="Login" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="w-container">
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-5 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <div class="div-block">Already have an account?</div><a (click)="navCtrl.setRoot('LoginPage')" class="nav-button w-button">Login</a><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png"  class="image-11"><div class="text-cart">({{itemAmount}})</div></a></div>
  </div>
  <ion-content>
  <div class="section-main-hero login">
    <div class="div-block-41"><img src="assets/images/500_F_115215766_xSCOJkKThtRgbtTaYOmEcB3Z05fIjk9X.png" class="image-10">
    </div>
    <div class="register-container w-container">
      <div class="sub-nav back"><a (click)="navCtrl.setRoot('HelloIonicPage')" class="back-btn _2 w-inline-block w-clearfix"><img src="assets/images/Shape.png" width="15" class="image"><div class="text-back _2">Back</div></a></div>
      <div class="w-row">
        <div class="column-6 w-col w-col-4 w-col-medium-6 w-col-small-small-stack w-col-tiny-tiny-stack">
          <div class="form-block-3 w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="from">
              <h3 class="h3-register">Reset your password</h3>
              <div class="div-text">
                <div class="w-row">
                  <div class="w-col w-col-3 w-col-small-4 w-col-tiny-4">
                    <div class="line"></div>
                  </div>
                  <div class="w-col w-col-6 w-col-small-4 w-col-tiny-4">
                    <div class="text-block">enter your water3 account email below</div>
                  </div>
                  <div class="column w-col w-col-3 w-col-small-4 w-col-tiny-4">
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <label for="email-3" class="field-label">Email Address:</label>
              <input [(ngModel)]="email"  type="email" class="w-input" maxlength="256" name="email" data-name="email" placeholder="Enter your email" id="email-3">

              <input (click)="postRequest()" type="submit" value="Reset Password" data-wait="Please wait..." class="login-btn w-button">
              </form>
          </div>
        </div>
        <div class="column-5 w-col w-col-8 w-col-medium-6 w-col-small-small-stack w-col-tiny-tiny-stack"></div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content>
</body>
</html>