<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3e79c280557a00017738c4" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>register</title>
  <meta content="register" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="w-container">
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-5 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <div class="div-block">Already have an account?</div><a (click)="navCtrl.setRoot('LoginPage')" class="nav-button w-button">Login</a>
        
        <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>

        <a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></div>
  </div>
  <ion-content>
  <div class="section-main-hero">
    <div class="register-container w-container">
      <div class="sub-nav"><a (click)="navCtrl.setRoot('HelloIonicPage')" class="back-btn w-inline-block w-clearfix"><img src="assets/images/back-icon.png" width="19.5" class="image"><div class="text-back">Back</div></a></div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="from">
              <h3 class="h3-register">Register to Water3</h3>
              <div class="div-text">
                <div class="w-row">
                  <div class="w-col w-col-2">
                    <div class="line"></div>
                  </div>
                  <div class="w-col w-col-8">
                    <div class="text-block">enter register details below</div>
                  </div>
                  <div class="column w-col w-col-2">
                    <div class="line"></div>
                  </div>
                </div>
              </div><label for="email-3" class="field-label">Email Address:</label>
              <input [(ngModel)]="accountInfo.email" type="email" class="w-input" maxlength="256" name="email" data-name="email" placeholder="Enter your email" id="email-3">
              <label for="Mobile" class="field-label">Name :</label>
              <input [(ngModel)]="accountInfo.first_name" type="text" class="w-input" maxlength="256" name="Mobile" data-name="Mobile" placeholder="First Name" id="first_name">
              <input [(ngModel)]="accountInfo.last_name" type="text" class="w-input" maxlength="256" name="Mobile" data-name="Mobile" placeholder="Last Name" id="last_name">
              <label for="Mobile" class="field-label">Mobile:</label>
              <input [(ngModel)]="accountInfo.phone" type="text" class="w-input" maxlength="256" name="Mobile" data-name="Mobile" placeholder="Enter your mobile number" id="Mobile">
              <label for="Password" class="field-label">Password:</label>
              <input [(ngModel)]="accountInfo.password" type="password" class="w-input" maxlength="256" name="Password" data-name="Password" placeholder="Password" id="Password">
              <label for="Confirm-Password" class="field-label">Confirm Password:</label>
              <input [(ngModel)]="confirm_pass" type="password" class="w-input" maxlength="256" name="Confirm-Password" data-name="Confirm Password:" placeholder="Confirm Password:" id="Confirm-Password">
              <label for="Confirm-Password" class="field-label">Birthdate:</label>
              <select class="w-input" style="width: 80px; display:initial;" name="day" [(ngModel)]="birth.day">
                <option value="0" selected>Day</option>
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
                <option value="5" >5</option>
                <option value="6" >6</option>
                <option value="7" >7</option>
                <option value="8" >8</option>
                <option value="9" >9</option>
                <option value="10" >10</option>
                <option value="11" >11</option>
                <option value="12" >12</option>
                <option value="13" >13</option>
                <option value="14" >14</option>
                <option value="15" >15</option>
                <option value="16" >16</option>
                <option value="17" >17</option>
                <option value="18" >18</option>
                <option value="19" >19</option>
                <option value="20" >20</option>
                <option value="21" >22</option>
                <option value="22" >23</option>
                <option value="23" >24</option>
                <option value="25" >25</option>
                <option value="26" >26</option>
                <option value="27" >27</option>
                <option value="28" >28</option>
                <option *ngIf="birth.month ==2 && birth.year%4==0" value="29" >29</option>
                <option *ngIf="birth.month !=2" value="29" >29</option>
                <option *ngIf="birth.month !=2" value="30" >30</option>
                <option *ngIf="birth.month==1 || birth.month==3 || birth.month==5 || birth.month==7 || birth.month==8 || birth.month==10 || birth.month==12" value="31" >31</option>
              </select>
              <select class="w-input" style="width: 80px; display:initial;" name="month" [(ngModel)]="birth.month">
                <option value="0" selected>Month</option>
                <option value="1" >Jan</option>
                <option value="2" >Feb</option>
                <option value="3" >Mar</option>
                <option value="4" >Apr</option>
                <option value="5" >May</option>
                <option value="6" >Jun</option>
                <option value="7" >Jul</option>
                <option value="8" >Aug</option>
                <option value="9" >Sep</option>
                <option value="10" >Oct</option>
                <option value="11" >Nov</option>
                <option value="12" >Dec</option>
              </select>
              <select class="w-input" style="width: 80px; display:initial;" name="year" [(ngModel)]="birth.year">
                <option value="0" selected>Year</option>
                <option value="1950" >1950</option>
                <option value="1951" >1951</option>
                <option value="1952" >1952</option>
                <option value="1953" >1953</option>
                <option value="1954" >1954</option>
                <option value="1955" >1955</option>
                <option value="1956" >1956</option>
                <option value="1957" >1957</option>
                <option value="1958" >1958</option>
                <option value="1959" >1959</option>
                <option value="1960" >1960</option>
                <option value="1961" >1961</option>
                <option value="1962" >1962</option>
                <option value="1963" >1963</option>
                <option value="1964" >1964</option>
                <option value="1965" >1965</option>
                <option value="1966" >1966</option>
                <option value="1967" >1967</option>
                <option value="1968" >1968</option>
                <option value="1969" >1969</option>
                <option value="1970" >1970</option>
                <option value="1971" >1971</option>
                <option value="1972" >1972</option>
                <option value="1973" >1973</option>
                <option value="1974" >1974</option>
                <option value="1975" >1975</option>
                <option value="1976" >1976</option>
                <option value="1977" >1977</option>
                <option value="1978" >1978</option>
                <option value="1979" >1979</option>
                <option value="1980" >1980</option>
                <option value="1981" >1981</option>
                <option value="1982" >1982</option>
                <option value="1983" >1983</option>
                <option value="1984" >1984</option>
                <option value="1985" >1985</option>
                <option value="1986" >1986</option>
                <option value="1987" >1987</option>
                <option value="1988" >1988</option>
                <option value="1989" >1989</option>
                <option value="1990" >1990</option>
                <option value="1991" >1991</option>
                <option value="1992" >1992</option>
                <option value="1993" >1993</option>
                <option value="1994" >1994</option>
                <option value="1995" >1995</option>
                <option value="1996" >1996</option>
                <option value="1997" >1997</option>
                <option value="1998" >1998</option>
                <option value="1999" >1999</option>
                <option value="2000" >2000</option>
                <option value="2001" >2001</option>
                <option value="2002" >2002</option>
                <option value="2003" >2003</option>
                <option value="2004" >2004</option>
                <option value="2005" >2005</option>
                <option value="2006" >2006</option>
                <option value="2007" >2007</option>
                <option value="2008" >2008</option>
                <option value="2009" >2009</option>
                <option value="2010" >2010</option>
                <option value="2011" >2011</option>
                <option value="2012" >2012</option>
                <option value="2013" >2013</option>
                <option value="2014" >2014</option>
                <option value="2015" >2015</option>
                <option value="2016" >2016</option>
                <option value="2017" >2017</option>
                <option value="2018" >2018</option>

              </select>
              <label for="Gender" class="field-label">Gender:</label>
              <input id="gender_male" name="gender" type="radio" value="MALE" [(ngModel)]="accountInfo.sex">&nbsp; Male
              <input id="gender_female" name="gender" type="radio" value="FEMALE" [(ngModel)]="accountInfo.sex">&nbsp; Female

              <label for="Currency" class="field-label">Default currency:</label>
              <select class="w-input" id="currency" name="currency" [(ngModel)]="accountInfo.currency">
                <option value="AUD">AUD</option>
                <option value="USD">USD</option>
              </select>

              <input type="submit" (click)="performRegister()" value="Create an account" data-wait="Please wait..." class="resgister-btn w-button">
              <div class="text-term-condition">By signing up I agree to the terms of <br> service and privacy policy</div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-8">
          <div class="register-image"><img src="assets/images/image01.png" srcset="assets/images/image01-p-500.png 500w, assets/images/image01-p-800.png 800w, assets/images/image01-p-1080.png 1080w, assets/images/image01.png 1736w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 478.65625px, 619.984375px"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
</ion-content>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>