<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-default" overflow-scroll="true">
        <ion-content>
        <main class="page white">
        <section class="component-section">
            <div class="container">
                <h1>Transaction History</h1>

                <a class="back" (click)="pop()" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>
            </div>
        </section>

        <div class="content narrow">
            <section class="component component-transaction">
                <h2 style="color:black;">{{ helper.convert_tz(transaction.date.text,true) }}</h2>

                <div class="transaction-status">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="title">
                                <p>Details</p>
                            </div>
                            <div class="value">
                                <p>{{ transaction.type }}</p>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="title">
                                <p>Description</p>
                            </div>
                            <div class="value">
                                <p>{{ transaction.description }}</p>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="title">
                                <p>Amount</p>
                            </div>
                            <div class="value">
                                <p>${{transaction.credit}}</p>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="title">
                                <p>Status</p>
                            </div>
                            <div class="value"><p>
                                <span *ngIf="transaction.status=='ACCEPTED'" class="icon icon-checked inline"></span>
                                 <span *ngIf="transaction.status!='ACCEPTED'" class="icon icon-failure-circle-gradient inline"></span>
                                {{transaction.status}}</p>
                            </div>
                        </div>
			<div class="list-group-item">
                            <div class="title">
                                <p>Balance after topup</p>
                            </div>
                            <div class="value"><p>${{transaction.balance}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</ion-content>
        <section class="component component-bottom-button responsive">
    <div class="button-container">
        <a class="btn btn-icon-inline btn-square btn-facebook-messenger" href="https://m.me/water3global" target="_blank">
            <span class="icon icon-facebook-messenger"></span>
            Message water3
        </a>
    </div>
</section>
    </body>

    <script type="text/javascript" src="assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="assets/js/app-1486002319.js"></script>

</html>
