<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a4b4f093472ef00014c811b" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>whywater3-impact</title>
  <meta content="whywater3-impact" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
<div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <div class="nav-line"></div>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content>
  <div class="section-main-hero impact">
    <div><img src="assets/images/Group-2.png" srcset="assets/images/Group-2-p-500.png 500w, assets/images/Group-2.png 1440w" sizes="100vw" class="image-7"><img src="assets/images/Mask.png" class="image-8"></div>
  </div>
  <div class="section-feature">
    <div class="w-container">
      <h3 class="heading h3-feature">Convenient spring water without the environmental cost.<br>Better for you, better for the planet.</h3>
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="div-block-6"><img src="assets/images/feature-image01.png" width="90">
            <div class="text-feature">Purified water on the go without the waste ipsum dolor</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-5"><img src="assets/images/feature-image02.png" width="90">
            <div class="text-feature">We make it easy ipsum dolor sit consectetur adipising</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-4"><img src="assets/images/feature-image03.png" width="90">
            <div class="text-feature">Cutting edge technolgy dolor sit amet consectetur</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-3"><img src="assets/images/feature-image04.png" width="90">
            <div class="text-feature">Environmentally friendly over 2 lines ipsum dolor</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-impact2">
    <div class="container-4 w-container">
      <h3 class="heading h3-feature impact">The Water3 impact</h3>
      <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do<br>eiusmod tempor incididunt ut labore et dolore.</p>
      <div>
        <div class="w-row">
          <div class="w-col w-col-4 w-col-small-4">
            <div class="div-block-37">
              <h1 class="heading-3 impact">57%</h1>
              <p class="paragraph-3">Statistic relating to damage<br>caused by plastic</p>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-small-4">
            <div class="div-block-37">
              <h1 class="heading-3 impact">65k</h1>
              <p class="paragraph-3">Statistic relating to plastic<br>footprint</p>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-small-4">
            <div class="div-block-37">
              <h1 class="heading-3 impact">15L</h1>
              <p class="paragraph-3">Statistic relating to<br>sustainable
                <br>impact water3 is having</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-3 w-container">
      <h3 class="heading h3-feature impact">The Water3 impact</h3>
      <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do<br>eiusmod tempor incididunt ut labore et dolore.</p>
      <div>
        <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="imapact-slider w-slider">
          <div class="w-slider-mask">
            <div class="w-slide">
              <div class="div-block-37">
                <h1 class="heading-3 impact">57%</h1>
                <p class="paragraph-3">Statistic relating to damage<br>caused by plastic</p>
              </div>
            </div>
            <div class="w-slide">
              <div class="div-block-37">
                <h1 class="heading-3 impact">65k</h1>
                <p class="paragraph-3">Statistic relating to plastic<br>footprint</p>
              </div>
            </div>
            <div class="w-slide">
              <div class="div-block-37">
                <h1 class="heading-3 impact">15L</h1>
                <p class="paragraph-3">Statistic relating to<br>sustainable
                  <br>impact water3 is having</p>
              </div>
            </div>
          </div>
          <div class="left-arrow-4 w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="right-arrow-4 w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="slide-nav-4 w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('StorePage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('WhyPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21">
            <a href="https://www.facebook.com/water3global" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a>
            <a href="https://www.instagram.com/_water3_" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a>
            <a href="https://twitter.com/water3_" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a>
            <a href="https://www.linkedin.com/company/water3" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a>
            <a href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a>
            <a href="mailto:info@water3.com.au" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content></body>
</html>