<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3f8b5a8192d400018cbf62" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>product detail</title>
  <meta content="product detail" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content *ngIf="isLoaded">
  <div class="myaccount-section"><a class="link-4 cart-item">Your Cart</a>
    <div class="w-container">
      <div>
        <div class="row-1 w-row">
          <div class="w-col w-col-7 w-col-tiny-6 w-col-small-6">
            <h3 class="h3-account">Your Cart</h3>
          </div>
          <div class="w-col w-col-5 w-col-tiny-6 w-col-small-6"></div>
        </div>
      </div>
      <div>
        <div *ngIf="itemList.length>0" class="row-2 w-row">
          <div class="w-col w-col-7 w-col-small-small-stack">
            <div class="cart-detail-box">
              <div class="div-block-23 w-clearfix">
                <h5 class="h5-account">2 Items Cart</h5>
              </div>
              <div *ngFor="let item of itemList" class="div-block-24">
                <div class="w-row">
                  <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4"><img src="assets/images/Product-2.png"></div>
                  <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
                    <div class="product-in-cart-detail">
                      <div class="product-user-name">{{item.type}}</div>
                      <div class="text-block-8">{{item.model}}</div>
                      <div class="text-block-9">Qty : <strong>{{item.qty}}</strong></div>
                      <div >$ {{item.price}}</div>
                      <div class="div-block-48"><a (click)="removeItem(item.id)" class="remove-btn w-button">Remove</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-block-44 continue-box"><a (click)="navCtrl.setRoot('StorePage')" class="button-4 w-button">Continue to shopping</a><br><br></div>
          </div>
          <div class="column-2 w-col w-col-5 w-col-small-small-stack">
            <div class="summary-box">
              <div class="div-block-23 w-clearfix">
                <h5 class="h5-account">Summary</h5>
              </div>
              <div class="div-block-24">
                <div class="w-row">
                  <div class="w-col w-col-6">
                    <div class="text-block-20">Sub-Total</div>
                  </div>
                  <div class="w-col w-col-6">
                    <div class="text-block-18">$ {{totalPrice}}</div>
                  </div>
                </div>
                <div>
                  <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form">
                      <div class="w-row">
                        <div class="w-col w-col-6">
                          <div><strong class="bold-text">Shipping</strong></div>
                        </div>
                        <div class="w-col w-col-6">
                          <div class="text-block-19">Standard : Free (Arrives 3-11 days)</div>
                        </div>
                      </div><label for="coupon-code">Coupon code</label><input type="text" class="w-input" maxlength="256" name="coupon-code" data-name="coupon code" placeholder="xxx" id="coupon-code">
                      <div class="w-row">
                        <div class="w-col w-col-6">
                          <div class="text-block-22"><strong class="bold-text-3">Total</strong></div>
                        </div>
                        <div class="w-col w-col-6">
                          <div class="text-block-21"><strong class="bold-text-2">$ {{totalPrice}}</strong></div>
                        </div>
                      </div>
                      <input *ngIf="!isLoggedin" type="submit" (click)="navCtrl.setRoot('LoginPage')" value="LogIn to Check Out" class="checkout-btn1 unlogin w-button">
                      <input *ngIf="isLoggedin" type="submit" (click)="navCtrl.setRoot('BillingPage')" value="Check Out" class="checkout-btn1 unlogin w-button">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="itemList.length==0 || itemList==null" class="div-block-50">
        <h1>So...Sad</h1>
        <div class="text-block-27">Look like your card is empty</div><a (click)="navCtrl.setRoot('StorePage')" class="continue-shopping-btn w-button">Continue to shopping</a></div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18"><a href="#" class="footer-link">Home</a><a href="#" class="footer-link">Shop</a><a href="#" class="footer-link">Find a kiosk</a><a href="#" class="footer-link">Why Water3</a><a href="#" class="footer-link">FAQ</a><a href="#" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19"><a href="#" class="footer-link">Shipping</a><a href="#" class="footer-link">Term of Services</a><a href="#" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21"><a href="#" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a><a href="#" class="footer-email">info@watwr3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content>
</body>
</html>