<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3f8b5a8192d400018cbf62" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>product detail</title>
  <meta content="product detail" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <div class="nav-line"></div>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content *ngIf="isLoaded">
  <div class="shop-rank-section">
    <div class="w-container">
      <div class="sub-nav"><a href="#" class="back-btn w-inline-block w-clearfix"><img src="assets/images/back-icon2.png" width="19.5" class="image"><div class="textback2">All bottles</div></a></div>
      <div>
        <div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="product-image-gallery">
                <div class="image-showcase"><img src="assets/images/p6.png" width="282" srcset="assets/images/p6-p-500.png 500w, assets/images/p6.png 556w" sizes="(max-width: 479px) 92vw, 282px"></div>
                <div class="div-block-32"><a href="#" class="thumb-link w-inline-block"><img src="assets/images/p6.png" srcset="assets/images/p6-p-500.png 500w, assets/images/p6.png 556w" sizes="100vw"></a><a href="#" class="thumb-link w-inline-block"><img src="assets/images/ig02.png" srcset="images/ig02-p-500.png 500w, assets/images/ig02.png 556w" sizes="100vw"></a><a href="#" class="thumb-link w-inline-block"><img src="images/ig04.png" srcset="assets/images/ig04-p-500.png 500w, assets/images/ig04.png 556w" sizes="100vw"></a></div>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div class="product-information">
                <h3 class="h3-product-name">Blue Blush</h3>
                <div>
                  <h4 class="h4-price">${{products[itemID].salePrice}}</h4>
                  <div class="text-block-10">DELIVERY</div>
                </div>
                <div data-delay="0" class="select-color-btn w-dropdown">
                  <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <ion-item style="background: transparent;">
                    <ion-select [(ngModel)]="itemID" interface="popover" class="addressSelect">
                        <ion-option *ngFor="let p of products" value="{{p.id}}" >{{p.model}}</ion-option>
                    </ion-select>
                </ion-item>
                </div>
                </div><a (click)="addToBag()" class="button-3 w-button">Add to bag</a></div>
                <div>

<b>It’s all about the bottle.</b><br><br>

Our double-walled, vacuum sealed and insulated stainless steel bottles are perfect for keeping your water cold (or hot) for up to 12 hours.<br>
-       They are made of tough reusable (and recyclable) stainless steel and won’t get damp condensation on the exterior. So your dry backpack and the stuff in it stays dry.<br>
-       Each bottle also features an intuitive RFID chip in the lid, allowing you to refill quickly and easily with one easy swipe.<br>
-       Every refill stops another plastic bottle from entering the environment. Save the whales! (and all the other fish too. And the reef. And narwhals. And...)<br>
-       Best of all, they’re a high quality design, functional and ready to be exposed to your next adventure. <br><br>

<b>What else?</b><br><br>

-      Made of stainless steel and sustainable bamboo construction. Naturally.<br>
-    The bamboo lidis leak proof and hides some seriously high tech contactless payment system (ie the RFID chip you use to pay for your refills).<br>
-      Any plastic? No way (as if you had to ask), our bottles are BPA free and made of non-toxic materials.<br>
-      Large 44mm (1.75”) opening for easy filling, pouring and super gulps. <br>
-      You’ll only ever taste the water. <br>
<br>
<b>Look after your bottle, and it will look after you.</b><br>
<br>
Follow these handy tips:<br>
1.  Hand wash with warm soapy water.<br>
2.  Do not put the lid in dishwasher, remember it contains technology.<br>
3.  Avoid direct sunlight if you can - to keep your water icy cold.<br>
<br>
<b>Why Water3?</b><br>
<br>
Water3 wants to help change your old plastic water bottle habits. So we’ve made everything as simple as possible. Our refill stations are in all the places you’ll need it most. How do you like your water? Still? Or sparkling? Water3 can also supply your very own reusable stainless steel water bottle, if you need one. Oh, and we nearly forgot to mention, spring water refills start from just $1!



                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-2 w-container">
      <div class="w-clearfix">
        <h6 class="h6">View bottle on instagram</h6><a href="#" class="ig-hastag-link">#unbottledlife</a></div>
      <div><a href="#" class="link-block w-inline-block"><img src="assets/images/ig01.png" width="278" srcset="assets/images/ig01-p-500.png 500w, assets/images/ig01.png 556w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 991px) 172px, 225px"></a><a href="#" class="link-block w-inline-block"><img src="assets/images/ig03.png" width="278" srcset="assets/images/ig03-p-500.png 500w, assets/images/ig03.png 556w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 991px) 172px, 225px"></a><a href="#" class="link-block w-inline-block"><img src="assets/images/ig02.png" width="278" srcset="assets/images/ig02-p-500.png 500w, assets/images/ig02.png 556w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 991px) 172px, 225px"></a><a href="#" class="link-block w-inline-block"><img src="assets/images/ig04.png" width="278" srcset="assets/images/ig04-p-500.png 500w, assets/images/ig04.png 556w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 991px) 172px, 225px"></a></div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('StorePage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('WhyPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21">
            <a href="https://www.facebook.com/water3global" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a>
            <a href="https://www.instagram.com/_water3_" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a>
            <a href="https://twitter.com/water3_" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a>
            <a href="https://www.linkedin.com/company/water3" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a>
            <a href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a>
            <a href="mailto:info@water3.com.au" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="assets/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content>
</body>
</html>