.addressSelect {

	max-width: 100%;
	font-size: 14px;
	font-weight:normal;

}


.item-block {
	min-height: 1rem;
	font-weight: normal;
	font-size: 1.4rem;
}

.label {
	font-weight: normal !important;
	color: #000000;
}