<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3eb9967b791a0001977dff" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>topup1</title>
  <meta content="topup1" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <div class="nav-line"></div>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content *ngIf="isLoaded">
  <div class="topup-section">
    <div class="topup-head">
      <div class="topup-row w-row">
        <div class="column-3 w-col w-col-4 w-col-tiny-tiny-stack"></div>
        <div class="w-col w-col-4 w-col-tiny-tiny-stack">
          <div class="step-box">
            <div class="div-block-35 step-1">
              <div class="text-block-14 _1">1</div>
            </div>
            <div class="line-step past"></div>
            <div class="div-block-35 step2 current">
              <div class="text-block-14 current">2</div>
            </div>
            <div class="line-step"></div>
            <div class="div-block-35 step3">
              <div class="text-block-14 _3">3</div>
            </div>
            <div class="line-step"></div>
            <div class="div-block-35 step3">
              <div class="text-block-14 _3">4</div>
            </div>
          </div>
        </div>
        <div class="column-4 w-col w-col-4 w-col-tiny-tiny-stack">
          <div class="canel-box"><a (click)="navCtrl.setRoot('AmountPage')" class="link-3">BACK</a></div>
        </div>
      </div>
    </div>
    <div class="topup-container w-container">
      <div class="topup-form-1">
        <h3 class="h3-topup">Confirm Billing Address</h3>
        <div class="text-block-15">Current Address :</div>
        <div class="text-block-6 username">
                    {{sameAccountInfo.address_1}}
                    <br>
                    {{sameAccountInfo.address_2}}
                    <br>
                    {{sameAccountInfo.city}}
                    <br>
                    {{stateName(sameAccountInfo.state_id)}}
                    <br>
                    {{countryName(sameAccountInfo.country_id)}}, {{sameAccountInfo.postcode}}
                    <br><br>
        </div>
        <div>
          <a (click)="sameAddress()" class="add-address-btn w-inline-block">
            <div>Use this address</div>
          </a>
          <div class="div-block-22"><img src="assets/images/line1.png" width="186"></div>
        </div>
        <div class="text-block-15">Or Enter a different billing address</div>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <label for="Address-line-2">Address line 1</label>
            <input type="text" class="top-up-filed-form w-input" [(ngModel)]="accountInfo.address_1" maxlength="256" name="Address-line-1" data-name="Address line 1" placeholder="Address line 1" id="Address-line-2">
            <label for="Address-line">Address line 2</label>
            <input type="text" class="top-up-filed-form w-input" [(ngModel)]="accountInfo.address_2" maxlength="256" name="Address-line-2" data-name="Address line 2" placeholder="Address line 2" id="Address-line">
            <label for="City">City</label>
            <input type="text" class="top-up-filed-form w-input" [(ngModel)]="accountInfo.city" maxlength="256" name="City" data-name="City" placeholder="City" id="City">
            <div>
              <div class="w-row">
                <div class="w-col w-col-6"><label for="State">State</label>
                  <ion-item *ngIf="state!=null && state!=''">
                    <ion-select interface="popover" class="addressSelect" name="state" placeholder="Select State" [(ngModel)]="accountInfo.state_id">
                    <ion-option text-left *ngFor="let s of state" value="{{ s.id }}" selected="true">{{s.name}}</ion-option>
                    </ion-select>
                    </ion-item>
                    <ion-item *ngIf="state==null || state==''">
                    <ion-select interface="popover" class="addressSelect" name="state" placeholder="--" disabled="true">
                    </ion-select>
                    </ion-item>
                </div>
                <div class="w-col w-col-6"><label for="Post-Code">Post Code</label>
                  <input type="text" class="top-up-filed-form w-input" [(ngModel)]="accountInfo.postcode" maxlength="256" name="Post-Code" data-name="Post Code" placeholder="Post Code" id="Post-Code">
                </div>
              </div>
            </div><label for="City-2">Country</label>
            <ion-item>
                    <ion-select interface="popover" class="addressSelect" (ionChange)="updateState()" name="country" [(ngModel)]="accountInfo.country_id">
                    <ion-option text-left value="14" selected="true">Australia</ion-option>
                    <ion-option text-left value="239" selected="true">United States</ion-option>
                    </ion-select>
                    </ion-item>
            <div style="padding-top: 10px;">
              <a (click)="postAddress()" class="top-up-next-btn w-button">Next</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21"><a href="#" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a><a href="#" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content></body>
</html>