<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3eb9967b791a0001977dff" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>topup1</title>
  <meta content="topup1" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a href="#" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" width="15" class="image-11"><div class="text-cart">(2)</div></a>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div><a href="#" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="#" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>
            <div class="nav-line"></div>
            <div data-delay="0" class="w-dropdown">
            <a href="#" class="navlink w-inline-block">Sign Out</a>
            </div><a href="#" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">(2)</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content>
  <div class="topup-section">
    <div class="topup-head">
      <div class="topup-row w-row">
        <div class="column-3 w-col w-col-4 w-col-tiny-tiny-stack"></div>
        <div class="w-col w-col-4 w-col-tiny-tiny-stack">
          <div class="step-box">
            <div class="div-block-35 step-1">
              <div class="text-block-14 _1">1</div>
            </div>
            <div class="line-step"></div>
            <div class="div-block-35 step2">
              <div class="text-block-14 _2">2</div>
            </div>
            <div class="line-step"></div>
            <div class="div-block-35 step3">
              <div class="text-block-14 _3">3</div>
            </div>
          </div>
        </div>
        <div class="column-4 w-col w-col-4 w-col-tiny-tiny-stack">
          <div class="canel-box"><a (click)="navCtrl.setRoot('AccountPage')" class="link-3">CANCEL</a></div>
        </div>
      </div>
    </div>
    <div class="topup-container w-container">
      <div class="topup-form-1">
        <h3 class="h3-topup">Select Top Up</h3>
        <div>
            <a (click)="setAmount(5)" class="top-up-price-btn normal w-button">$ 5</a>
            <a (click)="setAmount(10)" class="top-up-price-btn normal w-button">$ 10</a>
            <a (click)="setAmount(15)" class="top-up-price-btn normal w-button">$ 15</a>
          <div class="div-block-22"><img src="assets/images/line1.png" width="186"></div>
        </div>
        <div class="text-block-15">Or enter a different amount</div>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form"><label for="Amount">Enter Amount</label>
            <input type="text" [(ngModel)]="amount" (change)="setDecimal()" class="top-up-filed-form w-input" maxlength="256" name="Amount" data-name="Amount" placeholder="Enter your Amount" id="Amount">
            <label for="Coupon-code">Add Coupon code</label>
            <input type="text" class="top-up-filed-form w-input" maxlength="256" name="Coupon-code" data-name="Coupon code" placeholder="Enter coupon code" id="Coupon-code">
            <input type="submit" value="Back" data-wait="Please wait..." class="top-up-back-btn w-button">
            <a (click)="postAmount()" class="top-up-next-btn w-button">Next</a>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21"><a href="#" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a><a href="#" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content></body>
</html>