.sub-form-wrap, .subscribe-form {
    transition: all .5s ease-in-out 0s
}

@media only screen and (max-width: 1300px) {
    section.component-hero .content {
        left: 50%;
        max-width: 1200px;
        transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        width: 100%
    }
}

@media only screen and (max-width: 767px) {
    .search-panel.landing {
        height: auto
    }

    .search-panel.landing .searchbox {
        right: 0;
        width: 100%;
        position: static
    }

    .p-3-4 {
        float: none
    }

    .search-panel.landing .location-search {
        padding: 24px
    }

    .search-panel.landing .button {
        float: none;
        margin: 20px auto;
        text-align: center;
        width: 180px
    }

    .search-panel .dropdown-menu {
        font-size: 12px
    }

    .atm-branch-wrapper .list-wrapper, .atm-branch-wrapper .map-wrapper {
        position: static;
        width: 100%
    }

    section.component-search .search-result-text-box p {
        text-align: center;
        font-size: 16px
    }

    .atm-branch-wrapper {
        min-height: inherit
    }

    section.component-search .search-result-text-box {
        margin-top: 0;
        padding: 10px 20px
    }

    .atm-branch-wrapper .map-wrapper iframe {
        height: 200px;
        display: block
    }

    .atm-branch-wrapper .list-wrapper {
        height: 120px
    }

    section.component-hero .list-wrapper p {
        display: none
    }

    section.component-hero .list-wrapper h3 {
        float: left;
        font-size: 16px;
        line-height: 20px
    }

    section.component-hero .list-wrapper span {
        float: right;
        font-size: 16px;
        line-height: 20px
    }

    .l-padding-left-medium {
        overflow: hidden;
        background-image: url(../img/drop.jpg.html);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 30px;
        background-size: 20px auto
    }

    .list-wrapper .divider {
        padding-top: 5px
    }

    .list-wrapper ul li {
        margin-bottom: 0;
        padding-top: 9px
    }

    .component-search .container {
        padding: 0
    }
}

body {
    font-family: Lato, sans-serif
}

main.page {
    min-height: inherit !important
}

section.component-hero {
    max-height: inherit
}

.framed {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px
}

.search-panel {
    background-color: #231f20;
    color: #fff;
    position: relative
}

.search-panel.landing {
    height: 96px;
    background-color: rgba(47, 43, 44, .75)
}

.search-panel.landing .searchbox {
    left: 0;
    position: absolute;
    right: 228px
}

.p-3-4 {
    float: left;
    width: 100%
}

.search-panel.landing .location-search {
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 24px
}

.ScreenReader, .offScreen, .visuallyhidden {
    border: none !important;
    display: block;
    font-size: 1px !important;
    height: 0 !important;
    left: -1000px !important;
    line-height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute;
    top: -1000px !important;
    width: 0 !important
}

.control .control-field {
    position: relative
}

.control .form-control {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #333;
    font-size: 16px;
    max-width: 100%;
    outline: 0;
    padding: 14px 15px;
    text-overflow: ellipsis;
    height: auto
}

.search-panel .dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .176);
    float: left;
    font-size: 16px;
    left: 0;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    z-index: 100;
    list-style: none;
    display: block
}

.search-panel .dropdown-menu::before {
    background: #fff;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, .6);
    content: "";
    height: 20px;
    left: 20px;
    position: absolute;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1
}

.search-panel .dropdown-menu > li:first-child {
    border-bottom: 1px solid #e8e8e8;
    text-overflow: ellipsis
}

.search-panel .dropdown-menu > li:first-child::before {
    content: url("assets/img/icon-target.png");
    position: absolute;
    top: 13px;
    background-color: transparent
}

.search-panel .dropdown-menu > li:first-child > a {
    padding: 13px 20px 13px 50px;
    text-overflow: ellipsis
}

.search-panel .dropdown-menu > .active a:focus, .search-panel .dropdown-menu > .active a:hover, .search-panel .dropdown-menu > .active > a {
    background-color: #fff;
    outline: 0;
    text-decoration: none
}

.search-panel .dropdown-menu > li > a:hover {
    color: #434a58
}

.search-panel .dropdown-menu > li {
    padding: 0;
    margin-bottom: 0
}

.search-panel .dropdown-menu > li > a {
    clear: both;
    color: #434a58;
    display: block;
    font-weight: 400;
    line-height: 1.375;
    padding: 13px 20px
}

.search-panel.landing .button {
    float: right;
    text-align: center;
    width: 180px
}

.search-panel .btn, .search-panel .button {
    background: #69c1c9;
    border: 1px solid #424935;
    border-radius: 22px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: auto;
    outline: 0;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    width: auto
}

.button:hover {
    background-color: #368BA1
}

.search-panel .button {
    color: #fff;
    font-family: HelveticaNeueW01-45Ligh, "Helvetica W01 Light", Helvetica, Arial, sans-serif;
    min-width: 130px;
    margin: 24px 24px 0
}

.search-panel div.btn, .search-panel div.button {
    padding: 0
}

.btn input[type=button], .btn input[type=submit], .btn input[type=reset], .button input[type=button], .button input[type=submit], .button input[type=reset] {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 22px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    padding: 0 2rem;
    text-decoration: none;
    line-height: 46px;
    min-width: 130px
}

section.component-hero .content {
    width: 100%;
    max-width: 1200px
}

section.component-hero h1 {
    margin-bottom: 0
}

.p-1 {
    width: 100%
}

.p-1-3 {
    width: 33.34%;
    float: left
}

.p-2-3 {
    width: 66.66%;
    float: left
}

.atm-branch-wrapper {
    min-height: 520px;
    margin-bottom: 50px;
    position: relative;
    width: 100%
}

.atm-branch-wrapper .list-wrapper {
    background-color: #fff;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0
}

.atm-branch-wrapper .map-wrapper {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0
}

.atm-branch-wrapper .map-wrapper iframe {
    width: 100%;
    height: 100%
}

.list-wrapper ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 395px
}

.list-wrapper ul li {
    padding: 24px 30px 0;
    color: #231f20;
    font-size: 16px;
    line-height: 24px;
    position: relative
}

.list-wrapper ul li:before {
    display: none
}

.list-wrapper h3 {
    color: #000;
    font-size: 22px;
    line-height: 1.5;
    margin: 0 0 4px
}

.list-wrapper .divider {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 24px;
    width: 100%
}

.list-wrapper ul li:last-child .divider {
    border: none
}

section.component-hero .list-wrapper p {
    font-size: 17px;
    line-height: 1.6;
    margin: 0 0 2px
}

section.component-hero .list-wrapper p.hour {
    margin-top: 25px
}

.list-wrapper span {
    bottom: 30px;
    color: #888890;
    position: absolute;
    right: 30px
}

.component-search .container {
    max-width: 1290px;
    width: 100%
}

.with-bottom-button section.component-search {
    height: auto
}

section.component-search .search-result-text-box {
    padding: 45px 0;
    margin-top: 38px
}

section.component-search .search-result-text-box p {
    color: #fff;
    margin-bottom: 0
}

.search-result-text-box p a {
    color: #fff;
    text-decoration: underline
}

.list-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 0
}

.list-wrapper .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #e6e6e6;
    width: 8px
}

.list-wrapper .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #b8b8b8 !important;
    opacity: 1 !important;
    width: 8px
}

.btn.btn-white {
    background-color: transparent;
    color: #fff
}

.subscribe-wrap {
    background-image: -webkit-linear-gradient(45deg, #00aed7 0, #25b4c1 40%, #dbe133 100%);
    background-image: -o-linear-gradient(45deg, #00aed7 0, #25b4c1 40%, #dbe133 100%);
    background-image: linear-gradient(45deg, #00aed7 0, #25b4c1 40%, #dbe133 100%);
    height: 470px
}

.subscribe-wrap .subscribe-title {
    text-align: center;
    color: #fff;
    min-height: 60px;
    background: #00afd9;
    background: -moz-linear-gradient(left, #00afd9 0, #23b6c4 18%, #26b6c1 35%, #33b9b7 54%, #49bea5 69%, #64c590 84%, #97d166 100%);
    background: -webkit-linear-gradient(left, #00afd9 0, #23b6c4 18%, #26b6c1 35%, #33b9b7 54%, #49bea5 69%, #64c590 84%, #97d166 100%);
    background: linear-gradient(to right, #00afd9 0, #23b6c4 18%, #26b6c1 35%, #33b9b7 54%, #49bea5 69%, #64c590 84%, #97d166 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00afd9', endColorstr='#97d166', GradientType=1)
}

.subscribe-wrap .subscribe-title h1 {
    font-size: 26px;
    padding: 10px 0 15px;
    margin-bottom: 0;
    margin-top: 10px;
}

.subscribe-wrap .content {
    margin-top: 50px;
    min-height: 250px;
    position: relative;
    text-align: center;
    max-width: 100%
}

.subscribe-wrap p {
    font-size: 15px;
    margin-bottom: 0;
    color: #fff
}

.subscribe-wrap .video-box {
    margin-top: 10px;
    z-index: 1;
    position: relative
}

.subscription-btn-section {
    background-color: #368aa0;
    min-height: 330px;
    text-align: center;
    position: relative
}

.subscription-btn-section-inner {
    /*bottom: 50px;
    left: 50%;
    position: absolute;
    top: auto;*/
    position: relative;
    /*transform: translateX(-50%) translateX(0);
    -o-transform: translateX(-50%) translateX(0);
    -moz-transform: translateX(-50%) translateX(0);
    -webkit-transform: translateX(-50%) translateX(0);
    -ms-transform: translateX(-50%) translateX(0);
    width: 33%;*/
    width: 100%;
    display: block;

}
.subscription-btn-section-inner-bottom{
    padding-bottom: 35px;
}
.subscribtion-credit{
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}
.subscribtion-credit .content{
    position: absolute;
    left: 22%;
}
div.refill-circle2 {
    /*width: 33%;
    float: left;*/
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}

.dollars {
    /*bottom: 120px;
    width: 25%;*/
    padding-top: 50px;
}

.btn.btn-white {
    background-image: url(../img/btn-sub.png);
    background-repeat: no-repeat;
    border: none;
    font-size: 20px;
    min-height: 52px;
    min-width: 268px;
    padding: 0 60px
}

.btn.btn-white:focus, .btn.btn-white:hover {
    background-image: url(../img/btn-sub-active.png)
}

.terms-link a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 15px;
    text-decoration: underline
}

.refill-circle .refill-circle-inner {
    position: relative;
    margin: 85px auto 0;
    /*width: 196px;*/
    z-index: 1
}

.refill-circle .refill-count {
    position: absolute;
    width: 100%;
    display: block;
    color: #fff
}

.refill-circle .refill-count strong {
    font-size: 40px;
    display: block;
    line-height: 30px
}

circle.donut-segment.animated {
    -webkit-animation: rotation 2s infinite linear;
    transform-origin: center
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg)
    }
}

.refill-circle-inner > img {
    /*margin-top: -65px*/
    margin: 0;
    padding: 0;
    position: absolute;
    left: 170px;
    top: 100px;
}

.refill-circle2 .refill-circle-inner2 {
    position: relative;
    margin: 25px auto;
    max-width: 90px;
    z-index: 1
}

.refill-circle2 .refill-count {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    display: block;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%)
}

.refill-circle2 .refill-count strong {
    font-size: 20px;
    display: block;
    line-height: 20px
}

.plan-info {
  color: #000!important;
  text-align: center;
  font-size: 14px!important;
  margin-top: -20px;
  font-weight: normal;
}

.white {
  color: #fff!important;
}

.sub-form-wrap {
    position: relative
}

.subscribe-form {
    opacity: 0;
    background-color: rgba(54, 138, 160, .9);
    border-radius: 10px;
    color: #fff;
    left: 0;
    margin: 0 auto;
    max-width: 650px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 9;
    min-height: 470px;
    display:none;
    transition: opacity 1s ease-out;
}

.subscribe-form.open {
    opacity: 1;
    display:block;
}
.subscribe-modal-btn{
    text-align: center;
}

.form-title {
    padding: 0 40px
}

.form-title strong {
    font-size: 14px
}

.form-title p {
    font-size: 12px;
    line-height: 16px
}

.subscribe-form label {
    color: #fff;
    display: block;
    margin-top: 10px;
    font-size: 12px
}

.formGroup input, .formGroup select {
    font-size: 12px;
    padding: 15px;
    color: #333
}

.formGroup {
    margin-bottom: 10px;
    overflow: hidden
}

.half {
    float: left;
    margin-right: 4%;
    width: 48%
}

.half.last {
    margin-right: 0
}

.formGroup input {
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%
}

.formGroup select {
    background-image: url(../img/select-arrow.png);
    background-position: 97% 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    margin-bottom: 0;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none
}

.formGroup.credit-card-detail input.name, .formGroup.credit-card-detail input.pass {
    background-repeat: no-repeat;
    font-size: 12px;
    margin-bottom: 0;
    padding: 15px 15px 15px 45px;
    width: 100%
}

.formGroup.credit-card-detail input.name {
    background-image: url(../img/name.png);
    background-position: 8px 15px;
    border: none;
    border-radius: 4px 4px 0 0
}

.formGroup.credit-card-detail input.pass {
    background-image: url(../img/pass.png);
    background-position: 10px 15px;
    border: none;
    border-radius: 0 0 4px 4px
}

.credit-card-detail {
    position: relative
}

.credit-card-detail hr {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    width: 95%
}

.formControl::placeholder {
    color: #999;
    opacity: 1
}

.close-form, .close-form:hover {
    text-decoration: none;
    color: #fff
}

.form-wrap {
    max-width: 333px;
    margin: 20px auto
}

.close-form {
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 13px;
    height: 30px;
    opacity: .6;
    padding: 4px 0 0 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 10px;
    width: 30px
}

.close-form:hover {
    opacity: 1
}

.sub-form-wrap.overlay::before {
    background-image: -webkit-linear-gradient(45deg, #00aed7 0, #25b4c1 40%, #dbe133 100%);
    background-image: -o-linear-gradient(45deg, #00aed7 0, #25b4c1 40%, #dbe133 100%);
    background-image: linear-gradient(45deg, #00aed7 0, #25b4c1 40%, #dbe133 100%);
    opacity: .8;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2
}

.success-img {
    margin-top: 50px
}

.thankyoy h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0 0
}

.thankyoy h4 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0
}
.refill-circle2 .donut-hole{
    fill-opacity: 0;
}
.refill-circle2 .donut-segment{
    stroke: #fff;
    stroke-opacity: 0.4;
}
.refill-circle2 .refill-count strong{
    opacity: 0.4;
}
.refill-circle2.active_circle .donut-hole{
    fill: rgb(54, 138, 160);
}
.refill-circle2.active_circle .donut-segment{
    stroke: url(#grad1);
    stroke-opacity: 1;
}
.refill-circle2.active_circle .refill-count strong{
    opacity: 1;
}
.remember-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.remember-switch input {display:none;}

.slide-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slide-button:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slide-button {
    background-color: #176789;
}

input:focus + .slide-button {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slide-button:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded slide-buttons */
.slide-button.round {
    border-radius: 34px;
}

.slide-button.round:before {
    border-radius: 50%;
}
.refill-circle-inner svg{
    transition: all 0.3s ease-in-out;
}
.main-subscribe{
    max-width: 268px;
    margin: 0 auto;
    position: initial;
}
.main-subscribe .subscribe-btn-wrap{
    position: absolute;
    bottom: 60px;
}
.terms-apply{
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
}
.sub-refill-circle-inner2{
    max-width: 100% !important;

}
.subscribe_purchase{
    position: absolute;
    /* top: 0; */
    bottom: 17%;
    left: 21%;
    opacity: 0;
}
.subscriber-form-group .icon{
    right: 0;
}
.subscribe-form-login,.subscribe-form-payment{
    top: -35px;
}
.main-subscribe-wrap{
    height: 700px !important;
}
.unsubscribe-text{
    display: block !important;
}
.unsubscribe-btn{
    color: #fff;
    background: #3c3c3d;
    padding: 5px 10px;
    border-radius: 30px;
}
.subscription-info-pan-part{
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
}
.subscription-info-pan{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 60px;
}
.subscription-info-dollar{
    padding-top: 0;
    height: 210px;
    margin-bottom: 28px;
}
.sub-info-bottom-conatiner{

    padding-top: 40px;
}
.sub-info-bottom{
    min-height: 230px !important;
}
.subscription-info-pan-part-left{
    border-right: 1px solid #176789;
}
.sub-info-dollar-conatiner-margin .refill-circle2{
    margin-top: 20px;
}
.sub-info-bottom-btn{
    width: auto !important;
    border: 1px solid !important;
    border-color: rgba(255,255,255, 0.3) !important;
    background-image: none !important;
    padding: 0 30px !important;
}
.sub-info-bottom-btn:hover{
    border-color: #000 !important;
}
.sub-info-btn{
    background: rgba(255,255,255, 0.3) !important;
    width: 220px !important;
    font-size: 26px !important;
    padding: 16px 0 !important;
    line-height: 28px !important;
    border: 0 !important;
    color: #176789 !important;
    border-radius: 40px !important;
    height: 60px !important;
}
.sub-info-main{
    height: 580px;
}
.sub-info-btn:hover{
    color:#000 !important;
}
.sub-info-wrap .sub-info-title{
    margin-bottom: 0;
    font-weight: 600;
}
.sub-info-wrap .sub-info-text{
    font-size: 14px;
    color: #000;
}
.dark-active .donut-ring{
    fill: #176789;
}
.active-circle-new .donut-segment{
    stroke: url(#grad1);
    stroke-opacity: 1;
}
.active-circle-new .refill-count strong{
    opacity: 1;
}
.sub-info-wrap {
    height: 70px;
}
.sub-info-dollar-conatiner .refill-circle2 .refill-circle-inner2{
    max-width:120px;
}
p.circle-bottom-text {
    font-size: 8px;
}
.dark-active .circle-bottom-text{
    color: #000;
}
.sub-info-dollar-conatiner .refill-count {
    top: 40%;
}
.sub-info-dollar-conatiner .refill-count strong{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0 8px;
}
.sub-info-refill .donut-segment{
    stroke: #fff !IMPORTANT;
    stroke-opacity: 0.4 !important;
}
.sub-info-refill .refill-count strong{
    opacity: 1 !important;
}
@media only screen and (max-width: 1300px) {
    section.component-hero .content {
        left: 50%;
        max-width: 1200px;
        transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        width: 100%
    }

    /*.subscribe-wrap .content {
        left: auto
    }*/
}

@media only screen and (max-width: 1280px) {
    .subscription-btn-section {
        min-height: 340px
    }
}

@media only screen and (max-width: 1169px) {
    .list-wrapper ul {
        width: 100%
    }
}

@media only screen and (max-width: 991px) {
    .list-wrapper ul li {
        padding: 24px 20px 0 17px
    }

    section.component-hero .list-wrapper p {
        font-size: 16px;
        line-height: 1.4
    }

    .list-wrapper span {
        position: static
    }

    section.component-hero .list-wrapper p.hour {
        margin-top: 8px
    }

    section.component-search .search-result-text-box p {
        font-size: 18px
    }

    section.component-search .search-result-text-box {
        margin-top: 10px;
        padding: 20px 0
    }
    .subscription-info-pan{
        max-width: 800px;
        margin-top: 0px;
    }
    .sub-info-main{
        height: 100%;
    }
    .subscription-info-pan-part {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
        padding: 25px 0;
    }
    .subscription-info-pan-part-left{
        border-right:none;
    }
    .subscription-info-pan-part:first-child{
        border-bottom: 1px solid #176789;
    }
    .sub-info-dollar-conatiner-margin .refill-circle2 {
        margin-top: 0px;
    }
    .subscription-info-dollar{
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 767px) {
    .search-panel.landing {
        height: auto
    }

    .search-panel.landing .searchbox {
        right: 0;
        width: 100%;
        position: static
    }

    .p-3-4 {
        float: none
    }

    .search-panel.landing .location-search {
        padding: 24px
    }

    .search-panel.landing .button {
        float: none;
        margin: 20px auto;
        text-align: center;
        width: 180px
    }

    .search-panel .dropdown-menu {
        font-size: 12px
    }

    .atm-branch-wrapper .list-wrapper, .atm-branch-wrapper .map-wrapper {
        position: static;
        width: 100%
    }

    section.component-search .search-result-text-box p {
        text-align: center;
        font-size: 16px
    }

    .atm-branch-wrapper {
        min-height: inherit
    }

    section.component-search .search-result-text-box {
        margin-top: 0;
        padding: 10px 20px
    }

    .atm-branch-wrapper .map-wrapper iframe {
        height: 200px;
        display: block
    }

    .atm-branch-wrapper .list-wrapper {
        height: 120px
    }

    section.component-hero .list-wrapper p {
        display: none
    }

    section.component-hero .list-wrapper h3 {
        float: left;
        font-size: 16px;
        line-height: 20px
    }

    section.component-hero .list-wrapper span {
        float: right;
        font-size: 16px;
        line-height: 20px
    }

    .l-padding-left-medium {
        overflow: hidden;
        background-image: url(../img/drop.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 30px;
        background-size: 20px auto
    }

    .list-wrapper .divider {
        padding-top: 5px
    }

    .list-wrapper ul li {
        margin-bottom: 0;
        padding-top: 9px
    }

    .component-search .container {
        padding: 0
    }
    .sub-info-dollar-conatiner .refill-circle-inner2 svg{
        height: 100px;
        width: 100px;
    }
    .sub-info-dollar-conatiner .refill-count strong{
        font-size: 20px;
        line-height: 20px;
    }
    .subscription-info-dollar{
        height: auto;
    }
    .sub-info-dollar-conatiner .refill-count strong {
        font-size: 17px;
        line-height: 18px;
    }
    .sub-info-btn{
        width: 180px !important;
        font-size: 20px !important;
        padding: 10px 0 !important;
        height: 50px !important;
    }
    .sub-info-bottom-btn {
        width: auto !important;
        padding: 0 20px !important;
        font-size: 16px !IMPORTANT;
        min-width: auto !important;
    }
}

@media only screen and (max-width: 1px) {
    .form-title {
        padding: 0
    }

    .subscribe-wrap .subscribe-title h1 {
        font-size: 20px;
        padding: 15px 0 10px
    }

    .video-box iframe {
        width: 100%
    }

    .subscribe-wrap {
        height: auto
    }

    .subscription-btn-section {
        min-height: 230px
    }

    .subscribe-wrap p {
        font-size: 18px
    }
    .sub-info-dollar-conatiner .refill-circle-inner2 svg{
        height: 80px;
        width: 80px;
    }
    p.circle-bottom-text{
        font-size: 14px;
    }
    .credit-full{
        float: none;
        width: 100%;
    }
    .sub-info-from{
        margin: 8px;
        padding: 10px;
    }
    .sub-info-from .form-title{
        margin-top: 10px;
    }
    .thankyoy h2 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 400px){
    .sub-info-btn{
        width: 150px !important;
        font-size: 18px !important;
        padding: 5px 0 !important;
        height: 40px !important;
    }
    .sub-info-bottom-btn {
        padding: 0 10px !important;
        font-size: 14px !IMPORTANT;
    }
    .thankyoy h2 {
        font-size: 30px;
    }
    .sub-info-from .form-title strong{
        font-size: 13px;
    }

}
@media only screen and (max-width: 360px){
    .close-form{
        right: 4px;
    }
}


