
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     About Us
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="/assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
        <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>

        <body class="layout-default ">
        <header class="page">
    <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="/assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" (click)='openMenu()'>
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" href="login.html" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
        <section class="component-navigation">
    <button class="close-navigation" type="button" aria-label="Toggle menu">
        <span class="icon icon-close"></span>
    </button>
                <div class="actions">
            <a class="btn btn-responsive btn-c" href="login.html" title="Login">Login</a>
            <a class="btn btn-responsive btn-c" href="register.html" title="Register">Register</a>
        </div>
    
    <div class="scrollable">
        <div class="scrollable-content">
            <ul class="navigation">
                
                    <li>
                        <a href="index.html" title="Home">
                            <span class="icon icon-house"></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="kiosks.html" title="Find kiosks">
                            <span class="icon icon-location"></span>
                            <span class="text">Find kiosks</span>
                        </a>
                    </li>
                    <li>
                        <a href="about.html" title="About us">
                            <span class="icon icon-information"></span>
                            <span class="text">About us</span>
                        </a>
                    </li>
                    <li>
                        <a href="contact.html" title="Contact">
                            <span class="icon icon-envelope"></span>
                            <span class="text">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="bottle-care.html" title="Bottle care">
                            <span class="icon icon-information"></span>
                            <span class="text">Bottle care</span>
                        </a>
                    </li>
                    <li>
                        <a href="faqs.html" title="Frequently asked questions">
                            <span class="icon icon-information"></span>
                            <span class="text">FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="terms.html" title="Terms and conditions">
                            <span class="icon icon-information"></span>
                            <span class="text">Terms and conditions</span>
                        </a>
                    </li>
                    <li>
                        <a href="privacy.html" title="Privacy policy">
                            <span class="icon icon-information"></span>
                            <span class="text">Privacy policy</span>
                        </a>
                    </li>

                            </ul>
        </div>
    </div>
</section>
<ion-content>
            <main class="page about with-bottom-button">
        <section id="hero" class="component component-hero component-hero-video">
            <div class="hero-content">
                <div class="container">
                    <div class="content">
                        <h1>Join the water revolution!</h1>
                        <p>Learn more about the inspiration behind water3.</p>

                        <button class="btn btn-a btn-play" title="Play" type="button">Play</button>
                    </div>

                    <button class="scroll-to" type="button" data-scroll="#about">
                        <span class="text">Scroll to learn more</span>
                        <span class="icon icon-arrow-down-white"></span>
                    </button>
                </div>

                <div class="background"></div>
                <div class="gradient"></div>
            </div>

            <div class="hero-video">
                <div class="container">
                    <div class="video-outer">
                        <div class="video-inner">
                            <div class="video">
                                <iframe id="player" src="https://www.youtube.com/embed/rlfrwCnBinQ?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="component component-text">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">

                        <h1 class="text-center">Join the water revolution!</h1>

                        <p>The number one thing you can do to save our planet is to ditch plastic bottled water for good. water3 provides a fast, affordable and eco friendly way to drink water and save the planet.</p>
                        <p>Every time you refill at a water3 kiosk you are not only reducing the amount of plastic bottle waste in our environment, but you are also directly funding a number of water3 conservation projects including; river and beach cleanups, turtle rehabilitation, and animal rescue.</p>
                        <p>With the water3 app you can hydrate on the go in 4 simple steps:</p>
                        <ol>
                            <li><a href="login.html" title="Login">Login</a> or <a href="register.html" title="Register">register</a> your account and bottle</li>
                            <li><a href="login.html" title="Top up">Top up</a> credit</li>
                            <li>Search for a water3 kiosk near you using our <a href="kiosks.html" title="Find a kiosk">kiosk locator</a></li>
                            <li>Refill with still or sparkling water at a conveniently located kiosk near you</li>
                        </ol>
                        <p>If you don’t have a water bottle handy, water3 kiosks also provide a state of the art water3 bottle with embedded RFID technology to make refilling even easier. Just swipe and go for a refreshing bottle of ice cold spring water.</p>

                    </div>
                </div>
            </div>
        </section>
    </main>
        <footer class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 social">
                <h3>Follow Us</h3>

                <div class="actions">
                    <a class="btn btn-c btn-circle btn-icon" href="https://www.facebook.com/water3global" title="Facebook" target="_blank">
                        <span class="icon icon-facebook hidden-hover"></span>
                        <span class="icon icon-facebook-white visible-hover"></span>
                        <span class="text">Facebook</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://twitter.com/water3_" title="Twitter" target="_blank">
                        <span class="icon icon-twitter hidden-hover"></span>
                        <span class="icon icon-twitter-white visible-hover"></span>
                        <span class="text">Twitter</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.linkedin.com/company/water3" title="LinkedIn" target="_blank">
                        <span class="icon icon-linkedin hidden-hover"></span>
                        <span class="icon icon-linkedin-white visible-hover"></span>
                        <span class="text">LinkedIn</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.instagram.com/_water3_" title="Instagram" target="_blank">
                        <span class="icon icon-instagram hidden-hover"></span>
                        <span class="icon icon-instagram-white visible-hover"></span>
                        <span class="text">Instagram</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" title="YouTube" target="_blank">
                        <span class="icon icon-youtube hidden-hover"></span>
                        <span class="icon icon-youtube-white visible-hover"></span>
                        <span class="text">YouTube</span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 subscribe">
                <h3>Subscribe</h3>

                <form method="POST" action="https://water3.com.au/subscribe#subscribe" accept-charset="UTF-8" id="subscribe"><input name="_session_key" type="hidden" value="n41OEfbBsgtl3Tycd9X8OydU2iEEATxUgXzcizeH"><input name="_token" type="hidden" value="fzjkFcCSHFdpYLYa4Iogpix7ogBm5Cuw1DLYfo30">
                    <div class="pre-alerts">
                                                                    </div>

                    <div class="field-group">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email address</label>
                            <span class="icon icon-envelope"></span>
                            <input class="form-control" placeholder="Email address" name="email" type="email" id="email">
                        </div>
                    </div>

                    <button class="btn btn-c" type="submit">Submit</button>

                    <div class="post-alerts">
                                                                    </div>
                </form>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="navigation">
                    <li><a href="kiosks.html" title="Find kiosks">Find kiosks</a></li>
                    <li><a href="faqs.html" title="Frequently asked questions">FAQs</a></li>
                    <li><a href="terms.html" title="Terms of service">Terms of service</a></li>
                    <li><a href="privacy.html" title="Privacy policy">Privacy policy</a></li>
                </ul>

                <p class="question">Have a question? <a href="contact.html" title="Contact us">Contact us</a></p>

                <p class="copyright">
                    Copyright &copy; 2017 Vending Machines International PTE LTD. All Rights Reserved.<br>
                    Designed by <a href="https://www.littlegiant.co.nz/" title="Little Giant">Little Giant</a>. Developed by <a href="https://klyp.co" title="Klyp">Klyp</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
</ion-content>
        <section class="component component-bottom-button responsive">
    <div class="button-container">
        <a class="btn btn-icon-inline btn-square btn-facebook-messenger" href="https://m.me/water3global" target="_blank">
            <span class="icon icon-facebook-messenger"></span>
            Message water3
        </a>
    </div>
</section>
    </body>

    <script type="text/javascript" src="themes/water3/assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="themes/water3/assets/js/app-1486002319.js"></script>

</html>
