
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     Top Up | Amount
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>


    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
<ion-content style="background-color: #368ba1">
<main class="page home with-bottom-button">
<section class="component component-section">
            <div class="container">
                <h1>Choose a Subscription Plan</h1>

                <a class="back" (click)="back()" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>

                <ol class="progression">
                    <li class="current">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ol>
            </div>
        </section>
    <div class="sub-form-wrap">
        <section class="component component-bottle-list">

                    <div>
                        <div>
                                <ion-slides (ionSlideDidChange)="getIndex()" style="height:400px;" loop="false"> 
                                <ion-slide> 
                                <div class="refill-circle"> 
                                    <div style="margin:0px" class="refill-circle-inner"> 
                                        <svg width="156" height="156" viewBox="0 0 42 42" class="donut">
                                            <defs> 
                                                <linearGradient id="grad1"> 
                                                    <stop offset="40%" stop-color="#03b0d7"/> 
                                                    <stop offset="90%" stop-color="#dae031"/> 
                                                </linearGradient> 
                                            </defs> 
                                                <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#368aa0"/> 
                                                <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/> 
                                                <circle class="donut-segment animated" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/> 
                                                <g class="chart-text"> </g> 
                                        </svg> 
                                        <div style="top:25px;" class="refill-count"> 
                                            <small>$10 for</small> 
                                            <strong class="total_dollar">15</strong> 
                                            <small>refill credits</small> 
                                        </div> 
                                        <img src="assets/img/bottle.png" alt="water3 bottle"> 
                                    </div> 
                                </div> 
                                </ion-slide> 
                                <ion-slide> 
                                    <div class="refill-circle"> 
                                        <div style="margin:0px" class="refill-circle-inner"> 
                                        <svg width="166" height="166" viewBox="0 0 42 42" class="donut"> 
                                            <defs> 
                                                <linearGradient id="grad1"> 
                                                <stop offset="40%" stop-color="#03b0d7"/> 
                                                <stop offset="90%" stop-color="#dae031"/> 
                                                </linearGradient> 
                                            </defs> 
                                            <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#368aa0"/> 
                                            <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/> 
                                            <circle class="donut-segment animated" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/> 
                                            <g class="chart-text"> </g> 
                                        </svg> 
                                        <div style="top:25px;" class="refill-count"> 
                                            <small>$15 for</small> 
                                            <strong class="total_dollar">25</strong> 
                                            <small>refill credits</small> 
                                        </div> 
                                        <img src="assets/img/bottle.png" alt="water3 bottle"> 
                                    </div> 
                                </div> 
                                </ion-slide> 
                                <ion-slide> 
                                <div class="refill-circle"> 
                                    <div style="margin:0px" class="refill-circle-inner">
                                        <svg width="176" height="176" viewBox="0 0 42 42" class="donut"> 
                                            <defs> 
                                                <linearGradient id="grad1"> 
                                                    <stop offset="40%" stop-color="#03b0d7"/>
                                                    <stop offset="90%" stop-color="#dae031"/> 
                                                </linearGradient> 
                                            </defs> 
                                                <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#368aa0"/> 
                                                <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/> 
                                                <circle class="donut-segment animated" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/> 
                                                <g class="chart-text"> </g> 
                                        </svg> 
                                        <div style="top:25px;" class="refill-count"> 
                                            <small>$20 for</small> 
                                            <strong class="total_dollar">35</strong> 
                                            <small>refill credits</small> 
                                        </div>
                                        <img src="assets/img/bottle.png" alt="water3 bottle"> 
                                    </div> 
                                </div>
                                </ion-slide> 
                                <ion-slide> 
                                    <div class="refill-circle"> 
                                        <div style="margin:0px" class="refill-circle-inner"> 
                                            <svg width="186" height="186" viewBox="0 0 42 42" class="donut"> 
                                                <defs> 
                                                    <linearGradient id="grad1"> 
                                                        <stop offset="40%" stop-color="#03b0d7"/> 
                                                        <stop offset="90%" stop-color="#dae031"/> 
                                                    </linearGradient> 
                                                </defs> 
                                                    <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#368aa0"/> 
                                                    <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/> 
                                                    <circle class="donut-segment animated" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/> 
                                                    <g class="chart-text"> </g> 
                                            </svg> 
                                            <div style="top:25px;" class="refill-count"> 
                                                <small>$25 for</small> 
                                                <strong class="total_dollar">45</strong> 
                                                <small>refill credits</small> 
                                            </div> 
                                            <img src="assets/img/bottle.png" alt="water3 bottle"> 
                                        </div> 
                                    </div> 
                                    </ion-slide> 
                                    <ion-slide> 
                                    <div class="refill-circle">
                                        <div style="margin:0px" class="refill-circle-inner"> 
                                            <svg width="196" height="196" viewBox="0 0 42 42" class="donut"> 
                                                <defs> 
                                                    <linearGradient id="grad1">
                                                        <stop offset="40%" stop-color="#03b0d7"/>  
                                                        <stop offset="90%" stop-color="#dae031"/> 
                                                    </linearGradient> 
                                                </defs> 
                                                <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#368aa0"/> 
                                                <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/> 
                                                <circle class="donut-segment animated" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/> 
                                                <g class="chart-text"> </g> 
                                            </svg> 
                                            <div style="top:25px;" class="refill-count"> 
                                                <small>$30 for</small> 
                                                <strong class="total_dollar">55</strong> 
                                                <small>refill credits</small> 
                                            </div> 
                                            <img src="assets/img/bottle.png" alt="water3 bottle"> 
                                        </div>
                                    </div> 
                                    </ion-slide> 
                                    </ion-slides>
                        </div>

                        <button *ngIf="!slides.isBeginning()" style="top:240px;width:45px;height:45px;" class="btn btn-a btn-circle btn-icon btn-carousel previous" type="button" (click)="slidePrev()">
                            <span class="icon icon-arrow-left"></span>
                            <span class="text">Previous</span>
                        </button>

                        <button *ngIf="!slides.isEnd()" style="top:240px;width:45px;height:45px;" class="btn btn-a btn-circle btn-icon btn-carousel next" type="button" (click)="slideNext()">
                            <span class="icon icon-arrow-right"></span>
                            <span class="text">Next</span>
                        </button>

                        <div align="center" class="subscription-btn-section-inner subscription-btn-section-inner-bottom">
                            <div class="subscribe-btn-wrap">
                                <button class="btn btn-a" type="submit" (click)="postPlan()" >Subscribe Now</button>
                            </div>
                            <div class="terms-link">
                                <a (click)="navCtrl.setRoot('TermsPage')" class="text-center">Terms and Conditions</a>
                            </div>

                        </div>

                    </div>


            </section>
        <div class="subscription-btn-section">
            <div class="subscription-btn-section-inner dollars">
            

            </div>

        </div>
    </div>

</main>
    </ion-content>
    </body>


    <script type="text/javascript" src="../themes/water3/assets/js/vendor-1495700986.js"></script>
    <script type="text/javascript" src="../themes/water3/assets/js/app-1498189486.js"></script>

</html>
