
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     Top Up | Amount
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
           <main class="page">
        <section class="component component-section">
            <div class="container">
                <h1>Confirm Address</h1>

                <a class="back" (click)="navCtrl.setRoot('SubscriptionPage')" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>

                <ol class="progression">
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="current">2</li>
                    <li>3</li>
                    <li>4</li>
                </ol>
            </div>
        </section>
        
        <div class="content narrow">
            <section class="component component-form">
                                
                <form *ngIf="isLoaded" (ngSubmit)="postAddress()" accept-charset="UTF-8" novalidate="novalidate"><input name="_session_key" type="hidden" value="NwFiAm0hAkKMWgjl36eUZ8pzEwO4vtQ3bDkAbQ2W"><input name="_token" type="hidden" value="BExa9c3dStVd2CHnuEq0744dX0lI8fykyjlWalPW">
                    <fieldset>
                        <legend>Address details</legend>

                        <div class="field-group">
                            <div class="form-group">
                                <label for="address_1" class="sr-only">Street address</label>
                                <span class="icon icon-house"></span>
                                <input class="form-control" placeholder="Street address" name="address_1" type="text" [(ngModel)]="accountInfo.address_1" id="address_1">
                            </div>

                            <div class="form-group">
                                <label for="address_2" class="sr-only">Street address</label>
                                <span class="icon icon-house"></span>
                                <input class="form-control" placeholder="Address 2 - Optional" name="address_2" type="text" [(ngModel)]="accountInfo.address_2" id="address_2">
                            </div>

                            <div class="form-group">
                                <label for="city" class="sr-only">City</label>
                                <span class="icon icon-house"></span>
                                <input class="form-control" placeholder="City" name="city" type="text" [(ngModel)]="accountInfo.city" id="city">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="state_id" class="sr-only">State</label>
                                        <span class="icon icon-house"></span>
                                        
                                <ion-item *ngIf="state!=null && state!=''">
                                <ion-select interface="popover" class="addressSelect" name="state" placeholder="Select State" [(ngModel)]="accountInfo.state_id">

                                  <ion-option text-left *ngFor="let s of state" value="{{ s.id }}" selected="true">{{s.name}}</ion-option>
                                </ion-select>
                                </ion-item>

                                <ion-item *ngIf="state==null || state==''">
                                <ion-select interface="popover" class="addressSelect" name="state" placeholder="--" disabled="true">
                                </ion-select>
                                </ion-item>


                                    </div>
                                    <div class="col-xs-6" style="padding-top: 6px; padding-bottom: 6px;">
                                        <label for="postcode" class="sr-only">Postcode</label>
                                        <input class="form-control" placeholder="Postcode" name="postcode" [(ngModel)]="accountInfo.postcode" type="text" id="postcode">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="country_id" class="sr-only">Country</label>
                                <span class="icon icon-house"></span>
                                <ion-item>
                                <ion-select interface="popover" class="addressSelect" (ionChange)="updateState()" name="country" [(ngModel)]="accountInfo.country_id">
                                  <ion-option text-left *ngFor="let c of country" value="{{ c.id }}" selected="true">{{c.name}}</ion-option>
                                </ion-select>
                              </ion-item>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-submit-group">
                        <button class="btn btn-d btn-block" type="submit">Next</button>
                    </div>
                </form>
            </section>

        </div>
    </main>
    </body>

    <script type="text/javascript" src="../themes/water3/assets/js/vendor-1495700986.js"></script>
        <script type="text/javascript" src="../themes/water3/assets/js/app-1498189486.js"></script>

</html>
