
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     Top Up | Amount
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
<ion-content style="background-color: #368ba1">
           <main class="page payment">
        <section class="component component-section">
            <div class="container">
                <h1>Payment</h1>

                <a class="back" (click)="back()" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>

                <ol class="progression">
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="current">4</li>
                </ol>
            </div>
        </section>

        <div *ngIf="isLoaded && card!=null && card!=''" class="content narrow">
            <section class="component component-form">
                                                <div class="alert alert-warning stripe" style="display: none;">
                    <p>
                        <span class="icon icon-warning"></span>
                        <span class="message"></span>
                    </p>
                </div>

                
                    <form (ngSubmit)="postPayment()" accept-charset="UTF-8" autocomplete="off" novalidate="novalidate"><input name="_session_key" type="hidden" value="9eapdg3HQymKtxY9qQWBcPOZyA3YJbgHdrpzd65C"><input name="_token" type="hidden" value="cjloJVUWEe0mFRfYF8UH75YAPOL3iObnv5t6BZtI">
                        <fieldset>
                            <legend>Credit card details</legend>

                            <div class="field-group">
                                <div class="form-group">
                                    <label for="card_number" class="sr-only">Card number</label>
                                    <span class="icon icon-payment"></span>
                                    <div class="form-control">
                                        <span>**** **** **** {{card.last4}}</span>
                                        <a class="pull-right" (click)="navCtrl.setRoot('SubPaymentMethodPage')" title="Change password">Change</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="field-group emphasise">
                                <div class="form-group">
                                    <label for="amount">Subscription Amount</label>
                                    <div class="total pull-right">{{ amount }}</div>
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" name="stripe_token" [(ngModel)]="Stripe_token" value="{{card.stripe_card_id}}">
                        <div class="form-submit-group">
                            <button class="btn btn-d btn-block" type="submit">Confirm</button>
                        </div>

                    </form>

                            </section>
        </div>

        <div *ngIf="isLoaded && (card==null || card=='')" class="content narrow">
            <section class="component component-form">
                                                <div class="alert alert-warning stripe" style="display: none;">
                    <p>
                        <span class="icon icon-warning"></span>
                        <span class="message"></span>
                    </p>
                </div>

                
                    <form (ngSubmit)="postPayment()" accept-charset="UTF-8" id="payment" autocomplete="off" novalidate="novalidate"><input name="_session_key" type="hidden" value="yNYQcrMekutdrIyan3lL52EA1kk43LIa2ttOCOP7"><input name="_token" type="hidden" value="WzE47nwZhrOooMgmytCQVq9O6Zj1WAbkYeeYOwtU">
                        <fieldset>
                            <legend>Credit card details</legend>

                            <div class="field-group">
                                <div class="form-group">
                                    <label for="cardholder_name" class="sr-only">Cardholder name</label>
                                    <span class="icon icon-account"></span>
                                    <ion-input [(ngModel)]="Stripe_param.name" name="name" placeholder="Cardholder Name" class="form-control" no-margin></ion-input>
                                </div>

                                <div class="form-group">
                                    <label for="card_number" class="sr-only">Card number</label>
                                    <span class="icon icon-payment"></span>
                                    <ion-input [(ngModel)]="Stripe_param.number" name="number" type="number" class="form-control" placeholder="**** **** **** ****" no-margin></ion-input>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Expiry date</legend>

                            <div class="field-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="expiry_month" class="sr-only">Expiry month</label>
                                            <ion-input [(ngModel)]="Stripe_param.exp_month"  name="expiry_month" class="form-control" min="1" max="12" placeholder="MM" type="number" no-margin></ion-input>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="expiry_year" class="sr-only">Expiry year</label>
                                            <ion-input [(ngModel)]="Stripe_param.exp_year"  name="expiry_year" class="form-control" min="2017" max="2037" placeholder="YYYY" type="number" no-margin></ion-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>CVC</legend>

                            <div class="field-group split">
                                <div class="form-group">
                                    <label for="cvc" class="sr-only">CVC</label>
                                    <ion-input [(ngModel)]="Stripe_param.cvc"  name="cvc" class="form-control" placeholder="XXX" type="text" no-margin></ion-input>
                                </div>
                            </div>
                        </fieldset>

                      
                            <fieldset>
                                <div class="field-group">
                                    <div class="form-group toggle">
                                        <label for="save_card">Save credit card details</label>
                                        <input [(ngModel)]="save"  id="save_card" name="save_card" type="checkbox" value="1">
                                        <label for="save_card" data-toggle-off="No" data-toggle-on="Yes"></label>
                                    </div>
                                </div>
                            </fieldset>
                      
                        <fieldset>
                            <div class="field-group emphasise">
                                <div class="form-group">
                                    <label for="amount">Subscription Amount</label>
                                    <div class="total pull-right">{{ amount }}</div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-submit-group">
                            <input type="hidden" name="tokenID" [(ngModel)]="tokenID" value="">
                            <button class="btn btn-d btn-block" type="submit">Confirm</button>
                        </div>
                    </form>

                            </section>
        </div>
    </main>
    </ion-content>
    </body>

    <script type="text/javascript" src="../themes/water3/assets/js/vendor-1495700986.js"></script>
    <script type="text/javascript" src="../themes/water3/assets/js/app-1498189486.js"></script>

</html>
