
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     Top Up | Amount
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
<ion-content style="background-color: #368ba1">
            <main class="page">
        <section class="component component-section">
            <div class="container">
                <h1>Payment Method</h1>

                <a class="back" (click)="back()" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>

                <ol class="progression">
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="current">3</li>
                    <li>4</li>
                </ol>
            </div>
        </section>

        <div class="content topup-amount" *ngIf="isLoaded">
            <section class="component component-top-up-payment-method">
                                
                <form (ngSubmit)="postPaymentMethod()" accept-charset="UTF-8" novalidate="novalidate"><input name="_session_key" type="hidden" value="KqTY8gIERqmB2ZQDhSQrgRwEWVXWc93O4I2mT8HM"><input name="_token" type="hidden" value="BExa9c3dStVd2CHnuEq0744dX0lI8fykyjlWalPW">
                    <div class="methods">
                        <div class="row">
                            <div class="col-md-6 saved-card" style="width:400px;">
                                <fieldset>
                                    <legend>Pay with your saved card</legend>

                                    <div *ngIf="cards!=null && cards!=''" class="field-group">
                                                                                    
                                            <div *ngFor="let c of cards" class="form-group radio">
                                                <span class="icon icon-payment"></span>
                                                <input id="{{c.stripe_card_id}}" name="card_id" [(ngModel)]="card_id" type="radio" value="{{c.stripe_card_id}}">
                                                <label for="{{c.stripe_card_id}}">**** **** **** {{c.last4}}</label>
                                            </div>

                                            <div align="center" class="form-group">
                                                <a (click)="navCtrl.setRoot('PaymentsPage',{ back: 'SubPaymentMethodPage'})">Manage your cards</a>
                                            </div>
                                            
                                    </div>
                                </fieldset>
                            </div>

                            <div class="col-md-6 new-card" style="width:400px;">
                                <fieldset>
                                    <legend>Pay with a new card</legend>

                                    <div class="field-group">
                                        <div class="form-group radio">
                                            <span class="icon icon-payment"></span>
                                            <input id="card_0" name="card_id" type="radio" [(ngModel)]="card_id" value="0">
                                            <label for="card_0">**** **** **** ****</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="content narrow actions">
                        <button class="btn btn-d btn-block" type="submit">Next</button>
                    </div>
                </form>
            </section>
        </div>
    </main>
    </ion-content>
    </body>

    <script type="text/javascript" src="../themes/water3/assets/js/vendor-1495700986.js"></script>
        <script type="text/javascript" src="../themes/water3/assets/js/app-1498189486.js"></script>

</html>
