<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-default" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
        <ion-content>
        <main class="page white">
        <section class="component component-section">
            <div class="container">
                <h1>Confirmation</h1>

                <a class="back" (click)='back()' title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>

                <ol class="progression">
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                    <li class="complete"><span class="icon icon-success-white"></span></li>
                </ol>
            </div>
        </section>

        <div class="content" *ngIf="isLoaded">
            <section *ngIf="isPending=='true'" class="component component-confirmation">

                    <span class="icon icon-success-circle-gradient"></span>
                    <h2 style="color: black;">Subscription is on pending</h2>
                    <p style="color: black;">
                        You currently have remaining credits from previous subscription<br>
                        or your previous subscription is not expired.<br><br>
                        Your new subscription will be active on {{ helper.convert_time(activedate) }} or when you used up the subscription credits.<br>
                        We will charge you on the activation date.<br><br>
                        A confirmation email will be sent to <a href="mailto:{{ email }}">{{ email }}</a> when we successfully charge you.<br>
                        You can cancel this subscription at anytime.
                    </p>

                    <div class="content narrow bottle-status">

                        <div class="btn-actions actions row">
                            <div class="col-xs-12">
                                <a class="btn btn-responsive btn-block btn-c" href="" title="Find kiosks">Find kiosks</a>
                            </div>
                        </div>
                    </div>
            </section>
            <section *ngIf="isPending!='true'" class="component component-confirmation">

                    <span class="icon icon-success-circle-gradient"></span>
                    <h2 style="color: black;">Subscription Successfuly Submitted</h2>
                    <p style="color: black;">
                        Your subscription has been submitted.<br>
                        Your subscription plan is {{ plan }}.<br><br>
                        The credits will be added to your account and a confirmation email will be sent to <a href="mailto:{{ email }}">{{ email }}</a> once the purchase is processed.<br>
            (This usually takes 1-2 minutes)<br><br>
                        You can unsubscribe at anytime.
                    </p>

                    <div class="content narrow bottle-status">
                        <div class="list-group">
                            <div class="list-group-item">
                                <p class="pull-left" style="color:black;">Balance</p>
                                <p class="balance pull-right">${{ balance}}</p>
                            </div>
                        </div>

                        <div class="btn-actions actions row">
                            <div class="col-xs-12">
                                <a class="btn btn-responsive btn-block btn-c" href="" title="Find kiosks">Find kiosks</a>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </main>

        <footer class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 social">
                <h3>Follow Us</h3>

                <div class="actions">
                    <a class="btn btn-c btn-circle btn-icon" href="https://www.facebook.com/water3global" title="Facebook" target="_blank">
                        <span class="icon icon-facebook hidden-hover"></span>
                        <span class="icon icon-facebook-white visible-hover"></span>
                        <span class="text">Facebook</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://twitter.com/water3_" title="Twitter" target="_blank">
                        <span class="icon icon-twitter hidden-hover"></span>
                        <span class="icon icon-twitter-white visible-hover"></span>
                        <span class="text">Twitter</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.linkedin.com/company/water3" title="LinkedIn" target="_blank">
                        <span class="icon icon-linkedin hidden-hover"></span>
                        <span class="icon icon-linkedin-white visible-hover"></span>
                        <span class="text">LinkedIn</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.instagram.com/_water3_" title="Instagram" target="_blank">
                        <span class="icon icon-instagram hidden-hover"></span>
                        <span class="icon icon-instagram-white visible-hover"></span>
                        <span class="text">Instagram</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" title="YouTube" target="_blank">
                        <span class="icon icon-youtube hidden-hover"></span>
                        <span class="icon icon-youtube-white visible-hover"></span>
                        <span class="text">YouTube</span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 subscribe">
                <h3>Subscribe</h3>

                <form method="POST" action="https://water3.com.au/subscribe#subscribe" accept-charset="UTF-8" id="subscribe"><input name="_session_key" type="hidden" value="eUawDN3pvQfIycwYiJkiaxytd1gS29WbCAYC0Pn2"><input name="_token" type="hidden" value="fzjkFcCSHFdpYLYa4Iogpix7ogBm5Cuw1DLYfo30">
                    <div class="pre-alerts">
                                                                    </div>

                    <div class="field-group">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email address</label>
                            <span class="icon icon-envelope"></span>
                            <input class="form-control" placeholder="Email address" name="email" type="email" id="email">
                        </div>
                    </div>

                    <button class="btn btn-c" type="submit">Submit</button>

                    <div class="post-alerts">
                                                                    </div>
                </form>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="navigation">
                    <li><a (click)="navCtrl.setRoot('KioskPage')" title="Find kiosks">Find kiosks</a></li>
                    <li><a (click)="navCtrl.setRoot('FaqsPage')"  title="Frequently asked questions">FAQs</a></li>
                    <li><a (click)="navCtrl.setRoot('TermsPage')"  title="Terms of service">Terms of service</a></li>
                    <li><a (click)="navCtrl.setRoot('PrivacyPage')"  title="Privacy policy">Privacy policy</a></li>
                </ul>

                <p class="question">Have a question? <a (click)="navCtrl.setRoot('ContactPage')" title="Contact us">Contact us</a></p>

                <p class="copyright">
                    Copyright &copy; 2017 Vending Machines International PTE LTD. All Rights Reserved.<br>
                    Designed by <a href="https://www.littlegiant.co.nz/" title="Little Giant">Little Giant</a>. Developed by <a href="https://klyp.co" title="Klyp">Klyp</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
</ion-content>
        <section class="component component-bottom-button responsive">
    <div class="button-container">
        <a class="btn btn-icon-inline btn-square btn-facebook-messenger" href="https://m.me/water3global" target="_blank">
            <span class="icon icon-facebook-messenger"></span>
            Message water3
        </a>
    </div>
</section>
    </body>

    <script type="text/javascript" src="assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="assets/js/app-1486002319.js"></script>

</html>
