
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     Top Up | Amount
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
<ion-content style="background-color: #368ba1">
<main *ngIf="isLoaded" class="page home with-bottom-button">
    <div class="sub-form-wrap">
        <section id="hero" class="subscribe-wrap sub-info-main">
            <div class="subscribe-title">
                <div class="container">
                    <h1>Subscription Information</h1>
                </div>
            </div>
            <div class="subscription-info-pan">
                <div class="subscription-info-pan-part">
                    <div class="sub-info-wrap">
                        <h1 *ngIf="hasActive" class="sub-info-title">Current Plan</h1>
                        <h1 *ngIf="!hasActive && hasLast" class="sub-info-title">Previous Plan</h1>
                        <p class="sub-info-text">Credits Remaining: <span>${{credits}},</span></p>
                        <p *ngIf="hasActive" class="sub-info-text">Next Payment: <span>25 Aug 2017</span></p>
                        <p *ngIf="!hasActive && hasLast" class="sub-info-text">Expire: <span>{{ helper.convert_time(Last.creditExpireDate.iso,"subscription") }}</span></p>
                    </div>
                    <div class="subscription-btn-section-inner dollars subscription-info-dollar subscription-info-pan-part-left">
                        <div class="sub-info-dollar-conatiner sub-info-dollar-conatiner-margin">
                            <div class="refill-circle2">
                                <div class="refill-circle-inner2 dark-active active-circle-new">
                                    <svg width="120" height="120" viewBox="0 0 42 42" class="donut">

                                        <defs>
                                            <linearGradient id="grad1">
                                                <stop offset="40%" stop-color="#03b0d7"/>
                                                <stop offset="90%" stop-color="#dae031"/>
                                            </linearGradient>
                                        </defs>

                                        <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#166788"/>
                                        <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/>
                                        <circle class="donut-segment" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/>
                                        <g class="chart-text">
                                            <text x="50%" y="50%" class="chart-number">
                                            </text>
                                        </g>
                                        
                                    </svg>
                                    <div class="refill-count">
                                        <strong *ngIf="hasActive">{{Last.plan.substr(0,5)+" "+Last.plan.substr(5)}}</strong>
                                        <strong *ngIf="!hasActive && hasLast">{{Last.plan.substr(0,5)+" "+Last.plan.substr(5)}}</strong>
                                        <strong *ngIf="!hasActive && !hasLast">-</strong>
                                    </div>
                                    <p class="circle-bottom-text">Plan</p>
                                </div>
                            </div>

                            <div class="refill-circle2 dark-active active-circle-new">
                                <div class="refill-circle-inner2">
                                    <svg width="120" height="120" viewBox="0 0 42 42" class="donut">
                                        <defs>
                                            <linearGradient id="grad1">
                                                <stop offset="40%" stop-color="#03b0d7"/>
                                                <stop offset="90%" stop-color="#dae031"/>
                                            </linearGradient>
                                        </defs>
                                        <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#166788"/>
                                        <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/>
                                        <circle class="donut-segment" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/>
                                        <g class="chart-text">
                                            <text x="50%" y="50%" class="chart-number">
                                                
                                            </text>
                                        </g>
                                    </svg>
                                    <div class="refill-count">
                                        <strong *ngIf="hasActive">${{Active.priceAmount}}</strong>
                                        <strong *ngIf="!hasActive && hasLast">${{Last.priceAmount}}</strong>
                                        <strong *ngIf="!hasActive && !hasLast">-</strong>
                                    </div>
                                    <p class="circle-bottom-text">Price</p>
                                </div>
                            </div>

                            <div class="refill-circle2 dark-active active-circle-new">
                                <div class="refill-circle-inner2">
                                    <svg width="120" height="120" viewBox="0 0 42 42" class="donut">
                                        <defs>
                                            <linearGradient id="grad1">
                                                <stop offset="40%" stop-color="#03b0d7"/>
                                                <stop offset="90%" stop-color="#dae031"/>
                                            </linearGradient>
                                        </defs>
                                        <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#166788"/>
                                        <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/>
                                        <circle class="donut-segment" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/>
                                        <g class="chart-text">
                                            <text x="50%" y="50%" class="chart-number">
                                                
                                            </text>
                                        </g>
                                    </svg>
                                    <div class="refill-count">
                                        <strong *ngIf="hasActive">{{Active.creditAmount}}</strong>
                                        <strong *ngIf="!hasActive && hasLast">{{Last.creditAmount}}</strong>
                                        <strong *ngIf="!hasActive && !hasLast">-</strong>
                                    </div>
                                    <p class="circle-bottom-text">Credit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a *ngIf="hasActive" (click)="toDelete()"class="btn sub-info-btn">Unsubscribe</a>
                    <a *ngIf="!hasActive && !hasPending" (click)="toPlan()" class="btn sub-info-btn">New Subscription</a>
                    <p *ngIf="hasPending" class="sub-info-text">Your pending plan will become active on the active date or when you use up the remaining credits.</p>
                </div>
                <div class="subscription-info-pan-part">
                    <div class="sub-info-wrap">
                        <h1 class="sub-info-title">Pending Plan</h1>
                        <p class="sub-info-text">Active Date: <span *ngIf="hasPending">{{helper.convert_time(Pending.activedate.iso,'subscription')}}</span></p>
                        
                    </div>
                    <div class="subscription-btn-section-inner dollars subscription-info-dollar">
                        <div class="sub-info-dollar-conatiner sub-info-dollar-conatiner-margin">
                            <div class="refill-circle2 sub-info-refill">
                                <div class="refill-circle-inner2">
                                    <svg width="120" height="120" viewBox="0 0 42 42" class="donut">

                                        <defs>
                                            <linearGradient id="grad1">
                                                <stop offset="40%" stop-color="#03b0d7"/>
                                                <stop offset="90%" stop-color="#dae031"/>
                                            </linearGradient>
                                        </defs>
                                        <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#166788"/>
                                        <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/>
                                        <circle class="donut-segment" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/>
                                        <g class="chart-text">
                                            <text x="50%" y="50%" class="chart-number">
                                                
                                            </text>
                                        </g>
                                    </svg>
                                    <div class="refill-count">
                                        <strong *ngIf="hasPending">{{Pending.plan.substr(0,5)+" "+Pending.plan.substr(5)}}</strong>
                                        <strong *ngIf="!hasPending">-</strong>
                                    </div>
                                    <p class="circle-bottom-text">Plan</p>
                                </div>
                            </div>

                            <div class="refill-circle2 sub-info-refill">
                                <div class="refill-circle-inner2">
                                    <svg width="120" height="120" viewBox="0 0 42 42" class="donut">
                                        <defs>
                                            <linearGradient id="grad1">
                                                <stop offset="40%" stop-color="#03b0d7"/>
                                                <stop offset="90%" stop-color="#dae031"/>
                                            </linearGradient>
                                        </defs>
                                        <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#166788"/>
                                        <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/>
                                        <circle class="donut-segment" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/>
                                        <g class="chart-text">
                                            <text x="50%" y="50%" class="chart-number">
                                                
                                            </text>
                                        </g>
                                    </svg>
                                    <div class="refill-count">
                                        <strong *ngIf="hasPending">${{ Pending.priceAmount }}</strong>
                                        <strong *ngIf="!hasPending">-</strong>
                                    </div>
                                    <p class="circle-bottom-text">Price</p>
                                </div>
                            </div>

                            <div class="refill-circle2 sub-info-refill">
                                <div class="refill-circle-inner2">
                                    <svg width="120" height="120" viewBox="0 0 42 42" class="donut">
                                        <defs>
                                            <linearGradient id="grad1">
                                                <stop offset="40%" stop-color="#03b0d7"/>
                                                <stop offset="90%" stop-color="#dae031"/>
                                            </linearGradient>
                                        </defs>
                                        <circle class="donut-hole" cx="21" cy="21" r="18.8" fill="#166788"/>
                                        <circle class="donut-ring" cx="21" cy="21" r="20" fill="transparent" stroke="transparent" stroke-width="1"/>
                                        <circle class="donut-segment" cx="21" cy="21" r="20" fill="transparent" stroke="url(#grad1)" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="0" stroke-linecap="round"/>
                                        <g class="chart-text">
                                            <text x="50%" y="50%" class="chart-number">
                                                
                                            </text>
                                        </g>
                                    </svg>
                                    <div class="refill-count">
                                        <strong *ngIf="hasPending">{{ Pending.creditAmount}}</strong>
                                        <strong *ngIf="!hasPending">-</strong>
                                    </div>
                                    <p class="circle-bottom-text">Credit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a *ngIf="hasPending" (click)="toDelete()" class="btn sub-info-btn">Cancel</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    </div>
</main>
    </ion-content>
    </body>


    <script type="text/javascript" src="../themes/water3/assets/js/vendor-1495700986.js"></script>
    <script type="text/javascript" src="../themes/water3/assets/js/app-1498189486.js"></script>

</html>
