<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-default" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="navCtrl.setRoot('TopupPage')" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
        <ion-content>
        <main class="page home with-bottom-button">

        <section id="about" class="component component-text">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                       <h1 class="text-center">Terms of Service</h1>
                        <p class="text-center uppercase"><strong>Please read these terms of use carefully before using this service.</strong></p>

                        <div id="definitions" class="anchor"></div>
                        <h2>Definitions</h2>
                        <ol>
                            <li>
                                In these terms and conditions the following definitions apply:<br><br>
                                <strong>Act(s)</strong> mean any legislation or statutory instrument of a State or Territory of Australia or of the Commonwealth of Australia.<br><br>
                                <strong>Claim</strong> means any action, claim, proceeding or demand whatsoever in relation to any dispute, whether presently existing or arising at any time in the future and whether referable to events or circumstances which have already occurred or which may occur in the future.<br><br>
                                <strong>Confidential Information</strong> means all information in whatever form be it oral, in writing or electronic concerning the Problem and/or Solution but does not include information that is in the public domain or was previously known to a third party.<br><br>
                                <strong>GST</strong> has the meaning set out in s. 195-1 of the GST Act.<br><br>
                                <strong>GST Act</strong> means the A New Tax System <em>(Goods and Services Tax) Act 1999</em> (Cth), as amended.<br><br>
                                <strong>Intellectual Property</strong> means copyright, registered and unregistered trademarks, design, patent, trade, business, company or domain names, any right to have confidential information kept confidential, other proprietary rights or any rights to registration of such rights existing anywhere in the world.<br><br>
                                <strong>Loss</strong> means all losses, costs, expenses and damages (including legal costs and disbursements) sustained or incurred, whether directly or indirectly or consequentially or in any other way.<br><br>
                                <strong>Machine</strong> means the water3 vending machine(s).<br><br>
                                <strong>Moral Rights</strong> means moral rights under the <em>Copyright Act 1968</em> (Cth) or any similar rights existing under foreign laws.<br><br>
                                <strong>Personal Information</strong> has the meaning given in the <em>Privacy Act 1988</em> (Cth).
                            </li>
                        </ol>

                        <div id="general" class="anchor"></div>
                        <h2>General Terms</h2>
                        <ol>
                            <li>
                                These terms of use (<strong>"Terms"</strong>) govern the products and services (<strong>"Services"</strong>) provided by water3 Pty Ltd ABN 73 605 096 008 (<strong>"water3"</strong>) and/or its related or affiliated entities and comprise the following non-exclusive Services, however accessed:<br>
                                <ol class="alpha">
                                    <li>www.water3.com.au (<strong>"the Website"</strong>);</li>
                                    <li>The "water3" mobile application (<strong>"the App"</strong>);</li>
                                    <li>water3 water bottles, containers and/or products as they exist from time-to-time; and/or</li>
                                    <li>The Machine.</li>
                                </ol>
                            </li>
                            <li>By accessing, downloading or using the Services, you acknowledge that you have read, understood and agreed to be bound by these Terms and water3’s <a (click)="navCtrl.setRoot('PrivacyPage')" title="Privacy policy">Privacy Policy</a> (<strong>"Privacy Policy"</strong>).</li>
                            <li>You must be legally entitled to purchase and/or use the Services in every respect. By entering into any transaction to purchase or use Services from water3, you warrant that you are legally entitled to do so in every respect.</li>
                            <li>water3 reserves the right to amend or modify these Terms at any time, and it is your responsibility to review these Terms for any changes. If you do not agree to the revised Terms, your recourse is to discontinue the use of the Services. Your continued use of the Services following any amendment of these Terms will confirm your agreement and acceptance of the revised Terms.</li>
                        </ol>

                        <div id="access" class="anchor"></div>
                        <h2>Access</h2>
                        <ol>
                            <li>You agree to use the Services strictly for your private and personal use and accordingly you agree to be bound by the Terms, including Clause 6, and you undertake not to reproduce, sell, hire or in any other way make use of the Services for commercial gain.</li>
                            <li>You must not use the Services, the Website or the App in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms.</li>
                            <li>In order to access and use the features of the Services, the Website or the App, you acknowledge and agree that you will have to provide water3 with your mobile phone number and other Personal Information.</li>
                        </ol>

                        <div id="pricing" class="anchor"></div>
                        <h2>Pricing</h2>
                        <ol>
                            <li>All prices are in Australian Dollars (AUD) and are inclusive of GST.</li>
                            <li>water3 reserves the right to alter prices from time-to-time at its sole discretion.</li>
                        </ol>

                        <div id="payment" class="anchor"></div>
                        <h2>Payment</h2>
                        <ol>
                            <li>The Services are provided for the fee stipulated on the Website, App or the Machine as it appears from time-to-time (<strong>"the Amount"</strong>).</li>
                            <li>You may store credit with water3 via the Website and/or the App (<strong>"your Balance"</strong>) and use these funds to purchase the Services in lieu of direct credit card, debit card or bank account payment.</li>
                            <li>The Amount (inclusive of all applicable taxes and charges) will be displayed on the Website, the App and/or the Machine before you confirm your payment transaction. Proceeding with the payment transaction at this point is entirely optional and you warrant that you understand and agree to these Terms prior to processing payment.</li>
                            <li>The Amount will be debited from your credit card, debit card or your Balance at the point of purchase. There may be a short delay before the transaction is fully processed.</li>
                            <li>You agree that water3 may deduct the Amount from your account in accordance with your selection upon your confirmation of the payment transaction.</li>
                            <li>You acknowledge that, by providing your credit card or bank account details to water3, the Amount will be charged to or drawn from your nominated credit card, debit card, bank account or your Balance.</li>
                            <li>You will remain strictly liable for the fulfilment of the Terms set out herein in respect of any and all Services from water3 with your credit card or debit card, notwithstanding that such cards may have been used by a person other than yourself.</li>
                            <li>Any information processed or created or obtained by water3 from any technology or equipment operated by water3, including the Website, the App or the Machine, shall be prima facie correct unless the contrary is proved by you and in respect of which the onus shall rest on you.</li>
                            <li>A refund may be credited to you at the sole and absolute discretion of water3, to the extent permissible under Schedule 2 of the <em>Consumer and Competition Act 2010</em> (Cth).</li>
                        </ol>

                        <div id="intellectual-property" class="anchor"></div>
                        <h2>Intellectual Property</h2>
                        <ol>
                            <li>water3 reserves all rights and Intellectual Property in regards to these Terms. All content and images associated with these Terms remain the property of water3.</li>
                            <li>
                                The water3 Website &amp; Mobile Application<br>
                                <ol class="alpha">
                                    <li>The material(s) and content displayed on the Website or the App, including but not limited to the information, text, graphics, names, logos, trade marks, design and advertisements (<strong>"Content"</strong>) are protected by copyright, trade mark and other Intellectual property laws unless expressly indicated otherwise on the Website or the App.</li>
                                    <li>Except as permitted under Australian law, you are not permitted to copy, reproduce, republish, distribute, disseminate or display any of the information on the Website or the App.</li>
                                    <li>You must not use the Website or the App in any manner or for any purpose which is unlawful or which violates the rights of any owner of any Content. Unless expressly stated otherwise, nothing contained in the Website or the App should be construed as a licence or right of use of any Intellectual Property displayed on the Website or the App without the express written permission of the owner of the Intellectual Property.</li>
                                    <li>water3's Website or App may from time to time contain hyperlinks to other websites. Such links are provided for convenience only and water3 takes no responsibility for the content, maintenance or privacy compliance of any such website(s).</li>
                                </ol>
                            </li>
                            <li>
                                water3 Goods<br>
                                <ol class="alpha">
                                    <li>You agree that water3 owns the Intellectual Property (including copyright, moral rights, registered and/or unregistered design rights, trade marks and/or patents) in everything water3 creates, provides or discloses in connection with the Services.</li>
                                    <li>If you provide any information to us, you warrant that our use of it for your matter will not infringe any other party’s Intellectual property rights.</li>
                                </ol>
                            </li>
                        </ol>

                        <div id="privacy" class="anchor"></div>
                        <h2>Privacy</h2>
                        <ol>
                            <li>Where water3 receives, collects or handles Personal Information in the course of processing and administering your account, water3 will ensure that it has taken and continues to take all reasonable technical and organisational measures against the unauthorised or unlawful processing or disclosure of the Personal Information.</li>
                            <li>All Personal Information collected by water3 will be treated in accordance with water3’s Privacy Policy from time to time.</li>
                        </ol>

                        <div id="warranties" class="anchor"></div>
                        <h2>Warranties and Indemnity</h2>
                        <ol>
                            <li>You undertake, represent and warrant that any information or documents provided to water3 is truthful, accurate and correct.</li>
                            <li>You voluntarily release, forever discharge, and agree to indemnify and hold harmless water3 from any Loss or Claim relating to the Intellectual Property.</li>
                        </ol>

                        <div id="liability" class="anchor"></div>
                        <h2>Limitation of Liability</h2>
                        <ol>
                            <li>You expressly acknowledge and agree that the use of the Services, the Website, the App and the Machine(s) is at your sole risk and that the entire risk as to satisfactory performance, accuracy and effort is with you.</li>
                            <li>You hereby indemnify and hold water3 harmless in respect of any and all claims of whatsoever nature that may arise against water3 as a result of your use of the Machine, the Website and/or the App. Furthermore you indemnify and hold water3 harmless in respect of all claim(s) arising from any loss and/or damage to the Machine, the Website and/or the App.</li>
                            <li>Where liability cannot be excluded, any liability incurred by water3 in relation to the use of the Website or the App, the Services or the Content is limited to the extent provided for by the Australian Consumer Law (Schedule 2 of the Competition and Consumer Act 2010). To the extent permitted by law, water3 will not be liable for any indirect, incidental, special or consequential loss or damage.</li>
                        </ol>

                        <div id="severance" class="anchor"></div>
                        <h2>Severance</h2>
                        <ol>
                            <li>If any provision of these Terms is prohibited, invalid or unenforceable in any jurisdiction, that provision will, as to that jurisdiction, be ineffective to the extent of the prohibition, invalidity or unenforceability without invalidating the remaining provisions of this document or affecting the validity or enforceability of that provision in any other jurisdiction.</li>
                        </ol>

                        <div id="assignment" class="anchor"></div>
                        <h2>Assignment</h2>
                        <ol>
                            <li>The rights are under these Terms are not assignable without the prior written consent of water3.</li>
                        </ol>

                        <div id="survival" class="anchor"></div>
                        <h2>Survival</h2>
                        <ol>
                            <li>Clauses 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13 and 14 will continue to apply regardless of any express or implicit termination of these terms and conditions.</li>
                        </ol>

                        <div id="force-majeure" class="anchor"></div>
                        <h2>Force Majeure</h2>
                        <ol>
                            <li>water3 will not be liable for failing to perform its obligations under these Terms as long as the failure is triggered by something beyond its reasonable control.</li>
                        </ol>

                        <div id="governing-law" class="anchor"></div>
                        <h2>Governing Law</h2>
                        <ol>
                            <li>These Terms are governed by, and interpreted in accordance with, the laws of Queensland, and the parties submit to the non-exclusive jurisdiction of the courts located in Brisbane, Queensland.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        
        
    </main>

        <footer class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 social">
                <h3>Follow Us</h3>

                <div class="actions">
                    <a class="btn btn-c btn-circle btn-icon" href="https://www.facebook.com/water3global" title="Facebook" target="_blank">
                        <span class="icon icon-facebook hidden-hover"></span>
                        <span class="icon icon-facebook-white visible-hover"></span>
                        <span class="text">Facebook</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://twitter.com/water3_" title="Twitter" target="_blank">
                        <span class="icon icon-twitter hidden-hover"></span>
                        <span class="icon icon-twitter-white visible-hover"></span>
                        <span class="text">Twitter</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.linkedin.com/company/water3" title="LinkedIn" target="_blank">
                        <span class="icon icon-linkedin hidden-hover"></span>
                        <span class="icon icon-linkedin-white visible-hover"></span>
                        <span class="text">LinkedIn</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.instagram.com/_water3_" title="Instagram" target="_blank">
                        <span class="icon icon-instagram hidden-hover"></span>
                        <span class="icon icon-instagram-white visible-hover"></span>
                        <span class="text">Instagram</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" title="YouTube" target="_blank">
                        <span class="icon icon-youtube hidden-hover"></span>
                        <span class="icon icon-youtube-white visible-hover"></span>
                        <span class="text">YouTube</span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 subscribe">
                <h3>Subscribe</h3>

                <form method="POST" action="https://water3.com.au/subscribe#subscribe" accept-charset="UTF-8" id="subscribe"><input name="_session_key" type="hidden" value="eUawDN3pvQfIycwYiJkiaxytd1gS29WbCAYC0Pn2"><input name="_token" type="hidden" value="fzjkFcCSHFdpYLYa4Iogpix7ogBm5Cuw1DLYfo30">
                    <div class="pre-alerts">
                                                                    </div>

                    <div class="field-group">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email address</label>
                            <span class="icon icon-envelope"></span>
                            <input class="form-control" placeholder="Email address" name="email" type="email" id="email">
                        </div>
                    </div>

                    <button class="btn btn-c" type="submit">Submit</button>

                    <div class="post-alerts">
                                                                    </div>
                </form>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="navigation">
                    <li><a (click)="navCtrl.setRoot('KioskPage')" title="Find kiosks">Find kiosks</a></li>
                    <li><a (click)="navCtrl.setRoot('FaqsPage')"  title="Frequently asked questions">FAQs</a></li>
                    <li><a (click)="navCtrl.setRoot('TermsPage')"  title="Terms of service">Terms of service</a></li>
                    <li><a (click)="navCtrl.setRoot('PrivacyPage')"  title="Privacy policy">Privacy policy</a></li>
                </ul>

                <p class="question">Have a question? <a (click)="navCtrl.setRoot('ContactPage')" title="Contact us">Contact us</a></p>

                <p class="copyright">
                    Copyright &copy; 2017 Vending Machines International PTE LTD. All Rights Reserved.<br>
                    Designed by <a href="https://www.littlegiant.co.nz/" title="Little Giant">Little Giant</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
</ion-content>
        <section class="component component-bottom-button responsive">
    <div class="button-container">
        <a class="btn btn-icon-inline btn-square btn-facebook-messenger" href="https://m.me/water3global" target="_blank">
            <span class="icon icon-facebook-messenger"></span>
            Message water3
        </a>
    </div>
</section>
    </body>

    <script type="text/javascript" src="assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="assets/js/app-1486002319.js"></script>

</html>
