<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3eb8ac7b791a0001977dda" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>contact</title>
  <meta content="contact" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <div class="nav-line"></div>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content>
  <div class="section-main-hero contact"><img src="assets/images/contact-hero-image.png" srcset="assets/images/contact-hero-image-p-500.png 500w, assets/images/contact-hero-image-p-800.png 800w, assets/images/contact-hero-image-p-1600.png 1600w, assets/images/contact-hero-image-p-2000.png 2000w, assets/images/contact-hero-image-p-2600.png 2600w, assets/images/contact-hero-image.png 2880w" sizes="100vw" class="image-4"></div>
  <div class="contact-section">
    <div class="w-container">
      <h3 class="heading h3-contact">Contact</h3>
      <div>
        <div class="w-row">
          <div class="w-col w-col-4">
            <div>
              <h5 class="h5-contact">CUSTOMER SUPPORT</h5>
              <div class="text-contact">+61 2 0000 0000</div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <h5 class="h5-contact">SALES</h5>
              <div class="text-contact">email@water3.com</div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <h5 class="h5-contact">PRODUCT ENQUIRY</h5>
              <div class="text-contact">email@water3.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-block-22"><img src="assets/images/line1.png" width="186"></div>
      <h3 class="heading h3-contact">Send us a message</h3>
      <div class="text-contact">If you would like more information about Water3 please send us a message</div>
      <div>
        <div class="form-block w-form">
          <form (ngSubmit)="sentEnquiry()" id="email-form" name="email-form" data-name="Email Form" class="from contact">
            <label for="Name" class="field-label">First Name</label>
            <input [(ngModel)]="data.first_name" type="text" class="w-input" maxlength="256" name="Name" data-name="Name" id="Name">
            <label for="Name" class="field-label">Last Name</label>
            <input [(ngModel)]="data.last_name" type="text" class="w-input" maxlength="256" name="Name" data-name="Name" id="Name">
            <label for="Email" class="field-label">Email Address</label>
            <input [(ngModel)]="data.email" type="text" class="w-input" maxlength="256" name="Email" data-name="Email" id="Email">
            <label  for="Phone" class="field-label">Phone number</label>
            <input [(ngModel)]="data.phone" type="text" class="w-input" maxlength="256" name="Phone" data-name="Phone" id="Phone">
            <ion-item>
              <ion-label>Enquiry Type</ion-label>
                  <ion-select interface="popover" name="type" [(ngModel)]="data.type" class="customSelect">
                    <ion-option value="Account" selected="true">Account issues</ion-option>
                    <ion-option value="Report">Report a faulty machine</ion-option>
                    <ion-option value="Lost">Lost or stolen bottle</ion-option>
                    <ion-option value="Join">Join the water3 team</ion-option>
                    <ion-option value="Suggestion">Suggest a new kiosk location</ion-option>
                    <ion-option value="Other">Other</ion-option>
                  </ion-select>
            </ion-item><br>
            <label for="Message" class="field-label">Message</label>
            <textarea id="Message" name="Message" data-name="Message" maxlength="5000" class="w-input"></textarea>
            <input type="submit" value="Submit" data-wait="Please wait..." class="contact-submit-btn w-button"></form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('StorePage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('WhyPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21">
            <a href="https://www.facebook.com/water3global" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a>
            <a href="https://www.instagram.com/_water3_" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a>
            <a href="https://twitter.com/water3_" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a>
            <a href="https://www.linkedin.com/company/water3" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a>
            <a href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a>
            <a href="mailto:info@water3.com.au" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
</ion-content>  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>