<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-default" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
        <ion-content>
        <main class="page white">
        <section class="component-section">
            <div class="container">
                <h1>My Bottles</h1>
            </div>
        </section>

        <div class="content wide">
            <section class="component component-bottle-list">
                
                
                    <h2>Choose your bottle</h2>

                    <div *ngIf="bottles.length>=1 && isLoaded">
                
                        <div>
                                <ion-slides (ionSlideDidChange)="getIndex()" loop="false">
                                    <ion-slide *ngFor="let bottle of bottles" data-id="ng-bind: bottle.bottle_no">
                                        <div class="circle">
                                            <h4>
                                                &nbsp;
                                                <span class="balance"></span>
                                            </h4>
                                        </div>

                                        <img src="assets/img/bottle-small.png" alt="water3 bottle">

                                        <h3 style="color:black;">{{ bottle.bottle_name }}</h3>
                                        <p style="color:black;" class="number">{{ bottle.bottle_no }}</p>
                                    </ion-slide>
                                </ion-slides>
                        </div>

                        <button style="top:240px;" class="btn btn-a btn-circle btn-icon btn-carousel previous" type="button" (click)="slidePrev()">
                            <span class="icon icon-arrow-left"></span>
                            <span class="text">Previous</span>
                        </button>

                        <button style="top:240px;" class="btn btn-a btn-circle btn-icon btn-carousel next" type="button" (click)="slideNext()">
                            <span class="icon icon-arrow-right"></span>
                            <span class="text">Next</span>
                        </button>



                    </div>

                    <div *ngIf="bottles.length==0 && isLoaded" class="bottles-empty">
                        <span class="icon icon-waterdrop-sad"></span>
                        <h2 style="color:black;">So Sad...</h2>
                        <p style="color:black;">Sorry, you don't have any bottles registered under your account.</p>
                    </div>

                    <div class="btn-actions actions row">
                        <div class="col-xs-6">
                            <a class="btn btn-responsive btn-block btn-c" (click)="toUpdate()" title="Edit bottle" data-route="https://www.water3.com.au/bottles/:bottle_no">Edit bottle</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="btn btn-responsive btn-block btn-c" (click)="toBottle()" title="Top up">Top up</a>
                        </div>
                    </div>

                    <div align="center" style="margin-top: 20px; color:black;">
                        Get the most out of your bottles, <br>visit our <a (click)="navCtrl.setRoot('BottlecarePage')">Bottle Care</a> section
                    </div>
                    <div style="padding-bottom: 40px;"></div>

            </section>
        </div>
    </main>
</ion-content>
    <section class="component component-bottom-button responsive">
    <div class="button-container">
                <a style="width:100%;" class="btn btn-block btn-icon-inline btn-square btn-e" (click)="toNewBottle()">
                        <span class="icon icon-plus"></span>
                        Add new bottle
        </a>
    </div>
</section>
    </body>

    <script type="text/javascript" src="assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="assets/js/app-1486002319.js"></script>

</html>
