<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
        <ion-content style="background-color: #368ba1">
        <main class="page bottle" *ngIf="isLoaded">
        <section class="component component-section">
            <div class="container">
                <h1>Add New Bottle</h1>

                <a class="back" (click)="back()" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>
            </div>
        </section>

        <div *ngIf="action=='edit'" class="content narrow">
            <section class="component component-form">
                <img src="assets/img/bottle-large.png" alt="water3 bottle">

                <form (ngSubmit)="performAddBottle()" accept-charset="UTF-8" novalidate="novalidate" #loginForm="ngForm">
                    <div class="field-group">
                        <div class="form-group">
                            <label for="bottle_number" class="sr-only">Bottle Number</label>
                            <input class="form-control" placeholder="Bottle Number" name="bottle_number" type="text" [(ngModel)]="bottle.bottle_number" id="bottle_number">
                        </div>
                        <div class="form-group">
                            <label for="bottle_name" class="sr-only">Bottle Name</label>
                            <input class="form-control" placeholder="Enter your bottle name" name="bottle_name" type="text" [(ngModel)]="bottle.bottle_name" id="bottle_name">
                        </div>
                    </div>

                    <div class="form-submit-group">
                        <button class="btn btn-d btn-block" type="submit">Submit</button>
                    </div>
                </form>
            </section>
        </div>

    </main>
</ion-content>
    </body>

    <script type="text/javascript" src="assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="assets/js/app-1486002319.js"></script>

</html>
