
<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 |     Top Up | Amount
">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <link rel="icon" href="../favicon-1495700985.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-portal" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="toBottle()" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
<ion-content style="background-color: #368ba1">
 <main class="page">
    <section class="component component-section">
        <div class="container">
            <h1>Payment</h1>

            <a class="back" (click)="back()" title="Back">
                    <span class="icon icon-arrow-left-white"></span>
                    <span class="text">Back</span>
                </a>
        </div>
    </section>

    <div *ngIf="(isLoaded) && mode=='view'" class="content narrow" style="max-width: 350px;"> 
        <section class="component component-form">
             <div class="alert alert-warning stripe" style="display: none;">
                <p>
                    <span class="icon icon-warning"></span>
                    <span class="message"></span>
                </p>
             </div>

             <form *ngIf="cards!=null && cards!='' && mode=='view'" (ngSubmit)="switchMode()" accept-charset="UTF-8"><input name="_session_key" type="hidden" value="5dEXSIiFZTVry2ow0SxlsbaPZkxlcuxOyb4yJVe9"><input name="_method" type="hidden" value="DELETE"><input name="_token" type="hidden" value="Dvxd4l6Xx1Mn6Igp5Ux7i7IIFQGChcxsgl1ITAG5">
                 <div class="methods">
                        <div class="row">
                            <div class="col-md-12 ">

                    			<fieldset>
                        		<legend>Credit card details</legend>
                          

                                <div class="field-group">
                                                                                    
                                    <div *ngFor="let c of cards" class="form-group radio">
                                        <span class="icon icon-payment"></span>
                                        <input id="{{c.stripe_card_id}}" name="card_id" [(ngModel)]="card_id" type="radio" value="{{c.stripe_card_id}}">
                                        <label for="{{c.stripe_card_id}}">**** **** **** {{c.last4}} EXPIRE {{c.exp_month}}/{{c.exp_year}}</label>
                                    </div>
                                            
                                </div>

                    			</fieldset>

                   				<div class="modal-footer">
                        			<button type="submit" class="btn btn-sm btn-c">Remove</button>
                    			</div>
                    		</div>
                    	</div>
                </div>
            </form>
            <div *ngIf="cards==null || cards==''" class="transactions-empty">
	            <h2> No credit card</h2>
	            <p> Sorry you don't have any credit card </p>
	            <p> You can save your new credit card while topup </p>
			</div>
        </section>
     </div>

     <div *ngIf="mode=='delete'" class="content narrow">
        <form accept-charset="UTF-8" novalidate="novalidate" #loginForm="ngForm">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm Removal</h4>
                        </div>

                        <div class="modal-body">
                            <p>Are you sure you want to remove this card from your payment method?</p>
                        </div>

                        <div class="modal-footer">
                            <button (click)="performDelete()" class="btn btn-sm btn-c">Remove</button>
                            <button (click)="switchMode()" class="btn btn-sm btn-c">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    </main>
    </ion-content>
    </body>

    <script type="text/javascript" src="../themes/water3/assets/js/vendor-1495700986.js"></script>
        <script type="text/javascript" src="../themes/water3/assets/js/app-1498189486.js"></script>

</html>
