<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>

    <body>

    <ion-menu [content]="content">

  <ion-content>

    <section class="component-navigation" style="padding-top: 0px; padding-right: 0px;">
    <div class="scrollable" style="width: 100%; padding-left: 10px;">
        <div class="scrollable-content">
            <ul class="navigation">
                    <li style="padding-bottom: 5px; padding-top: 5px;">
                        <button *ngIf="!isLogin" class="btn btn-responsive btn-c" (click)="goToLogin()">Login</button>
                        <button *ngIf="!isLogin" class="btn btn-responsive btn-c" (click)="goToRegister()">Register</button>
                        <button *ngIf="isLogin" class="btn btn-responsive btn-c" (click)="logout()">Logout</button>
                    </li>
                    <li *ngFor="let p of pages">
                        <a (click)="openPage(p)" title="Home">
                            <span class="{{p.class}}"></span>
                            <span class="text">{{p.title}}</span>
                        </a>
                    </li>

           </ul>
        </div>
    </div>
    <div style="font-size:10px; color:gray;">&nbsp;version 2.0.2</div>
  </section>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</body>
</html>
