<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a4f3dddbe81450001668883" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>Faq</title>
  <meta content="Faq" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <div class="nav-line"></div>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content>
  <div class="section-main-hero faq1"></div>
  <div class="faq-section">
    <div class="w-container">
      <h3 class="heading h3-faq">Frequently Asked Questions</h3>
      <div class="div-block-38"><img src="assets/images/line1.png" width="186"></div>
      <div class="div-block-39">
        <h4 class="h4-faq">What is Water3?</h4>
        <p>
          Water3 is a social enterprise. You might even call it a movement. We’re focused on disrupting the bottled water industry and saving the planet, one bottle at a time.<br>
We’re revolutionising the way we drink water through a network of handy high-tech refill stations that provide fresh chilled spring water.
The refill stations are cashless and use refillable stainless steel bottles with embedded RFID contactless payment technology, which allows you to store credit on your Water3 account.<br>
You can fill up with credit on the Water3 app, or on the website. Then, use your own bottle to refill and pay via PayWave, or better yet, purchase one from a Water3 refill station.<br>
We’re all about changing habits around single use plastic bottles; providing a cleaner, and healthier alternative. 
</p>
      </div>
      <div class="div-block-39">
        <h4 class="h4-faq">Who founded Water3?</h4>
        <p>Whilst travelling through Vietnam in late 2011, Damien Stone was stunned at the immense amount of waste created by single use plastic water bottles.<br><br>
 
Upon arriving back home he realised the issue of plastic pollution was not only affecting countries overseas, it was becoming a global epidemic.<br><br>
 
At the time, there was little being done in the way of education, or even awareness about plastic pollution in Australia, so Damien decided to launch Water3™ with his business partner Leicester Chatfield, and commenced trading in 2012.<br><br>
 
<b>Damien Stone, Co-Founder</b><br>
With over 20 years’ experience working with some of the world’s biggest names including Lion Nathan, Coca Cola, and Schweppes, Damien has developed a wealth of experience in beverage marketing across the APAC.<br>
His insights have helped beverage companies like Lion Nathan, Coca Cola and Schweppes grow market share through targeted strategic branding, all the while growing the revenue of his own businesses.<br>
He has owned and exited several start-ups in the marketing and technology space, including Brand 88, Dream I.T., Southstone Facilitation LTD and consulted to many more. Damien is currently a Director of Vending Machines International PTE LTD (Singapore) and Director of Water3 PTY LTD (Australia & USA).<br>
Over the past 5 years he has led the growth of Water3 in Australia, and is now combining his formidable skills in sales, marketing, strategy development, management, with his passion for the environment, to expand the brand internationally, including leading the USA expansion.<br><br>

<b>Leicester Chatfield, Co-Founder</b><br>
Leicester began his career as an accountant at a beverage company Lion Nathan, managing a team of thirty staff, an annual turnover of $250 million, and a payroll paid weekly to 1500 staff. Within a few years he transitioned from this role and was appointed Production Director and soon after, Operations Director; a role which he maintained for 15 years.<br>
Leicester has since developed and exited several successful start-up companies, all of which are still operating across industries including cosmetics, technology and hospitality.<br>
Leicester brings a range of skills and experience to the business including accounting, operations, fluid handling, antibacterial and contamination experience, IT management, and strategic company management.<br>
Since 2012 Leicester has demonstrated his expertise in company management, complex logistical operations, finance, accounting, and start-up processes as co-founder of Water3, establishing the Thailand branch of the business, and managing the ongoing development of the Water3 technology systems.<br>
Leicester is currently a Director of Vending Machines International PTE LTD (Singapore & Thailand) and Director of Water3 PTY LTD (Australia).
</p>
      </div>
      <div class="div-block-39">
        <h4 class="h4-faq">What makes Water3 a social enterprise?</h4>
        <div>
          Water3 is a true social enterprise that’s campaigning for environmental change through innovation. Our aim is to provide an alternative to single use plastic water bottles, and at the same time, shift people’s habits away from a toxic product. We also are committed to fund inspiring organisations focused on tackling plastic pollution, marine conservation and providing safe drinking water to communities in need.<br><br>

Some organisation we’ve partnered with are the Whitsundays Eco Barge, Airlie Beach Turtle Rescue Centre, and many more.<br><br>

We’re passionate about creating change through education, and we’re committed to being at the forefront of a global alliance of individuals, organisations and businesses committed to developing alternatives to plastics and designing a sustainable future. 

        </div>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">How does Water3 work?</h4>
        <p>Water3 refill stations supply chilled spring water (still or sparkling) and
500ml stainless steel bottles.<br><br>
 
You have a choice of using your own bottle to refill, or even better, purchasing a 500ml Water3 stainless steel bottle.<br><br>
 
Payment for water at the refill station can be done by credit / debit card, tap-n-go technology or via the RFID (Radio Frequency Identification) chip inserted into the lid of the Water3 stainless steel bottle.<br><br>
 
If you buy a 500ml Water3 stainless steel bottle, using payWave, for $10, we’ll chuck in  a free refill as part of the purchase.<br><br>
 
Simply visit the Water3 app or website to register, add credit for future refills and locate refill stations in their local area. When you register, we’ll credit $2 to your account.
</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">There’s nothing wrong with tap water.</h4>
        <p>WIf everyone used tap water, there wouldn't be a need for the Water3 solution. We are not trying to move you away from using a tap, we just want to remove single use plastic bottles, and make the old plastic bottle industry take a long hard look in the mirror. 
</p>
      </div>

            <div class="div-block-39">
        <h4 class="h4-faq">Why Water3 is better than plastic bottled water.</h4>
        <p>Water3 is on a mission: to design an alternative solution to single use plastic, disrupt the plastic bottle water industry, and reduce the amount of plastic waste destroying our environment and wildlife.<br><br>
 
Our refill stations dispense natural spring water, with the choice to refill with your own bottle, or buy one of ours, and ultimately that gives you the power to do your bit for the  environment. <br><br>
 
On the other hand, single use plastic bottled water is not only harming our planet, it’s also having negative impact on our bodies. Exposure to harmful chemicals can cause short and long-term health problems, as chemicals leached by plastics have been linked to cancers, birth defects and other ailments. 

</p>
      </div>
            <div class="div-block-39">
        <h4 class="h4-faq">Why we use natural spring water and not tap water?</h4>
        <p>Well... it’s the best. We source spring water locally to ensure we’re giving you the most natural product available, uncompromised by inorganic or organic contaminants.

</p>
      </div>
            <div class="div-block-39">
        <h4 class="h4-faq">Do you use chemicals to treat the spring water?</h4>
        <p>Nope. We don’t use any chemicals in the handling of our spring water. Instead we use a 4-stage filtration process at our Water3 headquarters to ensure we give you a high-quality product.<br>

Step 1. Media filtration process (3-5 micron); involving the use of sand or zeolite to remove sediment and improve the turbidity of the spring water for effective downstream UV disinfection.<br><br>
 
Step 2. Activated Carbon Filtration (5 micron); for the removal of volatile organic compounds, chlorine and improve taste and odour.<br><br>
 
Step 3. 1 Micron Filtration; further particulate filtration down to 1 micron for improved UV
transmittance during subsequent disinfection step.<br><br>
 
Step 4. UV Disinfection; disinfection of spring water to remove pathogenic microorganisms. UV unit has been validated by the manufacturer to achieve the US-EPA standard of a 4-log virus disinfection and a 5-log bacterial disinfection.

</p>
      </div>
      <div class="div-block-39">
        <h4 class="h4-faq">How do you maintain the quality of the water in the refill station?</h4>
        <p>To ensure that we maintain a high-quality product our water undergoes a 2-stage filtration process every 24hrs in the Water3 refill stations.
Step 1. Activated Carbon Filtration (5 micron); for the removal of volatile organic compounds, chlorine and improve taste.
 
Step 2. UV Disinfection; disinfection of spring water to remove pathogenic microorganisms. UV unit has been validated by the manufacturer to achieve the US-EPA standard of a 4-log virus disinfection and a 5-log bacterial disinfection.
</p>
      </div>
      <div class="div-block-39">
        <h4 class="h4-faq">Do you conduct batch testing from the source?</h4>
        <p>Spring water is batch tested by <a href="https://www.nata.com.au/nata/" target="blank">NATA accredited laboratories</a> and results retained, to ensure you’re getting the good stuff. 

</p>
      </div>
      <div class="div-block-39">
        <h4 class="h4-faq">Where does the water come from?</h4>
        <p>All Water3 water is sourced locally and takes no longer than 1hr to travel from the source to Water3 HQ. Our water is tested for contaminants at the source, and undergoes a 4-stage filtration process and further testing at our HQ.

</p>
      </div>
      <div class="div-block-39">
        <h4 class="h4-faq">Why is the water sometimes white, cloudy or milky?</h4>
        <p>Very occasionally, you might get a bottle of water that looks a little cloudy or milky, and this is likely due to tiny air bubbles in the water. This is caused by water pressure within the refill station. After a few seconds, like any bubble, the air rises to the top of the water and goes into the air above, clearing up the water.
      </p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">Do you adhere to any industry guidelines?</h4>
        <p>We meet the requirements detailed in the <a href="https://www.nhmrc.gov.au/guidelines-publications/eh52" target="blank">Australian Drinking Water Guidelines</a> and as specified by the Queensland Government.</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">Where are Water3 refill stations located?</h4>
        <p>All our refill stations are located in the handiest places, like shopping centres, bus and train stations, hospitals, schools and much much more.  <br><br>
 
Visit the Water3 refill station locater or download the Water3 app, on android or iOS, to help you find the refill station that is closest to you.
 
insert ANDROID
insert iOS
</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">How are Water3 refill stations different?</h4>
        <p>There are loads of things that make the Water3 refill station a little different, but here are some of our favourites:</p>
           <div>
          <ul class="unordered-list">
            <li>State of the art infrastructure</li>
            <li>No plumbing required for installation. All we need is a powerpoint!</li>
            <li>Choice of chilled still or sparkling natural spring water</li>
            <li>Use your own reusable bottle or a Water3 stainless steel bottle</li>
            <li>Each refill station dispenses Water3 bottles at the touch of a button</li>
            <li>Innovative RFID contactless payment technology is embedded within our Water3 bottles</li>
            <li>Customers using their own bottle, simply pay with payWave credit or debit card</li>
            <li>42-inch LCD screen that showcase product information and environmental messaging</li>
            <li>Cloud-based management system for any machine faults</li>
          </ul>
        </div>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">What are your bottles made of?</h4>
        <p>They’re tough! Reusable 500ml Water3 bottles are made of reusable stainless steel and are BPA free. Each bottle also features an intuitive RFID chip in the lid, allowing you to refill quickly and easily with one swipe. <br><br>
 
Other bottles can also be used with Water3™ refill stations, simply pay with payWave / credit card.

</p>
      </div>
            <div class="div-block-39">
        <h4 class="h4-faq">How do I look after my Water3 bottle?</h4>
        <p>It’s made of stainless steel and certified bamboo. To look after it, follow these handy tips.</p>
        <div>
          <ul class="unordered-list">
            <li>Hand wash weekly with warm soapy water</li>
            <li>To avoid damaging the RFID chip do not put the lid in the dishwasher</li>
            <li>Avoid direct sunlight to keep your water icy cold</li>
          </ul>
        </div>
      </div>
            <div class="div-block-39">
        <h4 class="h4-faq">Can I choose a coloured bottle from the refill station?</h4>
        <p>Ya ba nah. Coloured bottles can only be purchased through the Water3  app or website. Our machines only dispense our classic Water3 stainless steel bottles.

</p>
      </div>      
      <div class="div-block-39">
        <h4 class="h4-faq">Can I use my own bottle in the Water3 refill station?</h4>
        <p>Sure thing! Our Water3 refill stations accommodate most reusable bottle sizes and dispenses different amounts of water for specially tailored refills.<br><br>

Please note, extra tall bottles won’t fit in our refill stations. This is to help reduce splash/wastage for our refills. If your bottle is too tall, it’s easy to get a Water3 bottle for only $10, and it comes with free refills!  Please use the size guide on the door to assist.


</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">Do you charge GST on Water3 refills and bottles?</h4>
        <p>Yes and no. We only charge GST on sparkling water and empty Water3 bottles dispensed from the machine. This charge is due to GST laws, though still water is exempt from GST.

</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">Are there any bank charges when I pay at the refill station?</h4>
        <p>A little. If you’re using your credit/debit card to make a payment for water at a Water3 refill station there is a charge of 10 cents.<br><br>
We actually absorb a greater amount in the sale price, which is why it’s better for you, for us, and for the planet if you buy a Water3 bottle, and top up with credit as we don’t pass on the bank fees.

</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">I’m experiencing account issues, what can I do?</h4>
        <p>Get in touch. If you have any account enquiries please submit an enquiry via our <a (click)="navCtrl.setRoot('ContactPage')">contact page</a> and one of our team will be in touch to answer your query.<br><br>
Alternatively, you can contact us direct at Water3 HQ on 1300 648 149, via 
<a href="mailto:info@water3.com.au">Email</a>, 
Facebook 
or 
Twitter.
</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">Can I use my own bottle in the Water3 refill station?</h4>
        <p>Sure thing! Our Water3 refill stations accommodate most reusable bottle sizes and dispenses different amounts of water for specially tailored refills.<br><br>

Please note, extra tall bottles won’t fit in our refill stations. This is to help reduce splash/wastage for our refills. If your bottle is too tall, it’s easy to get a Water3 bottle for only $10, and it comes with free refills!  Please use the size guide on the door to assist.


</p>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">How do I activate my account?</h4>
        <p></p>
        <div>
          <ul class="unordered-list">
            <li>Go to Water3.com.au or download the Water3 app.</li>
            <li>Register your details with Facebook or complete the registration form.</li>
            <li>Register your Water3 bottle unique ID code.</li>
            <li>Refill at a Water3 refill station to claim your $2 free credit.</li>
          </ul>
        </div>
      </div>

      <div class="div-block-39">
        <h4 class="h4-faq">What is the cost of the water and bottles?</h4>
        <table border=0>
          <tr>
            <td>Size</td><td>Still Water &nbsp;&nbsp;</td><td>Sparkling Water3</td>
          </tr>
          <tr>
            <td>Regular*</td><td>$1.00</td><td>$2.00</td>
          </tr>
          <tr>
            <td>Large</td><td>$1.50</td><td>$3.00</td>
          </tr>
          <tr>
            <td>Extra Large &nbsp;&nbsp;</td><td>$2.00</td><td>$4.00</td>
          </tr>
        </table><br>
        <p>*500ml double-walled, insulated and stainless steel Water3 bottle available from refill station for $10.00.<br>
**10c transaction fee for credit/debit cards.
</p>
      </div>

    </div>
  </div>
 <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('StorePage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('WhyPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21">
            <a href="https://www.facebook.com/water3global" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a>
            <a href="https://www.instagram.com/_water3_" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a>
            <a href="https://twitter.com/water3_" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a>
            <a href="https://www.linkedin.com/company/water3" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a>
            <a href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a>
            <a href="mailto:info@water3.com.au" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content></body>
</html>