.navbar {
  background-color: #fff;
}

.navbar.home {
  font-family: '358bb6 a 0', sans-serif;
}

.div-block {
  display: inline-block;
  padding: 20px;
  font-weight: 700;
}

.nav-button {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 100px;
  font-weight: 700;
}

.nav-button.login {
  width: 120px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid transparent;
  font-family: '358bb6 e 0', sans-serif;
  font-size: 16px;
  text-align: center;
}

.nav-button.login:hover {
  opacity: 0.6;
}

.nav-button.register {
  min-width: 120px;
  margin-left: 10px;
  border: 1px solid #0d7ffa;
  background-color: #fff;
  font-family: '358bb6 e 0', sans-serif;
  color: #0d7ffa;
  font-size: 16px;
  text-align: center;
}

.nav-button.register:hover {
  background-color: rgba(13, 127, 250, .17);
}

.section-main-hero {
 
  padding-top: 10px;
  padding-bottom: 20px;
  background-image: url('assets/images/bg1.png');
  background-position: 0px 0px;
  background-size: cover;
  font-family: '358bb6 a 0', sans-serif;
}

.section-main-hero.home {
  padding-top: 400px;
  padding-bottom: 50px;
  background-image: url('assets/images/new1.png'), -webkit-linear-gradient(270deg, #6f96fe, #6f96fe);
  background-image: url('assets/images/new1.png'), linear-gradient(180deg, #6f96fe, #6f96fe);
  background-position: 50% 0px, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.section-main-hero.contact {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #0d7ffa;
  background-image: none;
}

.section-main-hero.kiosk {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: none;
  background-size: auto;
}

.section-main-hero.impact {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-main-hero.faq1 {
  height: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('assets/images/Banner.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-main-hero.faq2 {
  height: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('assets/images/Banner2.png');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-main-hero.login {
  padding-top: 0px;
  background-image: url('assets/images/Login-01.11x.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.from {
  padding: 10px;
  background-color: #fff;
}

.from.contact {
  display: inline-block;
  width: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.h3-register {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.login-facebook-btn {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 100px;
  background-color: #2b49c3;
  text-align: center;
}

.div-block-2 {
  border-bottom: 1px solid #d4d4d4;
}

.line {
  position: static;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.text-block {
  position: static;
  font-size: 12px;
  text-align: center;
}

.div-text {
  position: static;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.column {
  position: static;
}

.resgister-btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
}

.text-term-condition {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.sub-nav {
  margin-bottom: 10px;
}

.sub-nav.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #222;
}

.back-btn:hover {
  opacity: 0.6;
}

.back-btn._2 {
  color: #000;
}

.text-block-2 {
  display: inline-block;
}

.text-back {
  display: inline-block;
  margin-top: 0px;
  margin-left: 5px;
  padding-top: 0px;
  color: #fff;
  text-decoration: none;
}

.text-back._2 {
  color: #222;
}

.image {
  padding-top: 3px;
  float: left;
}

.field-label {
  font-weight: 400;
}

.field-label-2 {
  font-weight: 400;
}

.field-label-3 {
  font-weight: 300;
}

.register-image {
  padding-top: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  border-radius: 100px;
}

.text-field-2 {
  border-radius: 100px;
}

.text-field-3 {
  border-radius: 100px;
}

.text-field-4 {
  border-radius: 100px;
}

.nav-container {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.menu-button {
  display: none;
  float: left;
}

.nav-menu {
  padding-top: 10px;
}

.navlink {
  height: 100%;
  padding: 10px;
  font-family: '358bb6 c 0', sans-serif;
  color: #222;
  font-weight: 400;
  text-decoration: none;
}

.navlink:hover {
  color: #6a90ff;
}

.paragraph {
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: '358bb6 a 0', sans-serif;
  color: #fff;
  text-align: center;
}

.filnd-btn {
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 200px;
  background-color: #fff;
  font-family: '358bb6 a 0', sans-serif;
  color: #686868;
  font-weight: 300;
  text-align: center;
}

.container {
  text-align: center;
}

.buy-btn {
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #999;
  border-radius: 100px;
  background-color: #fff;
  font-family: '358bb6 a 0', sans-serif;
  color: #686868;
  font-weight: 300;
}

.buy-btn._2 {
  width: 80%;
}

.section-feature {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f8fb;
}

.section-feature.rehydrate {
  display: block;
}

.heading {
  text-align: center;
}

.heading.h3-feature {
  margin-bottom: 60px;
  font-family: '358bb6 a 0', sans-serif;
  color: #082a54;
  font-weight: 400;
}

.heading.h3-feature.repeat {
  color: #fff;
  font-weight: 400;
}

.heading.h3-feature.impact {
  margin-bottom: 20px;
  color: #fff;
}

.heading.h3-contact {
  margin-bottom: 40px;
}

.heading.h3-faq {
  margin-bottom: 40px;
  text-align: left;
}

.text-feature {
  font-family: '358bb6 a 0', sans-serif;
  font-weight: 400;
  text-align: center;
}

.div-block-3 {
  text-align: center;
}

.div-block-4 {
  text-align: center;
}

.div-block-5 {
  text-align: center;
}

.div-block-6 {
  text-align: center;
}

.rehydrate {
  display: inline-block;
  margin-top: 0px;
  text-align: center;
}

.div-block-7 {
  text-align: center;
}

.button {
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  float: none;
  clear: none;
  border-radius: 200px;
  font-family: '358bb6 a 0', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
}

.rehydrate-box1 {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.link {
  display: inline-block;
}

.link.rehydrate-btn {
  display: inline-block;
  font-family: '358bb6 a 0', sans-serif;
  color: #686868;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

.rehydrate-box2 {
  display: none;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.div-block-8 {
  text-align: center;
}

.refill-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #82f9d4;
}

.div-block-9 {
  text-align: center;
}

.refill-image {
  margin-bottom: 20px;
}

.h4-refill {
  font-family: '358bb6 a 0', sans-serif;
  text-align: center;
}

.div-block-10 {
  margin-top: 30px;
  text-align: center;
}

.div-block-11 {
  display: none;
}

.left-arrow {
  display: block;
}

.div-block-12 {
  display: none;
}

.repeat-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #50518c;
}

.div-block-14 {
  margin-bottom: 20px;
  text-align: center;
}

.div-block-15 {
  display: none;
  text-align: center;
}

.android-btn {
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  background-color: #fff;
  font-family: '358bb6 a 0', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.text-block-3 {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  color: #686868;
  text-align: center;
}

.play-store-btn {
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  background-color: #fff;
  font-family: '358bb6 a 0', sans-serif;
  color: #686868;
  font-weight: 300;
  text-decoration: none;
}

.div-block-16 {
  margin-top: 20px;
  text-align: center;
}

.image-2 {
  float: none;
}

.subscript-section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url('assets/images/subscript-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscript-form {
  display: inline-block;
  width: 70%;
  text-align: center;
}

.div-block-17 {
  display: block;
  text-align: center;
}

.form {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.text-field-5 {
  display: inline-block;
  width: 60%;
  margin-top: 8px;
  border-style: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  font-family: '358bb6 a 0', sans-serif;
}

.submit-button {
  width: 20%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.submit-button.email {
  font-family: '358bb6 a 0', sans-serif;
}

.text-block-4 {
  font-family: '358bb6 a 0', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 80px;
  font-family: '358bb6 a 0', sans-serif;
}

.text-copy-right._1 {
  font-family: '358bb6 a 0', sans-serif;
  color: #0d7ffa;
}

.text-copy-right._2 {
  display: none;
  color: #8aa6fa;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-family: '358bb6 a 0', sans-serif;
  color: #0d7ffa;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  color: #6a90ff;
}

.div-block-18 {
  padding-top: 20px;
}

.div-block-19 {
  padding-top: 20px;
}

.image-3 {
  padding-bottom: 107px;
}

.social-link {
  width: 40px;
  height: 50px;
  margin-right: 4px;
}

.social-link:hover {
  opacity: 0.8;
}

.footer-email {
  display: block;
  margin-bottom: 10px;
  color: #0d7ffa;
  font-weight: 400;
  text-decoration: none;
}

.footer-address {
  margin-top: 0px;
  color: #0d7ffa;
  line-height: 28px;
}

.text-block-5 {
  margin-bottom: 10px;
  color: #0d7ffa;
}

.row {
  display: block;
}

.div-block-20 {
  display: none;
}

.div-block-21 {
  font-family: '358bb6 a 0', sans-serif;
}

.contact-section {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: '358bb6 a 0', sans-serif;
}

.h5-contact {
  text-align: center;
}

.text-contact {
  color: #999;
  text-align: center;
}

.div-block-22 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.form-block {
  text-align: center;
}

.contact-submit-btn {
  width: 100%;
  margin-top: 20px;
  border-radius: 100px;
}

.nav-line {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid #000;
}

.dropdown-toggle {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-toggle:hover {
  color: #6a90ff;
}

.dropdown-toggle.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6a90ff;
  color: #fff;
}

.dropdown-toggle.w--open:hover {
  background-color: #0d7ffa;
}

.myaccount-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f8fb;
  font-family: '358bb6 a 0', sans-serif;
}

.dropdown-link {
  background-color: #6a90ff;
  color: #fff;
}

.dropdown-link:hover {
  background-color: #0d7ffa;
}

.h3-account {
  margin-bottom: 40px;
  font-family: '358bb6 a 0', sans-serif;
}

.account-detail-box {
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  background-color: #fff;
  font-family: '358bb6 a 0', sans-serif;
}

.div-block-23 {
  padding: 10px;
  border-style: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f1f1f1;
}

.h5-account {
  width: 80%;
  float: left;
  font-family: '358bb6 a 0', sans-serif;
}

.h5-account.balance {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  float: left;
  font-family: '358bb6 a 0', sans-serif;
}

.link-2 {
  margin-top: 10px;
  float: right;
  font-family: '358bb6 a 0', sans-serif;
  color: #222;
  font-weight: 700;
  text-decoration: none;
}

.link-2.viewall-account {
  display: block;
  float: none;
  font-family: '358bb6 a 0', sans-serif;
  text-align: center;
}

.link-2.viewall-account:hover {
  color: #6a90ff;
}

.div-block-24 {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  font-family: '358bb6 a 0', sans-serif;
}

.text-block-6 {
  display: inline-block;
  width: auto;
}

.text-block-6.name {
  width: 40%;
  font-family: '358bb6 a 0', sans-serif;
}

.text-block-6.username {
  width: 60%;
  font-family: '358bb6 a 0', sans-serif;
}

.text-block-6.date {
  width: 70%;
}

.text-block-6.price {
  width: 30%;
  text-align: right;
}

.text-block-6.cardname {
  width: 40%;
  font-family: '358bb6 a 0', sans-serif;
}

.text-block-6.nameoncard {
  width: 60%;
  font-family: '358bb6 a 0', sans-serif;
}

.text-block-6.cardcard-number {
  width: 40%;
}

.text-block-6.number {
  width: 70%;
}

.text-block-6.expried {
  width: 40%;
}

.text-block-6.cvc {
  width: 40%;
}

.div-block-25 {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.text-block-7 {
  display: inline-block;
  margin-top: 10px;
  padding-right: 0px;
  padding-left: 10px;
  float: left;
  font-family: '358bb6 a 0', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.div-block-26 {
  margin-top: 0px;
}

.button-2 {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 100px;
}

.top-up-btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 30px;
  padding-left: 30px;
  float: none;
  border-radius: 100px;
  font-family: '358bb6 a 0', sans-serif;
  font-weight: 700;
  text-align: left;
}

.top-up-btn:hover {
  opacity: 0.8;
}

.slide-product {
  height: 100%;
  background-color: #fff;
}

.right-arrow-2 {
  color: #d4d4d4;
}

.left-arrow-2 {
  color: #d4d4d4;
}

.slide-nav-2 {
  display: none;
}

.mini-detail {
  padding-bottom: 20px;
  background-color: #fff;
  font-family: '358bb6 a 0', sans-serif;
  text-align: center;
}

.add-new-btn {
  width: 80%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #999;
  border-radius: 100px;
  background-color: #fff;
  color: #686868;
}

.add-new-btn._2 {
  margin-bottom: 20px;
  border-style: none;
  background-color: #6a90ff;
  color: #fff;
}

.product-user-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.text-block-8 {
  margin-bottom: 10px;
}

.text-block-9 {
  margin-bottom: 10px;
}

.p1 {
  margin-top: 10px;
  font-family: '358bb6 a 0', sans-serif;
  font-size: 12px;
}

.div-block-27 {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.div-block-28 {
  display: none;
}

.div-block-29 {
  display: block;
  margin-top: 20px;
  float: left;
}

.div-block-30 {
  display: none;
}

.shop-rank-section {
  position: static;
  display: block;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #f1f1f1;
  font-family: '358bb6 a 0', sans-serif;
}

.h5-rank {
  font-family: '358bb6 a 0', sans-serif;
  text-align: center;
}

.product-rank-slider {
  display: block;
  height: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  background-image: url('../images/rank-slider-bg.png');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.view-detail-btn {
  display: block;
  width: 250px;
  margin-bottom: 60px;
  border-radius: 100px;
  font-weight: 600;
  text-align: center;
}

.view-detail-btn:hover {
  opacity: 0.8;
}

.div-block-31 {
  display: inline-block;
  text-align: center;
}

.image-5 {
  display: inline-block;
  float: none;
}

.slide {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.slide-nav-3 {
  display: block;
}

.slide-2 {
  width: 100%;
  text-align: center;
}

.slide-3 {
  display: inline-block;
  width: 100%;
}

.slide-4 {
  width: 100%;
}

.h6 {
  display: inline;
  width: auto;
  float: none;
  font-family: '358bb6 a 0', sans-serif;
}

.ig-hastag-link {
  display: inline;
  width: auto;
  float: right;
  font-family: '358bb6 a 0', sans-serif;
  color: #222;
  text-decoration: none;
}

.link-block {
  width: 25%;
  padding: 5px;
  font-size: 25%;
  line-height: auto;
}

.left-arrow-3 {
  left: 220px;
  display: block;
  color: #6a90ff;
}

.right-arrow-3 {
  right: 220px;
  display: block;
  color: #6a90ff;
}

.slide-5 {
  width: 100%;
  text-align: center;
}

.product-information {
  padding-bottom: 10px;
}

.image-showcase {
  text-align: center;
}

.thumb-link {
  width: 20%;
  height: 95px;
  padding: 10px;
}

.heading-2 {
  display: inline-block;
}

.h4-price {
  display: inline-block;
  margin-top: 0px;
  color: #6a90ff;
  font-weight: 400;
}

.text-block-10 {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
}

.button-3 {
  display: block;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 100px;
  text-align: center;
}

.select-color-btn {
  display: inline-block;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: none;
  border: 1px solid #999;
  border-radius: 100px;
  text-align: center;
}

.dropdown-toggle-2 {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.color {
  display: inline-block;
  padding: 5px;
  float: none;
  border-radius: 100px;
  background-color: #0d7ffa;
}

.text-block-11 {
  display: inline-block;
  padding-left: 10px;
}

.textback2 {
  display: inline-block;
  padding-left: 10px;
  color: #5a708c;
  font-weight: 500;
  text-decoration: none;
}

.div-block-32 {
  margin-bottom: 40px;
}

.find-kiosk-box {
  position: absolute;
  left: 28px;
  top: 100px;
  z-index: 1;
  display: block;
  width: 270px;
  padding: 0px;
  clear: both;
  background-color: #6d93ff;
}

.html-embed {
  position: relative;
  z-index: 0;
  display: inline-block;
  clear: both;
  font-family: '358bb6 a 0', sans-serif;
}

.form-block-2 {
  display: inline-block;
  padding: 10px;
  font-family: '358bb6 a 0', sans-serif;
}

.suggest-btn {
  padding: 20px 10px;
  background-color: #50518c;
  font-family: '358bb6 a 0', sans-serif;
}

.label-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
}

.filed-1 {
  display: inline-block;
  width: 70%;
  float: left;
}

.search-kiosk-btn {
  display: inline;
  width: auto;
  float: left;
  background-color: #0df0fa;
  color: #000;
  font-size: 12px;
}

.form-2 {
  display: block;
  width: 100%;
}

.suggest-kiosk-btn {
  width: 100%;
  border-radius: 100px;
  text-align: center;
}

.results-box {
  padding: 10px;
  background-color: #0df0fa;
}

.text-block-12 {
  margin-bottom: 0px;
  font-weight: 700;
}

.result-list {
  padding: 10px;
  border-bottom: 1px solid #999;
  background-color: #fff;
}

.text-block-13 {
  font-size: 12px;
}

.next-btn {
  display: block;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.topup-section {
  padding-top: 0px;
  padding-bottom: 20px;
  background-image: -webkit-linear-gradient(270deg, #f1f1f1, #f1f1f1);
  background-image: linear-gradient(180deg, #f1f1f1, #f1f1f1);
  font-family: '358bb6 a 0', sans-serif;
}

.topup-row {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: '358bb6 a 0', sans-serif;
}

.div-block-34 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.step-box {
  text-align: center;
}

.div-block-35 {
  display: inline-block;
  padding: 5px;
  border-radius: 100px;
  background-color: #6a90ff;
}

.div-block-35.step-1 {
  display: inline-block;
  background-color: #005cbe;
}

.div-block-35.step2 {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #e0feff;
  color: #000;
}

.div-block-35.step2.current {
  background-color: #6a90ff;
}

.div-block-35.step3 {
  background-color: #e0feff;
}

.text-block-14 {
  width: 20px;
  height: 20px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
}

.text-block-14._1 {
  color: #e0feff;
}

.text-block-14._3 {
  color: #000;
}

.text-block-14.current {
  color: #fff;
}

.div-block-36 {
  width: 30px;
}

.line-step {
  display: inline-block;
  width: 30px;
  border-bottom: 2px solid #e0feff;
}

.line-step.past {
  border-bottom-color: #8aa6fa;
}

.canel-box {
  text-align: center;
}

.link-3 {
  padding-top: 10px;
  color: #e0feff;
  font-weight: 700;
  text-decoration: none;
}

.topup-head {
  width: 100%;
  padding-bottom: 0px;
  background-color: #6a90ff;
  background-image: url('assets/images/topup-bg.png');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.topup-container {
  font-family: '358bb6 a 0', sans-serif;
  text-align: center;
}

.topup-form-1 {
  display: inline-block;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.h3-topup {
  margin-bottom: 30px;
}

.top-up-price-btn {
  padding: 10px;
  border-radius: 100px;
}

.top-up-price-btn.select {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  border: 1px solid #6a90ff;
}

.top-up-price-btn.normal {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  border: 1px solid #999;
  background-color: #fff;
  color: #000;
}

.top-up-price-btn.normal:hover {
  border-color: #6a90ff;
  background-color: #6a90ff;
  color: #fff;
}

.top-up-price-btn.normal:focus {
  border-color: #6a90ff;
  background-color: #6a90ff;
  color: #fff;
}

.top-up-filed-form {
  margin-bottom: 20px;
  text-align: center;
}

.text-block-15 {
  margin-bottom: 20px;
}

.top-up-back-btn {
  width: 45%;
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 100px;
  background-color: #fff;
  color: #222;
}

.top-up-next-btn {
  width: 45%;
  margin-left: 10px;
  border: 1px solid #6a90ff;
  border-radius: 100px;
}

.add-address-btn {
  display: block;
  padding: 10px 20px;
  border: 1px solid #8aa6fa;
  border-radius: 100px;
  background-color: #fff;
  color: #8aa6fa;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.text-block-16 {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

.image-6 {
  float: left;
}

.nobottle-box {
  padding-right: 200px;
  padding-left: 200px;
  text-align: center;
}

.section-impact2 {
  height: auto;
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url('assets/images/Sect-01.png');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.paragraph-2 {
  font-family: '358bb6 a 0', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.div-block-37 {
  text-align: center;
}

.heading-3 {
  font-size: 48px;
  font-weight: 400;
}

.heading-3.impact {
  font-family: '358bb6 a 0', sans-serif;
  color: #fff;
  font-weight: 500;
}

.paragraph-3 {
  font-family: '358bb6 a 0', sans-serif;
  color: #fff;
}

.imapact-slider {
  background-color: transparent;
}

.container-3 {
  display: none;
}

.image-7 {
  width: 100%;
}

.image-8 {
  display: none;
}

.div-block-38 {
  margin-bottom: 50px;
}

.div-block-39 {
  margin-bottom: 40px;
}

.faq-section {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: '358bb6 a 0', sans-serif;
}

.faq-image {
  display: block;
  width: 100%;
  height: 20%;
}

.unordered-list {
  margin-bottom: 40px;
}

.div-block-40 {
  margin-bottom: 40px;
}

.h2-faq {
  margin-bottom: 10px;
  color: #8aa6fa;
}

.text-block-17 {
  margin-bottom: 40px;
  font-size: 12px;
}

.h5-faq {
  color: #8aa6fa;
  font-weight: 500;
}

.image-9 {
  display: none;
  height: 250px;
}

.login-btn {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.text-forgot {
  display: block;
  color: #686868;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
}

.text-dont-have {
  display: block;
  color: #8aa6fa;
  font-size: 12px;
  text-align: center;
}

.div-block-41 {
  display: none;
}

.unbottled-impack {
  margin-bottom: 20px;
  border-style: none;
  border-radius: 10px;
  background-color: #fff;
}

.div-block-42 {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.div-block-43 {
  text-align: center;
}

.h2-account {
  color: #6a90ff;
}

.text-link {
  color: #686868;
}

.cart-type {
  display: inline-block;
  width: 40px;
  float: right;
}

.cart-detail-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  background-color: #fff;
}

.product-in-cart-detail {
  padding: 10px;
}

.summary-box {
  padding: 0px 0px 10px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  background-color: #fff;
}

.text-block-18 {
  margin-bottom: 10px;
  text-align: right;
}

.text-block-19 {
  margin-bottom: 10px;
  text-align: right;
}

.text-block-20 {
  margin-bottom: 10px;
}

.bold-text {
  margin-bottom: 10px;
}

.bold-text-2 {
  margin-bottom: 10px;
  color: #0d7ffa;
  text-align: right;
}

.text-block-21 {
  margin-bottom: 10px;
  text-align: right;
}

.bold-text-3 {
  margin-bottom: 10px;
}

.text-block-22 {
  margin-bottom: 10px;
}

.checkout-btn1 {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 200px;
  font-weight: 700;
}

.checkout-btn1.unlogin1 {
  display: none;
}

.checkout-btn-2 {
  display: block;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 200px;
  background-color: #f1f1f1;
  color: #686868;
  font-weight: 700;
}

.checkout-btn-2.unlogin1 {
  display: none;
}

.text-block-23 {
  display: inline-block;
  margin-right: 10px;
  color: #e00000;
}

.text-block-24 {
  display: inline-block;
  font-size: 14px;
  text-decoration: line-through;
}

.remove-btn {
  width: 100px;
  margin-top: 10px;
  border: 1px solid #686868;
  border-radius: 200px;
  background-color: #fff;
  color: #222;
  text-align: center;
}

.edit-btn {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 200px;
  background-color: #fff;
  color: #999;
  text-align: center;
}

.bold-text-4 {
  margin-bottom: 20px;
  text-decoration: none;
}

.div-block-44 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-44.continue1 {
}

.button-4 {
  width: 60%;
  border: 1px solid #999;
  border-radius: 200px;
  background-color: #fff;
  color: #686868;
  font-weight: 700;
  text-align: center;
}

.cart-link {
  display: inline-block;
}

.cart-link.mobile {
  display: none;
}

.cart-link.desktop {
  padding: 10px;
  float: right;
}

.text-cart {
  display: inline-block;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 5px;
  color: #686868;
  font-size: 12px;
  text-decoration: none;
}

.check-out-btn3 {
  display: block;
  width: 100%;
  border-radius: 200px;
}

.link-4.cart-item {
  display: none;
}

.div-block-47 {
  display: none;
}

.div-block-50 {
  margin-bottom: 0px;
  padding: 100px 10px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}

.text-block-27 {
  margin-bottom: 20px;
  color: #5a708c;
  font-size: 18px;
}

.continue-shopping-btn {
  width: 250px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 200px;
  font-size: 20px;
}

.brand-4 {
  float: left;
  text-align: center;
}

@media (max-width: 991px) {
  .navbar {
    text-align: center;
  }
  .navbar.home.cart {
    text-align: center;
  }
  .div-block {
    display: block;
    color: #ccd9ff;
  }
  .nav-button {
    width: 40%;
    background-color: #ccd9ff;
    color: #000;
  }
  .nav-button.login {
    display: inline-block;
    width: 50%;
  }
  .nav-button.register {
    width: 50%;
  }
  .nav-button.register:hover {
    background-color: #0d7ffa;
    opacity: 0.8;
  }
  .section-main-hero.home {
    background-image: url('assets/images/new1.png'), -webkit-linear-gradient(270deg, #6d93ff, #6d93ff);
    background-image: url('assets/images/new1.png'), linear-gradient(180deg, #6d93ff, #6d93ff);
    background-size: 1000px, auto;
  }
  .section-main-hero.login {
    background-position: 50% 50%;
    background-size: cover;
  }
  .sub-nav {
    margin-left: 0px;
  }
  .register-image {
    padding-top: 50px;
  }
  .nav-container {
    padding-right: 0px;
    padding-left: 10px;
  }
  .menu-button {
    float: left;
    background-color: transparent;
    color: #0d7ffa;
  }
  .menu-button.w--open {
    background-color: #fff;
    color: #0d7ffa;
  }
  .nav-menu {
    display: block;
    background-color: #6a90ff;
    color: #fff;
  }
  .navlink {
    display: block;
    border-bottom: 1px solid #8aa6fa;
    color: #fff;
  }
  .navlink:hover {
    background-color: #0d7ffa;
    color: #fff;
  }
  .paragraph {
    margin-top: 40px;
  }
  .refill-slide {
    background-color: transparent;
    color: #000;
  }
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .footer-section {
    padding-top: 20px;
  }
  .h3-account {
    margin-top: 0px;
  }
  .div-block-24 {
    display: block;
  }
  .div-block-26 {
    margin-bottom: 20px;
  }
  .top-up-btn {
    margin-top: 0px;
    margin-left: 0px;
  }
  .div-block-29 {
    margin-top: 0px;
  }
  .left-arrow-3 {
    left: 160px;
  }
  .right-arrow-3 {
    right: 160px;
  }
  .icon {
    bottom: 150px;
  }
  .icon-2 {
    bottom: 150px;
  }
  .section-impact2 {
    padding-top: 100px;
  }
  .column-5 {
    display: block;
  }
  .column-6 {
    display: block;
  }
  .div-block-41 {
    display: none;
  }
  .cart-link {
    display: none;
  }
  .cart-link.mobile {
    display: inline-block;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
  }
  .check-out-btn3 {
    display: block;
  }
  .link-4.cart-item {
    display: none;
  }
  .div-block-47 {
    display: none;
  }
  .image-12 {
    text-align: center;
  }
  .brand-2 {
    float: none;
  }
  .brand-3 {
    float: none;
    text-align: center;
  }
  .brand-4 {
    float: none;
  }
  .brand-5 {
    float: none;
  }
  .nav-menu-2 {
    background-color: #6a90ff;
  }
}

@media (max-width: 767px) {
  .nav-button.login {
    width: 50%;
  }
  .nav-button.register {
    width: 50%;
  }
  .section-main-hero.faq1 {
    height: 200px;
  }
  .section-main-hero.faq2 {
    height: 200px;
  }
  .section-main-hero.login {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .register-container {
    display: block;
  }
  .from {
    display: block;
    width: 100%;
  }
  .sub-nav {
    margin-left: 5px;
  }
  .sub-nav.back {
    margin-left: 10px;
  }
  .register-image {
    display: none;
  }
  .paragraph {
    margin-bottom: 0px;
  }
  .h3-account {
    display: none;
    margin-bottom: 0px;
  }
  .div-block-23 {
    display: none;
  }
  .h5-account.balance {
    display: block;
    margin-top: 0px;
    float: none;
  }
  .div-block-24 {
    margin-top: 20px;
  }
  .text-block-7 {
    display: block;
    float: none;
  }
  .div-block-26 {
    margin-bottom: 20px;
  }
  .top-up-btn {
    display: inline-block;
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    float: right;
    font-weight: 400;
    text-align: center;
  }
  .div-block-29 {
    display: inline-block;
    width: 50%;
    margin-top: 0px;
    float: none;
  }
  .row-1 {
    display: block;
  }
  .div-block-30 {
    display: block;
  }
  .column-2 {
  }
  .bottle-desktop {
    display: none;

  }
  .left-arrow-3 {
    left: 80px;
  }
  .right-arrow-3 {
    right: 80px;
  }
  .row-2 {
    display: block;
  }
  .nobottle-box._2 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .section-impact2 {
    padding-top: 50px;
  }
  .column-5 {
    display: none;
  }
  .form-block-3 {
    width: 100%;
    text-align: center;
  }
  .column-6 {
    position: relative;
    display: block;
    text-align: center;
  }
  .div-block-41 {
    display: block;
  }
  .image-10 {
    width: 100%;
  }
  .text-block-18 {
    display: inline-block;
  }
  .text-block-19 {
    display: none;
  }
  .text-block-20 {
    display: inline-block;
  }
  .text-block-21 {
    display: inline-block;
  }
  .text-block-22 {
    display: inline-block;
  }
  .checkout-btn1 {
    display: none;
  }
  .checkout-btn1.unlogin {
    display: block;
  }
  .checkout-btn-2 {
    display: none;
  }
  .checkout-btn-2.unlogin {
    display: block;
  }
  .div-block-44 {
  }
  .div-block-44.continue-box {
  }
  .text-block-25 {
    display: none;
  }
  .select-field {
    display: none;
  }
  .field-label-4 {
    display: none;
  }
  .text-field-6 {
    display: none;
  }
  .check-out-btn3 {
    display: block;
    width: 100%;
    border-radius: 200px;
  }
  .link-4.cart-item {
    display: block;
    margin-bottom: 20px;
    color: #222;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  .column-7 {
    display: inline-block;
  }
  .column-8 {
    display: inline-block;
  }
  .div-block-45 {
    display: none;
  }
  .div-block-46 {
    display: none;
  }
  .div-block-47 {
    display: block;
  }
  .div-block-48 {
  }
  .div-block-49 {
    display: none;
  }
  .field-label-5 {
    display: none;
  }
  .text-field-7 {
    display: none;
  }
  .select-field-2 {
    display: none;
  }
  .text-block-26 {
    display: none;
  }
  .div-block-50 {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 479px) {
  .navbar.home {
    text-align: center;
  }
  .div-block {
    display: block;
  }
  .nav-button {
    display: inline-block;
    width: 80%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .nav-button.login {
    display: inline-block;
    width: 94%;
    margin: 10px 0px 20px;
    border-color: #fff;
  }
  .nav-button.register {
    display: inline-block;
    width: 94%;
    min-width: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-button.register:hover {
    background-color: hsla(0, 0%, 100%, .6);
  }
  .section-main-hero.home {
    padding-top: 320px;
    background-image: url('assets/images/new1.png'), -webkit-linear-gradient(270deg, #6d93ff, #6d93ff);
    background-image: url('assets/images/new1.png'), linear-gradient(180deg, #6d93ff, #6d93ff);
    background-position: 50% 30px, 0px 0px;
    background-size: 200%, auto;
    background-repeat: no-repeat, repeat;
  }
  .section-main-hero.contact {
    padding-top: 150px;
    background-color: #6a90ff;
    background-image: url('assets/images/contact-hero-image.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-main-hero.faq1 {
    height: 150px;
    background-image: url('assets/images/Banner.png');
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section-main-hero.faq2 {
    height: 150px;
  }
  .from.contact {
    width: 90%;
  }
  .sub-nav {
    margin-left: 0px;
  }
  .back-btn {
    margin-left: 5px;
  }
  .register-image {
    display: none;
  }
  .nav-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button {
    float: left;
    color: #0d7ffa;
  }
  .menu-button:active {
    background-color: #fff;
    color: #0d7ffa;
  }
  .menu-button.w--open {
    background-color: #fff;
    color: #0d7ffa;
  }
  .nav-menu {
    background-color: #6a90ff;
  }
  .navlink {
    display: block;
    border-bottom: 1px solid #8aa6fa;
    background-color: #6a90ff;
    color: #fff;
    text-align: left;
  }
  .navlink:hover {
    background-color: #0d7ffa;
    color: #fff;
  }
  .paragraph {
    display: none;
  }
  .filnd-btn {
    width: 90%;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .filnd-btn:hover {
    opacity: 0.8;
  }
  .buy-btn {
    width: 90%;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .buy-btn:hover {
    opacity: 0.8;
  }
  .section-feature {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .heading.h3-feature {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .heading.h3-feature.impact {
    margin-top: 0px;
    font-size: 20px;
  }
  .text-feature {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .button:hover {
    opacity: 0.8;
  }
  .rehydrate-box1 {
    display: none;
  }
  .rehydrate-box2 {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
  }
  .refill-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .div-block-9 {
    display: none;
  }
  .div-block-10 {
    display: block;
  }
  .div-block-11 {
    display: block;
    text-align: center;
  }
  .refill-slide {
    height: 200px;
    padding-top: 30px;
  }
  .div-block-12 {
    display: block;
  }
  .div-block-13 {
    display: none;
  }
  .slide-nav {
    position: absolute;
  }
  .repeat-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .div-block-14 {
    display: none;
  }
  .div-block-15 {
    display: block;
  }
  .android-btn {
    width: 90%;
    margin-bottom: 15px;
  }
  .android-btn:hover {
    opacity: 0.8;
  }
  .play-store-btn {
    width: 90%;
  }
  .play-store-btn:hover {
    opacity: 0.8;
  }
  .subscript-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .subscript-form {
    width: 90%;
  }
  .text-field-5 {
    display: block;
    width: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  .submit-button {
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-size: 14px;
  }
  .footer-section {
    padding-bottom: 10px;
  }
  .text-copy-right {
    display: block;
    margin-top: 20px;
    font-size: 12px;
  }
  .text-copy-right._1 {
    display: none;
  }
  .text-copy-right._2 {
    display: block;
    color: #8aa6fa;
  }
  .footer-link {
    color: #0d7ffa;
  }
  .image-3 {
    padding-bottom: 0px;
  }
  .footer-email {
    color: #0d7ffa;
  }
  .footer-address {
    color: #0d7ffa;
  }
  .text-block-5 {
    color: #0d7ffa;
  }
  .div-block-20 {
    display: block;
  }
  .div-block-21 {
    margin-top: 20px;
  }
  .text-contact {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-4 {
    display: none;
  }
  .nav-line {
    display: none;
  }
  .dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #fff;
  }
  .dropdown-toggle:hover {
    background-color: #0d7ffa;
    color: #fff;
  }
  .myaccount-section {
    padding-top: 20px;
  }
  .h3-account {
    display: none;
  }
  .div-block-23 {
    display: none;
  }
  .h5-account.balance {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    float: none;
  }
  .div-block-24 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-7 {
    display: block;
    margin-top: 0px;
  }
  .div-block-26 {
    margin-top: 10px;
  }
  .top-up-btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    text-align: center;
  }
  .div-block-28 {
    display: block;
  }
  .div-block-29 {
    display: none;
  }
  .row-1 {
    display: block;
    margin-bottom: 20px;
  }
  .row-1.cart {
    display: block;
  }
  .div-block-30 {
    display: block;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .column-2 {
  }
  .bottle-desktop {
    display: none;
  }
  .product-rank-slider {
    background-size: auto 400px;
  }
  .h6 {
    width: auto;
    float: none;
  }
  .ig-hastag-link {
    width: auto;
    float: right;
    text-align: right;
  }
  .left-arrow-3 {
    left: 0px;
    display: block;
  }
  .right-arrow-3 {
    right: 0px;
    display: block;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-32 {
    margin-bottom: 40px;
  }
  .find-kiosk-box {
    left: 0px;
    top: 65px;
    width: 100%;
  }
  .form-block-2 {
    display: block;
  }
  .filed-1 {
    width: 75%;
  }
  .div-block-33 {
    display: block;
    width: 100%;
  }
  .next-btn {
    display: inline-block;
  }
  .topup-section {
    background-image: url('../images/topup-bg.png'), -webkit-linear-gradient(270deg, transparent, transparent);
    background-image: url('../images/topup-bg.png'), linear-gradient(180deg, transparent, transparent);
    background-size: cover, auto;
  }
  .step-box {
    margin-top: 6px;
  }
  .topup-head {
    padding-bottom: 0px;
    background-image: url('../images/Checkout-Subnav.png');
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .topup-container {
    background-color: #f1f1f1;
  }
  .topup-form-1 {
    width: 80%;
  }
  .top-up-back-btn {
    width: 100px;
  }
  .top-up-next-btn {
    width: 100px;
  }
  .column-3 {
    display: none;
  }
  .column-4 {
    display: none;
  }
  .nobottle-box._2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-impact2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
  }
  .paragraph-2 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .imapact-slider {
    height: 250px;
    margin-bottom: 10px;
    padding-top: 40px;
  }
  .container-3 {
    display: block;
  }
  .container-4 {
    display: none;
  }
  .left-arrow-4 {
    display: none;
  }
  .right-arrow-4 {
    display: none;
  }
  .slide-nav-4 {
    position: static;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .image-7 {
    display: none;
  }
  .image-8 {
    display: inline-block;
  }
  .faq-section {
    padding: 20px 10px;
  }
  .h2-faq {
    font-size: 24px;
    line-height: 32px;
  }
  .image-9 {
    display: none;
    background-image: url('../images/Banner.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .login-btn {
    margin-top: 10px;
  }
  .product-in-cart-detail {
    padding-top: 0px;
  }
  .summary-box {
  }
  .text-block-18 {
    display: inline-block;
  }
  .text-block-19 {
    display: inline-block;
  }
  .text-block-20 {
    display: inline-block;
  }
  .text-block-21 {
    display: inline-block;
  }
  .text-block-22 {
    display: inline-block;
  }
  .checkout-btn1 {
    display: none;
  }
  .checkout-btn-2 {
    display: none;
  }
  .remove-btn {
    }
  .edit-btn {
  }
  .div-block-44 {
    margin-bottom: 20px;
  }
  .button-4 {
  }
  .cart-link {
    display: none;
    width: 100px;
    height: auto;
    margin-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    float: right;
  }
  .text-cart {
    float: none;
  }
  .text-block-25 {
    display: inline-block;
  }
  .select-field {
    display: none;
  }
  .field-label-4 {
    display: none;
  }
  .text-field-6 {
    display: none;
  }
  .check-out-btn3 {
    width: 100%;
    border-radius: 200px;
  }
  .link-4 {
    display: block;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .link-4.cart-item {
    color: #222;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
  .div-block-50 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .div-block-51 {
    float: right;
  }
  .brand {
    display: inline-block;
    float: none;
    text-align: center;
  }
  .div-block-52 {
    display: inline-block;
    padding: 18px;
    float: right;
  }
  .image-11 {
    display: inline-block;
    float: none;
  }
  .brand-3 {
    float: none;
  }
  .menu-button-2 {
    float: left;
  }
  .brand-5 {
    float: none;
  }
  .nav-menu-2 {
    text-align: center;
  }
}

@font-face {
  font-family: '358bb6 5 0';
  src: url('assets/fonts/358BB6_5_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 1 0';
  src: url('assets/fonts/358BB6_1_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 2 0';
  src: url('assets/fonts/358BB6_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 a 0';
  src: url('assets/fonts/358BB6_A_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 b 0';
  src: url('assets/fonts/358BB6_B_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 f 0';
  src: url('assets/fonts/358BB6_F_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 3 0';
  src: url('assets/fonts/358BB6_3_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 0 0';
  src: url('assets/fonts/358BB6_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 8 0';
  src: url('assets/fonts/358BB6_8_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 7 0';
  src: url('assets/fonts/358BB6_7_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 c 0';
  src: url('assets/fonts/358BB6_C_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 d 0';
  src: url('assets/fonts/358BB6_D_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 e 0';
  src: url('assets/fonts/358BB6_E_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 4 0';
  src: url('assets/fonts/358BB6_4_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 9 0';
  src: url('assets/fonts/358BB6_9_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '358bb6 6 0';
  src: url('assets/fonts/358BB6_6_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}