<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3eb9858192d400018c88c3" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>my account</title>
  <meta content="my account" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container w-clearfix"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div><a href="#" class="brand-4 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>
            <div class="nav-line"></div>
            <div data-delay="0" class="w-dropdown">
            <a (click)="logout()" class="navlink w-inline-block">Sign Out</a>
            </div><a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content *ngIf="isLoaded">
  <div *ngIf="isLoaded" class="myaccount-section">
    <div class="w-container">
      <div>
        <div class="row-1 w-row">
          <div class="w-col w-col-7 w-col-tiny-6 w-col-small-small-stack">
            <h3 class="h3-account">My Account</h3>
            <div class="div-block-28 w-clearfix">
              <h5 class="h5-account balance">Account Balance:</h5>
              <div class="text-block-7">${{ balance }}</div>
            </div>
          </div>
          <div class="w-col w-col-5 w-col-tiny-6 w-col-small-small-stack">
            <div class="div-block-26 w-clearfix">
              <div class="div-block-29 w-clearfix">
                <h5 class="h5-account balance">Account Balance:</h5>
                <div class="text-block-7">${{ balance }}</div>
              </div><a (click)="navCtrl.setRoot('AmountPage')" class="top-up-btn w-button">Top Up</a></div>
          </div>
        </div>       
      </div>
      <div>
        <div class="row-2 w-row">


          <div class=" bottle-desktop w-col w-col-5" style="float:left; display:initial; min-width: 1%">
            <div *ngIf="bottles.length>=1 && mode!='add'">
                        <div>
                                <ion-slides (ionSlideDidChange)="getIndex()" loop="false">
                                    <ion-slide  *ngFor="let bottle of bottles" data-bottle-id="ng-bind: bottle.bottle_no">
                                        <div class="circle">
                                            <h4>
                                                &nbsp;
                                                <span class="balance"></span>
                                            </h4>
                                        </div>

                                        <img src="assets/images/product1.png" alt="water3 bottle">

                                        <h3 style="color:black;" class="number">{{ bottle.bottle_no }}</h3>
                                        <p style="color:black;" >{{ bottle.bottle_name }}</p>
                                    </ion-slide>
                                </ion-slides>
                        </div>

                        <div class="left-arrow-2 w-slider-arrow-left">
                          <div (click)="slidePrev()" class="w-icon-slider-left"></div>
                        </div>
                        <div class="right-arrow-2 w-slider-arrow-right">
                          <div (click)="slideNext()" class="w-icon-slider-right"></div>
                        </div>
                        <div class="mini-detail">
                        <a class="add-new-btn bottledetail w-button">Edit bottle details</a>
                        <a (click)="performDelete()" class="add-new-btn bottledetail w-button">Remove bottle</a>
                        <a (click)="mode='add'" class="add-new-btn bottledetail w-button" style="width:80%;">Add another bottle</a>
                        </div>
                    </div>

                    <div *ngIf="mode=='add' || bottles.length<1">
                    <div  data-animation="slide" data-duration="500" data-infinite="1" class="slide-product w-slider">
                      <div class="w-slider-mask">
                        <div class="w-slide"><img src="assets/images/product1.png"></div>
                      </div>
                      <div class="slide-nav-2 w-slider-nav w-round"></div>
                    </div>
                    <div class="mini-detail">
                      <div class="text-block-8">
                          <input type="text" [(ngModel)]="newBottle.bottle_number" name="bottle_number" placeholder="#enter bottle number">
                      </div>
                      <div class="product-user-name">
                        <input type="text" [(ngModel)]="newBottle.bottle_name" name="bottle_name" placeholder="Enter Bottle Name">
                      </div>
                      <a (click)="performAddBottle()" class="add-new-btn bottledetail w-button">Register bottle details</a>
                      <a *ngIf="bottles.length>=1" (click)="mode='view'" class="add-new-btn bottledetail w-button">Cancel</a></div>
                </div>
          </div>



          <div class="w-col w-col-7" style="float: right;">
            <div class="unbottled-impack">
              <div class="div-block-42 w-clearfix">
                <h5 class="h5-account">UNBOTTLED IMPACT</h5>
              </div>
              <div class="div-block-43">
                <h2 class="h2-account">0 Refills</h2>
                <div>0x of plastic bottles saved from consumption</div>
              </div>
              <div class="div-block-43">
                <h2 class="h2-account">0 m<sup>3</sup></h2>
                <div>of landfills you have saved this year with Unbottled</div>
              </div>
            </div>
            <div class="account-detail-box">
              <div class="div-block-23 w-clearfix">
                <h5 class="h5-account">ACCOUNT DETAILS</h5>
                <a *ngIf="mode!='account_edit'" (click)="mode='account_edit'" class="link-2">Edit</a>
                <a *ngIf="mode=='account_edit'" (click)="postAddress()" class="link-2">Save</a>
            </div>
              <div class="div-block-24">
                <div class="text-block-6 name">Name</div>
                <div *ngIf="mode!='account_edit'" class="text-block-6 username">{{accountInfo.first_name}} {{accountInfo.last_name}}</div>
                <div><input *ngIf="mode=='account_edit'" type="text" name="first_name" [(ngModel)]="accountInfo.first_name"></div>
                <input *ngIf="mode=='account_edit'" type="text" name="last_name" [(ngModel)]="accountInfo.last_name">
              </div>
              <div class="div-block-24">
                <div class="text-block-6 name">Address</div>
                <div *ngIf="mode!='account_edit'" class="text-block-6 username">
                    {{accountInfo.address_1}} {{accountInfo.address_2}}
                    <br>
                    {{accountInfo.city}}
                    <br>
                    {{stateName(accountInfo.state_id)}}
                    <br>
                    {{countryName(accountInfo.country_id)}}, {{accountInfo.postcode}}
                </div>
                <div *ngIf="mode=='account_edit'">
                    <div><input type="text" name="address_1" placeholder="Address 1" [(ngModel)]="accountInfo.address_1"></div>
                    <div><input type="text" name="address_2" placeholder="Address_2" [(ngModel)]="accountInfo.address_2"></div>
                    <div><input type="text" name="postcode"  placeholder="Post Code" [(ngModel)]="accountInfo.postcode"></div>
                    <ion-item *ngIf="state!=null && state!=''">
                    <ion-select interface="popover" class="addressSelect" name="state" placeholder="Select State" [(ngModel)]="accountInfo.state_id">
                    <ion-option text-left *ngFor="let s of state" value="{{ s.id }}" selected="true">{{s.name}}</ion-option>
                    </ion-select>
                    </ion-item>
                    <ion-item *ngIf="state==null || state==''">
                    <ion-select interface="popover" class="addressSelect" name="state" placeholder="--" disabled="true">
                    </ion-select>
                    </ion-item>
                    <ion-item>
                    <ion-select interface="popover" class="addressSelect" (ionChange)="updateState()" name="country" [(ngModel)]="accountInfo.country_id">
                    <ion-option text-left value="14" selected="true">Australia</ion-option>
                    <ion-option text-left value="239" selected="true">United States</ion-option>
                    </ion-select>
                    </ion-item>
                </div>
              </div>
              <div class="div-block-24">
                <div class="text-block-6 name">Phone</div>
                <div *ngIf="mode!='account_edit'" class="text-block-6 username">{{accountInfo.phone}}</div>
                <div *ngIf="mode=='account_edit'"><input type=text name="phone" [(ngModel)]="accountInfo.phone"></div>
              </div>
              <div class="div-block-24">
                <div class="text-block-6 name">Account Currency (?)</div>
                <div style="width: 100%;" class="text-block-6 username">{{accountInfo.currency}} <a (click)="switchCurrency()" class="link-2" style="margin-top: 0px">Switch Currency</a></div>
              </div>
            </div>
            <div class="account-detail-box">
              <div class="div-block-23 w-clearfix">
                <h5 class="h5-account">TRANSACTION HISTORY IN THE PAST 30 DAYS</h5><a (click)="navCtrl.setRoot('TransactionPage')" class="link-2">View All</a></div>
              <div *ngFor="let t of transactions" class="div-block-24">
                <div class="text-block-6 date">{{ helper.convert_tz(t.date.text) }}</div>
                <div class="text-block-6 username">Amount : ${{t.credit}}</div>
                <div class="text-block-6 username">Description : {{t.description}}</div>
              </div>
              <div *ngIf="transactions.length==0" class="div-block-24">
                <div class="text-block-6 date"></div>
                <div class="text-block-6 username">No transaction history</div><div style="float: right;"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21"><a href="#" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a><a href="#" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a><a href="#" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content></body>
</html>