<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Jan 29 2018 09:41:02 GMT+0000 (UTC)  -->
<html data-wf-page="5a3e479780557a0001772e76" data-wf-site="5a3d2c1e43c15000012d9aa1">
<head>
  <meta charset="utf-8">
  <title>Vending</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="../../assets/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/vending-register.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="navbar">
    <div class="w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar home w-nav">
        <div class="nav-container"><a (click)="navCtrl.setRoot('CartPage')" class="cart-link mobile w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a>
          <div class="menu-button w-nav-button">
            <div (click)="openMenu()" class="w-icon-nav-menu"></div>
          </div><a (click)="navCtrl.setRoot('HelloIonicPage')" class="brand-3 w-nav-brand"><img src="assets/images/Logo.png" width="121.5"></a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a (click)="navCtrl.setRoot('StorePage')" class="navlink w-inline-block">
              <div>Shop</div>
            </a>
            <a (click)="navCtrl.setRoot('KioskPage')" class="navlink w-inline-block">
              <div>Find a kiosk</div>
            </a>
            <a (click)="navCtrl.setRoot('WhyPage')" class="navlink w-inline-block">
              <div>Why Water3</div>
            </a>
            <a (click)="navCtrl.setRoot('FaqsPage')" class="navlink w-inline-block">
              <div>FAQ</div>
            </a>
            <a (click)="navCtrl.setRoot('ContactPage')" class="navlink w-inline-block">
              <div>Contact</div>
            </a>

            <div class="nav-line"></div>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('RegisterPage')" class="nav-button register w-button">Register</a>
            <a *ngIf="!isLoggedin" (click)="navCtrl.setRoot('LoginPage')" class="nav-button login w-button">Login</a>

            <a *ngIf="isLoggedin" (click)="navCtrl.setRoot('AccountPage')" class="navlink w-inline-block">My Account</a>

            <a (click)="navCtrl.setRoot('CartPage')" class="cart-link w-inline-block"><img src="assets/images/Cart-icon.png" class="image-11"><div class="text-cart">({{itemAmount}})</div></a></nav>
        </div>
      </div>
    </div>
  </div>
  <ion-content>
  <div class="section-main-hero home">
    <div class="container w-container">
      <p class="paragraph">Water3. Way more than water.</p><a (click)="navCtrl.setRoot('KioskPage')" class="filnd-btn w-button">Find a kiosk</a><a (click)="navCtrl.setRoot('StorePage')" class="buy-btn w-button">Buy Bottle</a></div>
  </div>
  <div class="section-feature">
    <div class="w-container">
      <h3 class="heading h3-feature">What’s Water3 all about?</h3>
      <div style="padding-bottom: 20px;">Hey, you’re mostly made of water. The planet is mostly water. 
Isn’t it time we treated water with a little more respect? 
Now you can get natural spring water on the go, without harming the planet.
Better for you, better for sea life and wildlife. Just better all round.
</div>
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="div-block-6"><img src="assets/images/feature-image01.png" width="90">
            <div class="text-feature">Fresh and healthy natural spring water</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-5"><img src="assets/images/feature-image02.png" width="90">
            <div class="text-feature">Still or sparkling</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-4"><img src="assets/images/feature-image03.png" width="90">
            <div class="text-feature">Chilled to perfection</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-3"><img src="assets/images/feature-image04.png" width="90">
            <div class="text-feature">Refill with your own bottle, or ours</div>
          </div>
        </div>
      </div>
      <div class="rehydrate-box1"><img src="assets/images/new2.png" srcset="assets/images/new2-p-500.png 500w, assets/images/new2-p-800.png 800w, assets/images/new2.png 1440w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="rehydrate">
        <div><a href="#" class="button w-button">Shop Bottles</a></div><a (click)="navCtrl.setRoot('AccountPage')" class="link rehydrate-btn">Register Bottle</a></div>
      <div class="rehydrate-box2"><img src="assets/images/Group-2_2.png" width="250" class="rehydrate">
        <div class="div-block-8"><a href="#" class="button w-button">Shop Bottles</a></div><a href="#" class="link rehydrate-btn">Register Bottle</a></div>
    </div>
  </div>
  <div class="refill-section">
    <div class="w-container">
      <h3 class="heading h3-feature">Water3 is in all places you need it most. Shopping Centres, Universities, Health & Fitness Centres, you name it. </h3>
      <div class="div-block-9"><img src="assets/images/Group.png" width="450" srcset="assets/images/Group-p-800.png 800w, assets/images/Group-p-1080.png 1080w, assets/images/Group-p-1600.png 1600w, assets/images/Group.png 1962w" sizes="(max-width: 479px) 100vw, 450px" class="refill-image"></div>
      <div class="div-block-11"><img src="assets/images/Group-2_1.png" width="250"></div>
      <div class="div-block-12">
        <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="refill-slide w-slider">
          <div class="w-slider-mask">
            <div class="w-slide">
              <h4 class="h4-refill">A cleaner, greener planet</h4>
              <div class="text-feature">Every Water3 refill stops another plastic bottle from entering the environment. You’ll be doing good without even trying. </div>
            </div>
            <div class="w-slide">
              <h4 class="h4-refill">Easy peasy</h4>
              <div class="text-feature">Filling up your bottle is ridiculously simple. Our Water3 refill stations have chilled still or sparkling spring water - just like a swish restaurant. Plus, you can get a great deal on one of our high quality reusable stainless steel water bottles, or simply BYO bottle to replenish your thirst.</div>
            </div>
            <div class="w-slide">
              <h4 class="h4-refill">Super high tech</h4>
              <div class="text-feature">Each Water3 bottle features an intuitive RFID chip in the lid, which allows you to tap and pay for refills quickly and easily, you can do it with one hand.
 
</div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
      <div class="div-block-13">
        <div class="w-row">
          <div class="w-col w-col-4">
            <h4 class="h4-refill">A cleaner, greener planet</h4>
            <div class="text-feature">Every Water3 refill stops another plastic bottle from entering the environment. You’ll be doing good without even trying. </div>
          </div>
          <div class="w-col w-col-4">
            <h4 class="h4-refill">Easy peasy</h4>
            <div class="text-feature">Filling up your bottle is ridiculously simple. Our Water3 refill stations have chilled still or sparkling spring water - just like a swish restaurant. Plus, you can get a great deal on one of our high quality reusable stainless steel water bottles, or simply BYO bottle to replenish your thirst.</div>
          </div>
          <div class="w-col w-col-4">
            <h4 class="h4-refill">Super high tech</h4>
            <div class="text-feature">Each Water3 bottle features an intuitive RFID chip in the lid, which allows you to tap and pay for refills quickly and easily, you can do it with one hand.</div>
          </div>
        </div>
      </div>
      <div class="div-block-10"><a href="#" class="filnd-btn w-button">Find a kiosk</a></div>
    </div>
  </div>
  <div *ngIf="env.platform!='mobile'" class="repeat-section">
    <div class="w-container">
      <h3 class="heading h3-feature repeat">Top up and go with the Water3 app</h3>
      <div style="padding-bottom: 20px; color:white;">Why do you need an app? We’re glad you asked. The Water3 app lets you top up on your account, buy one of our classic colour bottles and, drumroll... find the nearest water refill station. 
</div>
      <div class="div-block-14"><img src="assets/images/Group-13.png" width="500" srcset="assets/images/Group-13-p-500.png 500w, assets/images/Group-13.png 797w" sizes="(max-width: 767px) 100vw, 500px">
        <div class="div-block-16"><a href="https://play.google.com/store/apps/details?id=com.water3.testpush" class="android-btn w-inline-block"><img src="assets/images/android-icon.png" width="24.5" class="image-2"><div class="text-block-3">Get it on Android</div></a>
        <a href="https://itunes.apple.com/app/water3/id1139988955" class="play-store-btn w-inline-block"><img src="assets/images/iOS-icon.png" width="24.5" class="image-2"><div class="text-block-3">Get it on iOS</div></a></div>
      </div>
      <div class="div-block-15"><img src="assets/images/keyvisual-app.png" width="250">
        <div class="div-block-16"><a href="https://play.google.com/store/apps/details?id=com.water3.testpush" class="android-btn w-inline-block"><img src="assets/images/android-icon.png" width="24.5" class="image-2"><div class="text-block-3">Get it on Android</div></a>
        <a href="https://itunes.apple.com/app/water3/id1139988955" class="play-store-btn w-inline-block"><img src="assets/images/iOS-icon.png" width="24.5" class="image-2"><div class="text-block-3">Get it on iOS</div></a></div>
      </div>
    </div>
  </div>
  <div class="subscript-section">
    <div class="w-container">
      <h3 class="heading h3-feature">Live Life Unbottled</h3>
      <div class="div-block-17">
        <div class="subscript-form w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="form"><input type="text" class="text-field-5 w-input" maxlength="256" name="email" data-name="email" placeholder="Enter your email address" id="email"><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button email w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="text-block-4">We promise not to spam you</div>
      </div>
    </div>
  </div>
  <div class="footer-section" style="height: 250px;">
    <div class="w-container">
      <div class="row w-row">
        <div class="w-col w-col-3">
          <div><img src="assets/images/Logo.png" width="121.5" class="image-3">
            <div class="text-copy-right _1">Copyright © 2017 Water3</div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-18">
                <a (click)="navCtrl.setRoot('HelloIonicPage')" class="footer-link">Home</a>
                <a (click)="navCtrl.setRoot('StorePage')" class="footer-link">Shop</a>
                <a (click)="navCtrl.setRoot('KioskPage')" class="footer-link">Find a kiosk</a>
                <a (click)="navCtrl.setRoot('WhyPage')" class="footer-link">Why Water3</a>
                <a (click)="navCtrl.setRoot('FaqsPage')" class="footer-link">FAQ</a>
                <a (click)="navCtrl.setRoot('ContactPage')" class="footer-link">Contact</a></div>
            </div>
            <div class="w-col w-col-6 w-col-tiny-6">
              <div class="div-block-19">
                <a href="#" class="footer-link">Shipping</a>
                <a (click)="navCtrl.setRoot('TermsPage')" class="footer-link">Term of Services</a>
                <a (click)="navCtrl.setRoot('PrivacyPage')" class="footer-link">Privacy Policy</a></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="div-block-21">
            <a href="https://www.facebook.com/water3global" class="social-link w-inline-block"><img src="assets/images/fb-icon.png" class="social-icon"></a>
            <a href="https://www.instagram.com/_water3_" class="social-link w-inline-block"><img src="assets/images/ig-icon.png" class="social-icon"></a>
            <a href="https://twitter.com/water3_" class="social-link w-inline-block"><img src="assets/images/twitter-icon.png" class="social-icon"></a>
            <a href="https://www.linkedin.com/company/water3" class="social-link w-inline-block"><img src="assets/images/linkedin-icon.png" class="social-icon"></a>
            <a href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" class="social-link w-inline-block"><img src="assets/images/youtube-icon.png" class="social-icon"></a>
            <a href="mailto:info@water3.com.au" class="footer-email">info@water3.com.au</a>
            <div class="text-block-5">+61 410 000 000</div>
            <div class="footer-address">12 New Street Name, Suburb<br>QLD 4000, Australia</div>
            <div class="text-copy-right _2">Copyright © 2017 Water3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</ion-content></body>
</html>