<!DOCTYPE html>
<html lang="en-AU" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filtered water: a healthier alternative to plastic bottled water</title>
        <meta name="title" content="water3 | think better. be better. do more">
        <meta name="description" content="water3 is revolutionising the way we drink water; via a network of innovative kiosks that provide fresh and healthy chilled spring water.">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:400,700,300%7CUbuntu">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style-1489479537.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/app-1486002319.css">
        <link rel="shortcut icon" href="favicon-1486002253.ico" type="image/x-icon">
        <link rel="icon" href="favicon-1486002253.ico" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83198216-1', 'auto');
    ga('send', 'pageview');
</script>
    </head>
        <body class="layout-default" overflow-scroll="true">
        
        <header class="page">
        <div class="container">
        <a class="branding" href="index.html" title="Home">
            <img src="assets/img/water3-logo.png" alt="Water3">
        </a>

        <button class="open-navigation" type="button" aria-label="Toggle menu" (click)="openMenu()">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
            <span class="text">Menu</span>
        </button>

        <a class="btn btn-top-up btn-circle btn-icon" (click)="navCtrl.setRoot('TopupPage')" title="Top up">
            <span class="icon icon-top-up hidden-hover"></span>
            <span class="icon icon-top-up-white visible-hover"></span>
            <span class="text">Top Up</span>
        </a>
    </div>
</header>
        <ion-content>
        <main class="page home with-bottom-button">

        <section id="about" class="component component-text">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                       <h1 class="text-center">Privacy Policy</h1>

                        <div id="overview" class="anchor"></div>
                        <h2>Overview</h2>
                        <p>water3 Pty Ltd ABN 73 605 096 008 (<strong>"water3"</strong>) is committed to protecting your Personal Information.</p>
                        <p>water3 is bound by the <em>Privacy Act 1988 (Cth)</em> (<strong>"the Privacy Act"</strong>), including the 13 Australian Privacy Principles (<strong>"APP(s)"</strong>). water3 will collect, manage, use and disclose, Personal Information in accordance with its Privacy Policy and all relevant Australian legislation.</p>
                        <p>The purpose of this Policy is to outline how water3 deals with Personal Information to ensure that it complies with the Privacy Act.</p>

                        <div id="policy" class="anchor"></div>
                        <h2>The Policy</h2>
                        <h3>Legislation</h3>
                        <p>The Privacy Act outlines a comprehensive national privacy scheme for private sector organisations. Minimum standards are established for the handling of Personal Information by private organisations.</p>
                        <p>The Privacy Act sets out 13 core principles (the APPs) which are the standard principles water3 must comply with in relation to the Personal Information it holds.</p>

                        <div id="collection" class="anchor"></div>
                        <h3>Collection</h3>
                        <p>water3 only collects Personal Information that is reasonably necessary for its functions and activities. Furthermore, water3 is committed to ensuring that your Personal Information is managed in an open and transparent way. Personal and / Sensitive Information is collected through our website and mobile application.</p>
                        <p>water3 may collect and hold Personal and/or Sensitive Information about you, including your:</p>
                        <ul>
                            <li>Name;</li>
                            <li>Address;</li>
                            <li>Gender;</li>
                            <li>Address;</li>
                            <li>Contact Details (phone number, facsimile number, email address);</li>
                            <li>Location Information;</li>
                            <li>Date of Birth;</li>
                            <li>Language;</li>
                            <li>Nationality;</li>
                            <li>Aboriginal and Torres Strait Islander status;</li>
                            <li>Bank account details;</li>
                            <li>Master Card details;</li>
                            <li>Credit Card details;</li>
                            <li>Visa Card details;</li>
                            <li>Photograph;</li>
                            <li>Other information relevant to providing you with the services you are, or someone else you know is seeking.</li>
                        </ul>
                        <p>The Personal Information that water3 collects and holds about you, depends on your interaction with water3 however, generally, water3 will collect and hold your Personal and/or Sensitive Information for the purpose of:</p>
                        <ul>
                            <li>Providing services to you or someone else you know;</li>
                            <li>Recording concerns, complaints and resolutions;</li>
                            <li>Recording payment details;</li>
                            <li>Providing you with information about other services, programs and activities that water3 offers that may be of interest to you;</li>
                            <li>Providing you with information about water3 news and any updates such as fees or policies;</li>
                            <li>Providing push-notification services via location and hyper-geo-location information;</li>
                            <li>Facilitating water3's internal business operations, including the fulfilment of any legal requirements;</li>
                            <li>Analysing water3's services and customer needs with a view to developing new and/or improved services;</li>
                            <li>Contacting you to provide a testimonial for water3;</li>
                            <li>Personal information will generally be collected by water3 directly from you through the use of any of water3's or its authorised agents, standard forms or direct communication. In the event that Personal Information is collected from you indirectly because it is unreasonable or impractical to collect personal information directly from you, we will endeavour to notify you about these instances in advance, or where that is not possible, as soon as reasonably practicable after the information has been collected.</li>
                        </ul>

                        <h3>Use and Disclosure</h3>
                        <p>water3 uses and/or discloses Personal and /or Sensitive Information about you for the purposes for which it was collected. In some instances, water3 may also disclose Personal and/or Sensitive Information about you to:</p>
                        <ul>
                            <li>Service providers who assist water3 in operating its business. Please note that service providers are required to comply with water3's Privacy Statement and confidentiality agreement in how they handle your Personal and/or Sensitive Information;</li>
                            <li>A purchaser of the assets and operation of water3's business, providing those assets and operations are purchased as a going concern;</li>
                            <li>Its related entities if applicable;</li>
                            <li>Related and affiliated third parties for the purpose of solicited and unsolicited marketing and advertising;</li>
                            <li>Third parties for the purpose of solicited and unsolicited marketing and advertising;</li>
                            <li>Overseas agencies for the purposes of promotion and marketing, noting that these agencies have agreed to be bound by and are contractually obliged to adhere to the Australian Privacy Principles;</li>
                            <li>Commonwealth and State Governments and Agencies; and</li>
                            <li>Offshore Entities. In accordance with APP 8, water3 takes reasonable steps to ensure that offshore entities do no breach any of the APPs other than APP 1 in relation to open and transparent management of personal information.</li>
                        </ul>

                        <h3>Anonymity and Pseudonymity</h3>
                        <p>The APPs provide for the option of having you dealt with anonymously or by pseudonym. You can advise of your instructions to be anonymous or use a pseudonym, during your interaction with water3. However, please note that water3 is not required to provide to this option where:</p>
                        <ul>
                            <li>We are required or authorised by law or a Court or tribunal order to deal with identified individuals; or</li>
                            <li>It is impracticable for water3 to deal with individuals who have not identified themselves.</li>
                        </ul>

                        <h3>Security</h3>
                        <p>All reasonable measures will be taken to ensure Personal and Sensitive Information is stored safely to protect it from misuses, loss, unauthorised access, modification or disclosure, including electronic and physical security measures.</p>
                        <p>water3 will ensure that Personal and Sensitive Information is kept for no longer than is necessary for the purposes for which it may lawfully be used. Records will be disposed of securely and in accordance with any requirements for the retention and disposal of Personal and Sensitive Information.</p>

                        <h3>Access of Personal Information</h3>
                        <p>water3 will provide you with access to your Personal and/or Sensitive Information about them upon receipt of a written request sent to our contact details provided below. water3 will endeavour to acknowledge such requests within 14 days of its receipt and provide the requested information/documentation within 30 days. A reasonable fee may be charged to cover costs of processing such requests.</p>
                        <p>Please note that there may be certain circumstances where water3 may decline a request for access to Personal and /or Sensitive Information:</p>
                        <ul>
                            <li>The request for access if frivolous or vexatious;</li>
                            <li>Providing access would pose a serious threat to the life or health of an individual;</li>
                            <li>Providing access would have an unreasonable impact upon the privacy of other individuals;</li>
                            <li>The information relates to existing or anticipated legal proceedings between water3 and you, and the information would not be accessible by the process of discovery in proceedings;</li>
                            <li>Providing access would reveal information about a commercially sensitive decision making process;</li>
                            <li>Providing access would be unlawful;</li>
                            <li>Denying access is required or authorised by or under law;</li>
                            <li>Providing access would be likely to prejudice an investigation of possible unlawful activity; or</li>
                            <li>Providing access would be likely to prejudice the activities of enforcement bodies.</li>
                        </ul>

                        <h3>Correction of Personal Information</h3>
                        <p>If you believe water3 holds inaccurate or outdated information about you, you should notify water3 immediately by contacting us via contact details provided below. water3 will take reasonable steps to correct the information so that is accurate, complete and up to date.</p>

                        <h3>Complaints</h3>
                        <p>If you believe water3 has breached the APPs, you may make a complaint in writing to water3 at the contact details provided below.</p>
                        <p>water3 will endeavour to acknowledge such complaints within fourteen (14) days of its receipt and will thereafter propose a deadline for a response.</p>
                        <p>water3's main objective in responding to privacy complaints is to conciliate an outcome which is acceptable to the complainant and which addresses any broader or systemic privacy issues which may arise.</p>
                        <p>If you do not agree with water3's response, an internal review process is available or a complainant may refer the matter for independent mediation by the Office of the Information Commissioner.</p>

                        <div id="further-information" class="anchor"></div>
                        <h2>Further Information</h2>
                        <p>For more information on your rights to Privacy, please read through the Australian Privacy Principles Guidelines located on the <a href="https://www.oaic.gov.au/resources/agencies-and-organisations/app-guidelines/APP_guidelines_complete_version_1_April_2015.pdf">following website</a>.</p>

                        <div id="related-procedures" class="anchor"></div>
                        <h2>Related Procedures</h2>
                        <p>Information and notification will be provided in the event that the law changes and those changes affect water3's use of Personal and/or Sensitive Information.</p>

                        <div id="definitions" class="anchor"></div>
                        <h2>Definitions</h2>
                        <p><strong>Personal Information</strong> is defined in the Privacy Act to means information or an opinion, whether forming part of a database or not, whether true or not and whether recorded in a material form or not, about an identified individual, or an individual who is reasonably identifiable:</p>
                        <ol class="alpha">
                            <li>Whether the information or opinion is true or not; and</li>
                            <li>Whether the information or opinion is recorded in a material form or not.</li>
                        </ol>
                        <p><strong>Location Information</strong> allows us to infer that you are either interested in the place or that you might be at the place. For example, if your device connects to, or appears to be within range, of a particular shopfront, we infer that you may like to see information about that shop. We use that information to provide you with information about that shop, or similar shops, to you.</p>
                        <p><strong>Sensitive Information</strong> is defined in the Privacy Act to mean information or an opinion about an individual's:</p>
                        <ol class="alpha">
                            <li>Racial or ethnic origin;</li>
                            <li>Political opinions;</li>
                            <li>Membership of a political association;</li>
                            <li>Religious beliefs of affiliations;</li>
                            <li>Philosophical beliefs;</li>
                            <li>Membership of a professional or trade association;</li>
                            <li>Membership of a trade union;</li>
                            <li>Sexual orientation or practices;</li>
                            <li>Criminal record – that is also personal information;</li>
                            <li>Health information about an individual;</li>
                            <li>Genetic information about an individual that is not otherwise health information;</li>
                            <li>Biometric information that is to be used for the purpose of automated biometric verification or biometric identification; or</li>
                            <li>Biometric templates.</li>
                        </ol>

                        <div id="contact-details" class="anchor"></div>
                        <h2>Contact Details</h2>
                        <p>water3 Pty Ltd<br>270 Lahrs Road<br>Ormeau QLD 4208</p>
                        <p>Phone: +61 7 3149 3750<br>Email: <a href="mailto:info@water3.com.au">info@water3.com.au</a></p>
                    </div>
                </div>
            </div>
        </section>

        
        
    </main>

        <footer class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 social">
                <h3>Follow Us</h3>

                <div class="actions">
                    <a class="btn btn-c btn-circle btn-icon" href="https://www.facebook.com/water3global" title="Facebook" target="_blank">
                        <span class="icon icon-facebook hidden-hover"></span>
                        <span class="icon icon-facebook-white visible-hover"></span>
                        <span class="text">Facebook</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://twitter.com/water3_" title="Twitter" target="_blank">
                        <span class="icon icon-twitter hidden-hover"></span>
                        <span class="icon icon-twitter-white visible-hover"></span>
                        <span class="text">Twitter</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.linkedin.com/company/water3" title="LinkedIn" target="_blank">
                        <span class="icon icon-linkedin hidden-hover"></span>
                        <span class="icon icon-linkedin-white visible-hover"></span>
                        <span class="text">LinkedIn</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.instagram.com/_water3_" title="Instagram" target="_blank">
                        <span class="icon icon-instagram hidden-hover"></span>
                        <span class="icon icon-instagram-white visible-hover"></span>
                        <span class="text">Instagram</span>
                    </a>

                    <a class="btn btn-c btn-circle btn-icon" href="https://www.youtube.com/channel/UCCPqmAd8l2dCmH2iGXbSFvg" title="YouTube" target="_blank">
                        <span class="icon icon-youtube hidden-hover"></span>
                        <span class="icon icon-youtube-white visible-hover"></span>
                        <span class="text">YouTube</span>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 subscribe">
                <h3>Subscribe</h3>

                <form method="POST" action="https://water3.com.au/subscribe#subscribe" accept-charset="UTF-8" id="subscribe"><input name="_session_key" type="hidden" value="eUawDN3pvQfIycwYiJkiaxytd1gS29WbCAYC0Pn2"><input name="_token" type="hidden" value="fzjkFcCSHFdpYLYa4Iogpix7ogBm5Cuw1DLYfo30">
                    <div class="pre-alerts">
                                                                    </div>

                    <div class="field-group">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email address</label>
                            <span class="icon icon-envelope"></span>
                            <input class="form-control" placeholder="Email address" name="email" type="email" id="email">
                        </div>
                    </div>

                    <button class="btn btn-c" type="submit">Submit</button>

                    <div class="post-alerts">
                                                                    </div>
                </form>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="navigation">
                    <li><a (click)="navCtrl.setRoot('KioskPage')" title="Find kiosks">Find kiosks</a></li>
                    <li><a (click)="navCtrl.setRoot('FaqsPage')"  title="Frequently asked questions">FAQs</a></li>
                    <li><a (click)="navCtrl.setRoot('TermsPage')"  title="Terms of service">Terms of service</a></li>
                    <li><a (click)="navCtrl.setRoot('PrivacyPage')"  title="Privacy policy">Privacy policy</a></li>
                </ul>

                <p class="question">Have a question? <a (click)="navCtrl.setRoot('ContactPage')" title="Contact us">Contact us</a></p>

                <p class="copyright">
                    Copyright &copy; 2017 Vending Machines International PTE LTD. All Rights Reserved.<br>
                    Designed by <a href="https://www.littlegiant.co.nz/" title="Little Giant">Little Giant</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
</ion-content>
        <section class="component component-bottom-button responsive">
    <div class="button-container">
        <a class="btn btn-icon-inline btn-square btn-facebook-messenger" href="https://m.me/water3global" target="_blank">
            <span class="icon icon-facebook-messenger"></span>
            Message water3
        </a>
    </div>
</section>
    </body>

    <script type="text/javascript" src="assets/js/vendor-1486002319.js"></script>
        <script type="text/javascript" src="assets/js/app-1486002319.js"></script>

</html>
